[mol_button_typed] {
	align-content: center;
	align-items: center;
	padding: var(--mol_gap_text);
	border-radius: var(--mol_gap_round);
	gap: var(--mol_gap_space);
}

[mol_button_typed][disabled] {
	color: var(--mol_theme_text);
	pointer-events: none;
}

[mol_button_typed]:hover ,
[mol_button_typed]:focus {
	cursor: pointer;
	background-color: var(--mol_theme_hover);
}

[mol_button_typed]:hover [mol_icon] ,
[mol_button_typed]:focus [mol_icon] {
	transform: scale(2);
}
