[mol_button_typed] {
	display: inline-block;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem .75rem;
	border-radius: var(--mol_skin_round);
}

[mol_button_typed][disabled] {
	color: var(--mol_theme_text);
	pointer-events: none;
}

[mol_button_typed]:hover ,
[mol_button_typed]:focus {
	cursor: pointer;
	background-color: var(--mol_theme_hover);
}
