[mol_number] {
	display: flex;
	flex: 1000 1 auto;
	position: relative;
}

[mol_number]:hover {
	z-index: 2;
}

[mol_number_stringer] {
	appearance: textfield;
	text-align: right;
	position: relative;
}

[mol_number_stringer]::-webkit-inner-spin-button {
	display: none;
}

[mol_number_clicker] {
	background-color: var(--mol_skin_light);
	width: 1.75rem;
	padding: .25rem;
	position: absolute;
	height: 100%;
	opacity: 0;
	z-index: -1;
}

[mol_number_clicker] [mol_icon] {
	width: 1rem;
	height: 1rem;
}

[mol_number]:hover > [mol_number_clicker] {
	opacity: 1;
	transition: opacity .2s .5s ease-out;
}

[mol_number_clicker]:focus {
	z-index: 1;
	opacity: 1;
}

[mol_number_decrementer] {
	right: 100%;
}

[mol_number_incrementer] {
	left: 100%;
}
