[mol_number] {
	display: flex;
	flex: 0 1 auto;
	position: relative;
	align-items: stretch;
	max-width: 100%;
}

[mol_number]:hover {
	z-index: 2;
}

[mol_number_string] {
	appearance: textfield;
	text-align: right;
	position: relative;
	flex: 1 1 7rem;
	width: 7rem;
}

[mol_number_string]::-webkit-inner-spin-button {
	display: none;
}

[mol_number_inc] ,
[mol_number_dec] {
	margin: 0;
	flex: 0 0 auto;
}

[mol_number_inc_icon] ,
[mol_number_dec_icon] {
	display: block;
	width: 1rem;
	height: 1rem;
}
