:root {
	--mol_skin_base: hsl( 140 , 35% , 50% );
	--mol_skin_round: .25rem;
}

[mol_app_demo_navigator] {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0;
}

[mol_app_demo_navigator_tabler] {
	width: 100%;
}

[mol_app_demo_navigator_linker] {
	padding: 0 1rem 0 0;
}

[mol_app_demo_navigator_expander] {
	padding: 0;
	height: 100%;
}

[mol_app_demo_mainer] {
	background: var(--mol_skin_light);
	overflow: auto;
}

[mol_app_demo_lister] {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: .5rem;
	align-content: flex-start;
	align-items: flex-start;
}

[mol_app_demo_screen] {
	max-height: 45%;
}

[mol_app_demo_pager_bodier] {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}

[mol_app_demo_detailerRower] {
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	box-shadow: none;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

[mol_app_demo_pager_backer] {
	color: var(--mol_skin_base_text);
	display: flex;
	align-items: center;
	margin-right: -1rem;
}

[mol_app_demo_pager_backer_icon] {
	transform: rotateZ(180deg);
}

[mol_app_demo_welcomer] {
	flex: 1 1 auto;
}

[mol_app_demo_optionerLinker] {
	padding: 0;
}
