:root {
	/*--mol_skin_base: hsl( 140 , 35% , 50% );*/
}

[mol_app_demo_menu] {
	flex: 1 1 200px;
}

[mol_app_demo_menu_head] {
	flex-direction:column;
}

[mol_app_demo_detail], 
[mol_app_demo_detail_row],
[mol_app_empty_message] {
	flex: 1000 1 600px;
}

[mol_app_demo_menu_filter] {
	align-items:stretch;
}

[mol_app_demo_menu_filter] [mol_search_suggest_filter_string] {
	padding: .5rem 1rem;
}

[mol_app_demo_nav_table] {
	width: 100%;
}

[mol_app_demo_nav_row] {
	display: flex;
}

[mol_app_demo_nav_option] {
	padding: 0 .5rem 0 0;
	display: flex;
	flex: 1;
	align-items: center;
	text-transform: capitalize;
}

[mol_app_demo_nav_expand] {
	padding: 0;
	margin: 0;
	align-self: stretch;
}

[mol_app_demo_nav_content] {
	flex-grow: 1;
}

[mol_app_demo_main] {
	background: var(--mol_skin_light);
	overflow: auto;
}

[mol_app_demo_list] {
	display: flex;
	flex-wrap: wrap;
	padding: .5rem;
	align-content: flex-start;
	align-items: flex-start;
}

[mol_app_demo_screen] {
	max-height: 45%;
}

[mol_app_demo_page_body] {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}

[mol_app_demo_detail_row] {
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	box-shadow: none;
}

[mol_app_demo_detail_row] > * {
	padding: .5rem;
}

[mol_app_demo_page_close] {
	color: inherit;
	align-items: center;
	padding: 1rem;
}

[mol_app_demo_welcome] {
	flex: 1 1 auto;
}

[mol_app_demo_option_link] {
	padding: 0;
}

[mol_app_demo_sample_large] {
	box-sizing: border-box;
}

[mol_app_demo_detail_source_link],
[mol_app_demo_detail_close]{
	color: inherit;
	padding: 1rem;
}

[mol_app_demo_placeholder] {
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	justify-content: flex-start;
}

[mol_app_demo_placeholder_content] {
	max-width: 65rem;
	padding: 0 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

[mol_app_demo_placeholder_welcome_text] {
	font-size: 2rem;
}

[mol_app_demo_placeholder_image_technology],
[mol_app_demo_placeholder_image_code_rate],
[mol_app_demo_placeholder_image_programming],
[mol_app_demo_placeholder_image_github] {
	box-shadow: none;
	margin: 1rem 1rem .5rem 0;
	width: 10rem;
}

[mol_app_demo_placeholder_image_github] {
	height: 2rem;
	width: 2rem;
	margin: 0;
}

[mol_app_demo_placeholder_text_about] {
	margin-top: 2rem;

}

[mol_app_demo_placeholder_text_technology],
[mol_app_demo_placeholder_text_code_rate],
[mol_app_demo_placeholder_text_programming] {
	display: flex;
	align-items: center;
	min-height: 8rem;
	width: 19rem;

	margin: 1rem 2rem 0 0;
}

[mol_app_demo_placeholder_text_programming] {
	margin-right: 0;
}

[mol_app_demo_placeholder_github] {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}
