[mol_app_demo_optioner] {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

[mol_app_demo_mainer] {
	background: var(--mol_skin_light);
	overflow: auto;
}

[mol_app_demo_lister] {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: .5rem;
	align-content: flex-start;
	align-items: flex-start;
}

[mol_app_demo_screen] {
	max-height: 45%;
}

[mol_app_demo_pager_bodier] {
	display: flex;
	align-items: flex-start;
}

[mol_app_demo_pager_backer] {
	color: var(--mol_skin_base_text);
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
}
