[mol_app_demo] {
	display: flex;
	height: 100%;
}

[mol_app_demo_optioner] {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

[mol_app_demo_optioner] > * {
	margin: .5rem;
}

[mol_app_demo_mainer] {
	background: white;
	overflow: auto;
}

[mol_app_demo_lister] {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: .5rem;
	align-content: flex-start;
	align-items: flex-start;
}

[mol_app_demo_screen] {
	max-height: 45%;
}

[mol_app_demo_pager_bodier] {
	padding: .5rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

[mol_app_demo_pager_bodier] > * {
	margin: .5rem;
}

[mol_app_demo_pager_backer] {
	color: var( --mol_skin_base_fore );
}
