[mol_app_bench_list_mol] {
	padding: .5rem;
}

[mol_app_bench_list_mol_header] {
	padding: .5rem;
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

[mol_app_bench_list_mol_rower] {
	padding: .5rem;
	cursor: pointer;
}

[mol_app_bench_list_mol_rower_selected] {
	background: #eee;
}

[mol_app_bench_list_mol_rower_titler] {
	font-weight: bold;
}
