[mol_switcher] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: auto;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
	background: var(--mol_skin_light_line);
}

[mol_switcher_optioner] {
	padding: .5rem .75rem;
	flex: 1 1 0;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
}

[mol_switcher_optioner][mol_checker_checked] {
	background: var(--mol_skin_card);
	color: black;
}
