[mol_switcher] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
	background: var(--mol_skin_light_line);
}

[mol_switcher_optioner] {
	padding: .5rem .75rem;
	flex: 1 1 auto;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	background: var(--mol_skin_passive);
}

[mol_switcher_optioner][mol_checker_checked] {
	background: var(--mol_skin_card);
	color: black;
	z-index: 1;
}

[mol_switcher_optioner][disabled] {
	color: var(--mol_skin_passive_text);
}
