[mol_chart_legend] {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: .5rem;
	margin: .5rem;
	flex: 0 1 auto;
}

[mol_chart_legend_graph_legend] {
	display: flex;
	justify-content: flex-start;
	flex: 1 1 8rem;
	padding: .5rem;
}

[mol_chart_legend_graph_title] {
	margin: 0 .25rem;
}

[mol_chart_legend_graph_sample_box] {
	position: relative;
	width: 1.5rem;
	flex: none;
}
