[mol_check] {
	flex: 0 0 auto;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	border: none;
	font-weight: inherit;
	box-shadow: none;
	text-align: left;
	padding: .5rem;
	display: inline-flex;
	flex-wrap: nowrap;
	color: inherit;
}
