[mol_plot_dot] {
	color: var(--mol_skin_base);
	stroke-linecap: round;
}

[mol_plot_dot_sample] {
	width: .5rem;
	height: .5rem;
	border-radius: 1rem;
	background: currentColor;
	position: absolute;
	top: .75em;
	left: 50%;
	transform: translate(-50%, -50%);
}
