/*@keyframes mol_viewer_show {*//*from {*//*opacity: 0;*//*}*//*}*//*[mol_viewer] {*//*animation: mol_viewer_show .1s ease;*//*}*/
[mol_viewer_error] {
    background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
    background-size: 28px 28px !important
}
@-webkit-keyframes mol_viewer_error_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
@keyframes mol_viewer_error_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
[mol_viewer_error="$mol_atom_wait"] {
    background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_viewer_error_move .25s steps(6) infinite !important;
            animation: mol_viewer_error_move .25s steps(6) infinite !important
}
[mol_stacker] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    overflow: hidden;
    box-shadow: 0 0 0 1px #ddd
}
[mol_stacker_mainer] {
    height: 100%;
    margin-left: -150%;
    margin-bottom: -100vh;
    -webkit-transition: .25s ease margin;
    transition: .25s ease margin;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fcfcfc;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 50%;
            flex: 1000 1 50%;
    box-shadow: 0 0 0 1px #ddd;
    max-width: 100%
}
[mol_stacker_addoner] {
    height: 100%;
    margin-right: 150%;
    margin-bottom: -100vh;
    -webkit-transition: .25s ease margin;
    transition: .25s ease margin;
    position: relative;
    background: #fcfcfc;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 0 1px #ddd;
    z-index: 0;
    max-width: 100%
}
[mol_stacker_side] > [mol_stacker_mainer] {
    margin-left: 0
}
[mol_stacker_side] > [mol_stacker_addoner] {
    margin-right: 0
}
[mol_rower] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
    padding: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px #ddd
}
[mol_rower] > * ,
[mol_rower_sub] > * {
    margin: 8px;
    margin: .5rem
}
[mol_rower_sub] {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_form_barFields] {
    padding: 0 8px;
    padding: 0 .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_barFields] > * {
    margin: 8px;
    margin: .5rem
}
[mol_form_barButtons] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-shadow: none
}
[mol_form_field] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 6em
}
[mol_form_field_label] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] > * {
    padding: 4px 8px;
    padding: .25rem .5rem
}
[mol_form_field_errorer] {
    color: red
}
[mol_form_field_errorer]:not(:empty):before {
    content: '('
}
[mol_form_field_errorer]:not(:empty):after {
    content: ')'
}
[mol_stringer] {
    box-shadow: 0 0 0 1px #ddd;
    outline-offset: 0;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    padding: .5rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 auto;
            flex: 1000 1 auto;
    width: 8em;
    background: #eee;
    color: gray
}
[mol_stringer]:enabled {
    background: white;
    color: rgba( 0 , 0 , 0 , .9 )
}
[mol_stringer]:enabled:hover ,
[mol_stringer]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5988C8;
    z-index: 1
}
[mol_clicker] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    font: inherit;
    background: none;
    box-shadow: 0 0 0 1px #ddd;
    border-radius: 4px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
    opacity: .9;
    position: relative
}
[mol_clicker]:disabled {
    background: #eee;
    color: gray
}
[mol_clicker]:not(:disabled):hover ,
[mol_clicker]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5988C8;
    z-index: 1;
    cursor: pointer;
    opacity: 1
}
[mol_clicker_major]:not(:disabled) {
    background: #5988C8;
    color: white
}
[mol_clicker_warn]:not(:disabled) {
    background: #FFD6D6
}
[mol_clicker_minor]:not(:disabled) {}
[mol_app_supplies_enter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_scroller] {
    overflow: auto;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-sizing: border-box;
    will-change: scroll-position;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    outline: 1px solid #ddd
}
@media print {
    [mol_scroller] {
        overflow: visible
    }
}/*[mol_scroller]::-webkit-scrollbar {*//*width: .5rem;*//*height: .5rem;*//*}*//*[mol_scroller]::-webkit-scrollbar-track {*//*background: #eee;*//*}*//*[mol_scroller]::-webkit-scrollbar-thumb {*//*background: #ccc;*//*}*/
[mol_pager] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
    -ms-flex-item-align: stretch;
        align-self: stretch
}
[mol_pager_header] {
    background: #5988C8;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow: hidden;
    position: relative
}
[mol_pager_titler] {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    padding: 1rem
}
[mol_pager_bodier] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background: #fcfcfc;
    color: rgba( 0 , 0 , 0 , .9 )
}
[mol_pager_footer] {
    background: #5988C8;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow: hidden
}
[mol_coder] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_lister] {
    will-change: contents
}
[mol_linker] {
    text-decoration: none;
    color: #5988C8;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    padding: .5rem;
    box-sizing: border-box
}
[mol_linker_current] {
    color: inherit;
    cursor: default
}
[mol_linker]:focus ,
[mol_linker]:not([mol_linker_current]):hover {
    outline: none;
    box-shadow: 0 0 0 2px #5988C8
}
[mol_carder] {
    box-shadow: 0 0 0 1px #ddd;
    background: white;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column/*overflow: hidden;*/
}
[mol_carder_contenter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    border-radius: 4px;
    overflow: hidden
}
[mol_carder_statuser] {
    background: #ddd;
    text-transform: capitalize;
    padding: 0 16px;
    padding: 0 1rem;
    line-height: 2;
    opacity: .75
}
[mol_carder_status="approved"] {
    box-shadow: 0 0 0 1px #96DAA9
}
[mol_carder_status="approved"] [mol_carder_statuser] {
    background: #96DAA9
}
[mol_carder_status="selected"] {
    box-shadow: 0 0 0 2px #5988C8
}
[mol_carder_status="selected"] [mol_carder_statuser] {
    background: #5988C8;
    color: white
}
[mol_labeler] {/*display: inline-flex;*//*align-items: baseline;*//*flex-wrap: wrap;*/
}
[mol_labeler_titler] {
    color: gray;
    font-size: 13.6px;
    font-size: .85rem
}
[mol_labeler_contenter] {/*font-weight: bolder;*//*flex: 0 1 auto;*//*display: flex;*/
}
[mol_coster] {
    white-space: nowrap;
    font-weight: normal
}
[mol_coster_mainer] {
    display: inline
}
[mol_coster_prefixer] {
    font-weight: lighter;
    display: inline
}
[mol_coster_postfixer] {
    font-weight: lighter;
    display: inline
}
[mol_app_supplies_carder] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 512px;
            flex: 0 1 512px;
    -ms-flex: 0 1 32rem;
        flex: 0 1 32rem;
    position: relative
}
[mol_app_supplies_carder_linker] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
[mol_app_supplies_carder_linker][mol_linker_current] {
    box-shadow: 0 0 0 1px #5988C8
}
[mol_app_supplies_carder_linker][mol_linker_current] {
    box-shadow: 0 0 0 1px #5988C8
}
[mol_app_supplies_carder_contenter] {}
[mol_app_supplies_carder_grouper] {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start
}
[mol_app_supplies_carder_codeItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem
}
[mol_app_supplies_carder_costItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem;
    text-align: right
}
[mol_app_supplies_carder_providerItem] {
    -webkit-box-flex: 10;
        -ms-flex: 10 1 160px;
            flex: 10 1 160px;
    -ms-flex: 10 1 10rem;
        flex: 10 1 10rem
}
[mol_app_supplies_lister_searchPanel] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: #5988C8;
    position: relative
}
[mol_app_supplies_lister_body] {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start
}
[mol_app_supplies_lister_body] > * {
    margin: 16px;
    margin: 1rem
}
[mol_icon] {
    fill: currentColor;
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem
}
[mol_checker] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    box-shadow: none;/*padding: .5rem 0;*/
    font-weight: normal
}
[mol_checker]:before {
    content: '✔';
    border-radius: 4px;
    font-size: 16px;
    font-size: 1rem;
    width: 19.2px;
    width: 1.2rem;
    height: 19.2px;
    height: 1.2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19.2px;
            flex: 0 0 19.2px;
    -ms-flex: 0 0 1.2rem;
        flex: 0 0 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    box-shadow: 0 0 0 1px #ddd
}
[mol_checker]:not([mol_checker_checked]):before {
    color: transparent
}
[mol_checker_checked]:before {/*background: var(--mol_skin_focus);*//*color: var(--mol_skin_focus_fore);*//*box-shadow: none;*/
}
[mol_checker]:not(:empty):before {
    margin-right: 8px;
    margin-right: .5rem
}
[mol_switcher] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px #ddd;
    border-radius: 4px;
    background: #eee;
    padding: 2px;
    padding: .125rem
}
[mol_switcher_optioner] {
    padding: 8px 12px;
    padding: .5rem .75rem;
    margin: 2px;
    margin: .125rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_switcher_optioner]:before {
    display: none
}
[mol_switcher_optioner][mol_checker_checked] {
    box-shadow: 0 0 0 1px #ddd;
    background: white
}
[mol_decker_optioner] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_sectioner_header] {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 8px 0;
    margin: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end
}
[mol_tiler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 8px;
    padding: .5rem
}
[mol_tiler_group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch
}
[mol_tiler_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 8px;
    margin: .5rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_attacher_contenter] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
[mol_attacher_item] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    background: center no-repeat;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ddd;
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    -ms-flex: 1 0 5rem;
        flex: 1 0 5rem
}
[mol_attacher_adder] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    position: relative/*max-width: 15rem;*/
}
[mol_attacher_adder_icon] {
    width: 50%;
    height: 50%
}
[mol_attacher_adder_input] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0
}
[mol_app_supplies_positioner] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_positioner_grouper] {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_app_supplies_positioner_grouper] > * {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline
}
[mol_app_supplies_positioner_mainGroup] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 256px;
            flex: 1 1 256px;
    -ms-flex: 1 1 16rem;
        flex: 1 1 16rem;
    background: hsla(137,50%,98%,1)
}
[mol_app_supplies_positioner_addonGroup] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 256px;
            flex: 1 1 256px;
    -ms-flex: 1 1 16rem;
        flex: 1 1 16rem;
    background: hsla(216,50%,98%,1)
}
[mol_app_supplies_positioner_supplyGroup] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 352px;
            flex: 1 1 352px;
    -ms-flex: 1 1 22rem;
        flex: 1 1 22rem;
    background: hsla(0,50%,98%,1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse
}
[mol_app_supplies_positioner_divisionItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_app_supplies_positioner_productItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_app_supplies_positioner_priceItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    -ms-flex: 1 0 5rem;
        flex: 1 0 5rem;
    text-align: right
}
[mol_app_supplies_positioner_quantityItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 32px;
            flex: 1 0 32px;
    -ms-flex: 1 0 2rem;
        flex: 1 0 2rem;
    text-align: right
}
[mol_app_supplies_positioner_costItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    -ms-flex: 1 0 5rem;
        flex: 1 0 5rem;
    text-align: right
}
[mol_app_supplies_positioner_supplyDateItem] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96px;
            flex: 0 0 96px;
    -ms-flex: 0 0 6rem;
        flex: 0 0 6rem
}
[mol_app_supplies_positioner_storeItem] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_app_supplies_detailer_contenter] {/*display: flex;*//*flex-wrap: wrap;*/
    padding: 0 16px;
    padding: 0 1rem
}
[mol_app_supplies_detailer_contenter] > * {
    margin: 16px 0;
    margin: 1rem 0/*flex: 1 1 100%;*/
}
[mol_app_supplies_detailer_posLister] > * {
    margin: 16px 0;
    margin: 1rem 0
}
[mol_app_supplies_detailer_backer] {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 100%
}
[mol_app_supplies_detailer_consContent] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detailer_consContent] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detailer_orgContent] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detailer_orgContent] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detailer_costItem] {
    text-align: right
}
[mol_app_supplies] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    max-width: 120rem;
    margin: auto
}

/*# sourceMappingURL=web.css.map */