[mol_view] {
    -webkit-transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform, -webkit-transform;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-appearance: none
}
[mol_view_root] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 12pt/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
[mol_view_error] {
    background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-size: 28px 28px !important
}
[mol_view_error] * {
    background: none !important
}
@-webkit-keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@-webkit-keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
@keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
[mol_view_error="$mol_atom_wait"] ,
[mol_view_error="$mol_atom_wait"] * {
    background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(91, 136, 200, 0.025),
		rgba(91, 136, 200, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(91, 136, 200, 0.025),
		rgba(91, 136, 200, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important;
            animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important
}
[mol_link] {
    text-decoration: none;
    color: hsl(215, 50%, 57%);
    cursor: pointer;
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    padding: .5rem;
    box-sizing: border-box;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline
}
[mol_link]:not([mol_link_current]):hover {
    background-color: rgba(0, 0, 0, .05)
}
[mol_link]:not([mol_link_current]):focus {
    /*box-shadow: 0 0 0 1px var(--mol_skin_focus);*/
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 1px var(--mol_skin_hover_line)
}
[mol_link_current] {
    background-color: hsl(215, 50%, 57%);
    color: rgb(251, 252, 254)
}
[mol_link]:focus {
    outline: none
}
[mol_labeler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto
}
[mol_labeler_title] {
    color: gray;
    font-size: 12px;
    font-size: .75rem
}
[mol_cost] {
    white-space: nowrap;
    font-weight: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
[mol_cost_main] {
    display: inline
}
[mol_cost_prefix] {
    font-weight: lighter;
    display: inline
}
[mol_cost_postfix] {
    font-weight: lighter;
    display: inline
}
[mol_row] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
    padding: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    box-sizing: border-box;
    margin: auto;
    max-width: 100%
}
[mol_row] > [mol_view] ,
[mol_row_sub] > [mol_view] {
    margin: 8px;
    margin: .5rem;
    max-width: 100%
}
[mol_row_sub] {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_list] {
    will-change: contents
}
[mol_card] {
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: white;
    color: rgba(0, 0, 0, .9);
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto
}
[mol_card_content] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    border-radius: 2px;
    margin: 0
}
[mol_card_status] {
    background: rgba(230, 230, 230, 1);
    text-transform: capitalize;
    padding: 0 16px;
    padding: 0 1rem;
    line-height: 2;
    opacity: .75;
    margin: 0
}
[mol_card_status_type="approved"] {
    box-shadow: 0 0 0 1px #96DAA9
}
[mol_card_status_type="approved"] [mol_card_status] {
    background: #96DAA9
}
[mol_app_supplies_card] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 448px;
            flex: 0 1 448px;
    -ms-flex: 0 1 28rem;
        flex: 0 1 28rem;
    position: relative;
    display: block;
    margin: auto
}
[mol_app_supplies_card_content] {}
[mol_app_supplies_card_group] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0
}
[mol_app_supplies_card_code_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem
}
[mol_app_supplies_card_cost_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem;
    text-align: right
}
[mol_app_supplies_card_provider_item] {
    -webkit-box-flex: 10;
        -ms-flex: 10 1 160px;
            flex: 10 1 160px;
    -ms-flex: 10 1 10rem;
        flex: 10 1 10rem
}
[mol_stack] {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    margin: 0
}
[mol_stack_main] {
    height: 100%;
    margin: 0 0 -100vh -150%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fcfcfc;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 640px;
            flex: 1000 1 640px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    max-width: 100%
}
[mol_stack_addon] {
    min-height: 100%;
    max-height: 100%;
    margin: 0 150% -100vh 0;
    position: relative;
    background: #fcfcfc;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    z-index: 0;
    max-width: 100%
}
[mol_stack_side] > [mol_stack_main] {
    margin-left: 0
}
[mol_stack_side] > [mol_stack_addon] {
    margin-right: 0;
    z-index: 2
}
[mol_string] {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    outline-offset: 0;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    padding: .5rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 8em;
    background: #eee;
    color: gray;
    margin: auto
}
[mol_string]:enabled {
    background: white;
    color: rgba(0, 0, 0, .9)
}
[mol_string]:enabled:hover ,
[mol_string]:focus {
    outline: none;
    z-index: 1
}
[mol_string]:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_string]::-ms-clear {
    display: none
}
[mol_form] {
    margin: auto
}
[mol_form_barFields] {
    padding: 0 8px;
    padding: 0 .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_form_barFields] > * {
    margin: 8px;
    margin: .5rem
}
[mol_form_barButtons] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-shadow: none
}
[mol_form_barButtons] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_form_field] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] > * {
    padding: 4px 8px;
    padding: .25rem .5rem
}
[mol_form_field_bider] {
    color: rgb(211, 80, 91)
}
[mol_form_field_bider]:not(:empty):before {
    content: '('
}
[mol_form_field_bider]:not(:empty):after {
    content: ')'
}
[mol_form_field] > * {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%
}
[mol_button] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    font: inherit;
    background: none;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    padding: .5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    position: relative;
    box-sizing: border-box;
    margin: auto
}
[mol_button][disabled] {
    color: gray
}
[mol_button_minor]:not([disabled]) {
    background: rgba(245, 245, 245, .9);
    color: rgba(0, 0, 0, .9)
}
[mol_button_major]:not([disabled]) {
    background: rgb(211, 80, 91);
    color: rgb(251, 254, 254);
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_button_danger]:not([disabled]) {
    background: rgba(255, 50, 50, .75);
    color: white
}
[mol_button]:not([disabled]):hover {
    z-index: 1;
    cursor: pointer;
    background: rgba(0, 0, 0, .05)
}
[mol_button_minor]:not([disabled]):hover {
    background: rgb(240, 240, 240);
    color: rgba(0, 0, 0, .9)
}
[mol_button]:focus {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_button_major]:not([disabled]):hover {
    background: rgb(206, 59, 71)
}
[mol_button_danger]:not([disabled]):hover {
    background: rgba(255, 26, 26, 0.75)
}
[mol_app_supplies_enter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_scroll] {
    overflow: auto;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-sizing: border-box;
    will-change: scroll-position;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    max-height: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
}
@media print {
    [mol_scroll] {
        overflow: visible
    }
}
[mol_page] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_page_head] {
    background: hsl(215, 50%, 57%);
    color: rgb(251, 252, 254);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    /*overflow: hidden;*/
    position: relative;
    margin: 0
}
[mol_page_title] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 auto;
            flex: 1000 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    padding: 1rem
}
[mol_page_body] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100%;
    margin: 0;
    background: #fcfcfc;
    color: rgba(0, 0, 0, .9)
}
[mol_page_foot] {
    background: hsl(215, 50%, 57%);
    color: rgb(251, 252, 254);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0;
    overflow: hidden
}
[mol_code] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 128px;
            flex: 0 1 128px;
    -ms-flex: 0 1 8rem;
        flex: 0 1 8rem;
    margin: auto
}
[mol_code_manual] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_list_search_panel] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: hsl(215, 50%, 57%);
    position: relative;
    margin: 0
}
[mol_app_supplies_list_search] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_list_supply_rows] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
[mol_app_supplies_list_supply_rows] > * {
    margin: 8px;
    margin: .5rem
}
[mol_icon] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    /*vertical-align: -10%;*/
    vertical-align: middle
}
[mol_check] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    font-weight: normal;
    box-shadow: none;
    text-align: left
}
[mol_check]:not([mol_check_checked]) {
    /*background: transparent;*/
    color: inherit
}
[mol_check_icon] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*vertical-align: -10%;*/
    vertical-align: middle
}
[mol_check_label] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
[mol_switch] {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    background: rgba(230, 230, 230, 1)
}
[mol_switch_option] {
    padding: 8px 16px;
    padding: .5rem 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: #eee
}
[mol_switch_option][mol_check_checked] {
    background: white;
    color: black;
    z-index: 1
}
[mol_switch_option][mol_check_checked]:not([disabled]):hover {
    background: rgb(240, 240, 240)
}
[mol_switch_option][disabled] {
    color: gray
}
[mol_deck] {
    margin: auto
}
[mol_deck_option] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_tiler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 8px;
    padding: .5rem
}
[mol_tiler_group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch
}
[mol_tiler_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 8px;
    margin: .5rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_attach_content] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
[mol_attach_item] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    background: center no-repeat;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    -ms-flex: 1 0 5rem;
        flex: 1 0 5rem
}
[mol_attach_add] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    position: relative;
    margin: 0
    /*max-width: 15rem;*/
}
[mol_attach_add_icon] {
    width: 50%;
    height: 50%
}
[mol_attach_add_input] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0
}
[mol_section_head] {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 8px 0;
    margin: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_check][disabled] > [mol_check_box_icon] {
    background-color: #eee
}
[mol_check_box_icon] {
    left: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_check_box_icon] + div:not(:empty) {
    margin-left: 8px;
    margin-left: .5rem
}
[mol_check]:not([mol_check_checked]) > [mol_check_box_icon] {
    fill: transparent
}
[mol_check]:not([disabled]) > [mol_check_box_icon] {
    background: white
}
[mol_app_supplies_position] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_position_row] {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_app_supplies_position_row] > * {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0
}
[mol_app_supplies_position_main_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 192px;
            flex: 1 1 192px;
    -ms-flex: 1 1 12rem;
        flex: 1 1 12rem;
    background: hsla(137, 50%, 98%, 1)
}
[mol_app_supplies_position_addon_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 192px;
            flex: 1 1 192px;
    -ms-flex: 1 1 12rem;
        flex: 1 1 12rem;
    background: hsla(216, 50%, 98%, 1)
}
[mol_app_supplies_position_supply_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 352px;
            flex: 1 1 352px;
    -ms-flex: 1 1 22rem;
        flex: 1 1 22rem;
    background: hsla(0, 50%, 98%, 1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse
}
[mol_app_supplies_position_division_item] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 96px;
            flex: 1000 1 96px;
    -ms-flex: 1000 1 6rem;
        flex: 1000 1 6rem
}
[mol_app_supplies_position_product_item] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 96px;
            flex: 1000 1 96px;
    -ms-flex: 1000 1 6rem;
        flex: 1000 1 6rem
}
[mol_app_supplies_position_price_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48px;
            flex: 1 0 48px;
    -ms-flex: 1 0 3rem;
        flex: 1 0 3rem;
    text-align: right
}
[mol_app_supplies_position_quantity_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 32px;
            flex: 1 0 32px;
    -ms-flex: 1 0 2rem;
        flex: 1 0 2rem;
    text-align: right
}
[mol_app_supplies_position_cost_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48px;
            flex: 1 0 48px;
    -ms-flex: 1 0 3rem;
        flex: 1 0 3rem;
    text-align: right
}
[mol_app_supplies_position_supply_date_item] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96px;
            flex: 0 0 96px;
    -ms-flex: 0 0 6rem;
        flex: 0 0 6rem
}
[mol_app_supplies_position_store_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_app_supplies_detail_content] {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    padding: 0 16px;
    padding: 0 1rem
}
[mol_app_supplies_detail_content] > * {
    margin: 16px 0;
    margin: 1rem 0
    /*flex: 1 1 100%;*/
}
[mol_app_supplies_detail_positions] > * {
    margin: 16px 0;
    margin: 1rem 0
}
[mol_app_supplies_detail_back] {
    color: rgb(251, 252, 254);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -16px;
    margin-right: -1rem
}
[mol_app_supplies_detail_back_icon] {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg)
}
[mol_app_supplies_detail_descr_deck] {
    margin: 0
}
[mol_app_supplies_detail_cons_content] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detail_cons_content] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detail_org_content] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detail_org_content] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detail_cost] {
    text-align: right;
    margin: 0
}
[mol_app_supplies_detail_tools] {
    padding: 0
}
[mol_app_supplies_root] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    max-width: 100rem;
    margin: 0 auto
}
[mol_app_supplies_root_addon] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 384px;
            flex: 1 1 384px;
    -ms-flex: 1 1 24rem;
        flex: 1 1 24rem
}

/*# sourceMappingURL=web.css.map */