<html>
	<head>
		<style>
			body {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<script src="-/web.js"></script>
		<canvas id="root"></canvas>
		<script>
			
			const root = document.getElementById('root')
			const context = root.getContext('2d')
			
			const widgets_left = Array.from( { length: 10 }, (_,i) => {
				
				const text = i + ' '
				const width = Math.ceil( $mol_font_measure( '16px sans-serif', text ) )
				
				const layout = $mol_layout.make({
					min: width,
					max: width,
					ortho: $mol_layout.make({
						min: 24,
						max: 24,
						base: 16,
					})
				})
				
				return { layout, text }
				
			} )
			
			const widgets_right = Array.from( { length: 20 }, (_,i) => {
				
				const text = i + ' '
				const width = Math.ceil( $mol_font_measure( '16px sans-serif', text ) )
				
				const layout = $mol_layout.make({
					min: width,
					max: width,
					ortho: $mol_layout.make({
						min: 24,
						max: 24,
						base: 16,
					}),
				})
				
				return { layout, text }
				
			} )
			
			const layout = 
			$mol_layout_col.make({
				before: ()=> 12,
				after: ()=> 12,
				ortho: $mol_layout_flex.make({
					before: ()=> 12,
					after: ()=> 12,
				}),
				kids: [
					$mol_layout.make({ ortho: $mol_layout.make({ max:1 }), }),
					$mol_layout_row.make({
						before: ()=> 12,
						after: ()=> 12,
						ortho: $mol_layout_stack.make({
							before: ()=> 12,
							after: ()=> 12,
						}),
						kids: [
							$mol_layout.make({ max:1, ortho: $mol_layout.make({}), }),
							$mol_layout_wrap.make({
								before: ()=> 12,
								after: ()=> 12,
								ortho: $mol_layout_flex.make({
									before: ()=> 8,
									after: ()=> 8,
								}),
								kids: widgets_left.map( w => w.layout ),
							}), 
							$mol_layout.make({ max:1, ortho: $mol_layout.make({}), }),
							$mol_layout_wrap.make({
								before: ()=> 12,
								after: ()=> 12,
								ortho: $mol_layout_flex.make({
									before: ()=> 8,
									after: ()=> 8,
								}),
								kids: widgets_right.map( w => w.layout ),
							}),
							$mol_layout.make({ max:1, ortho: $mol_layout.make({}), }),
						],
					}),
					$mol_layout.make({ ortho: $mol_layout.make({ max:1 }), }),
				]
			})
			
			function reflow() {
				
				root.width = window.innerWidth * devicePixelRatio
				root.height = window.innerHeight * devicePixelRatio
				root.style.zoom = 1/devicePixelRatio
				
				layout.size = window.innerWidth * devicePixelRatio
				layout.ortho.size = window.innerHeight * devicePixelRatio
			
				layout.fresh()
				
				function rects( x ) {
					const y = x.ortho
					context.strokeStyle = 'hsla(0,100%,50%,.25)'
					context.strokeRect( x.pos-.5, y.pos-.5, x.size-1, y.size-1 )
					for( const kid of x.kids ?? [] ) rects( kid )
				}
				rects( layout )
				
				context.font = '16px sans-serif'
				context.fillStyle = 'black'
				
				for( const widget of widgets_left ) {
					const x = widget.layout
					const y = x.ortho
					context.fillText( widget.text, x.pos, y.pos + y.base, x.size )
				}
				
				for( const widget of widgets_right ) {
					const x = widget.layout
					const y = x.ortho
					context.fillText( widget.text, x.pos, y.pos + y.base, x.size )
				}
				
			}
			
			reflow()
			window.onresize = reflow
			
		</script>
	</body>
</html>
