[mol_example_small] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	flex: 0 0 auto;
	box-sizing: border-box;
	max-width: 100%;
	gap: var(--mol_gap_block);
}

[mol_example_small] > * {
	max-width: 100%;
}
