[mol_app_studio_catalog_page] {
	flex: 1 1 300px; 
}

[mol_app_studio_preview_page] {
	flex: 1000 1000 400px; 
}

[mol_app_studio_editor_page] {
	flex: 1 1 300px;
}

[mol_app_studio_prop] {
	margin: 1rem;
}

[mol_app_studio_demo_preview_page] > [mol_page_body] {
	padding: 1rem;
	display: flex;
}

[mol_app_studio_number_field] ,
[mol_app_studio_string_field] {
	flex: 1 1 auto;
}

[mol_app_studio_prop_dive] {
	padding: 0;
}