[mol_app_studio_preview_page] {
	flex: 1000 1 600px; 
}

[mol_app_studio_editor_page] {
	flex: 1 1 600px;
}

[mol_app_studio_crumbs] {
	padding: 0;
}

[mol_app_studio_preview_page] > [mol_page_body] {
	padding: 1rem;
	display: flex;
	align-items: flex-start;
}
