[mol_portion] {
	display: inline-flex;
	flex: 0 1 8rem;
	width: 8rem;
	max-height: calc( 1rem + 1.5em );
	min-height: .5rem;
	align-self: stretch;
	vertical-align: inherit;
	border-radius: var(--mol_skin_round);
	box-shadow: var(--mol_skin_light_outline);
	background: var(--mol_skin_light);
}

[mol_portion_indicator] {
	background-color: var(--mol_skin_base);
	color: var(--mol_skin_base_text);
	border-radius: var(--mol_skin_round);
}
