[mol_portion] {
	display: inline-flex;
	flex: 0 1 8rem;
	width: 8rem;
	max-height: calc( 1rem + 1.5em );
	align-self: stretch;
	vertical-align: inherit;
	border-radius: var(--mol_gap_round);
	background: var(--mol_theme_line);
}

[mol_portion_indicator] {
	padding: .25rem 0 0;
	background-color: var(--mol_theme_control);
	color: var(--mol_theme_control);
	border-radius: var(--mol_gap_round);
}
