[mol_section_head] {
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

[mol_section_title] {
	padding: var(--mol_gap_text);
	text-shadow: 0 0;
	font-weight: normal;
}

[mol_section_title]:where(h1) {
	font-size: 1.5rem;
}

[mol_section_title]:where(h2) {
	font-size: 1.5rem;
	font-style: italic;
}

[mol_section_title]:where(h3) {
	font-size: 1.25rem;
}

[mol_section_title]:where(h4) {
	font-size: 1.25rem;
	font-style: italic;
}

[mol_section_title]:where(h5) {
	font-size: 1rem;
}

[mol_section_title]:where(h6) {
	font-size: 1rem;
	font-style: italic;
}
