[mol_app_docs_placeholder] {
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: rgba(0,0,0,0.5);
}

[mol_app_docs_folder] {
	flex: 1 1 300px;
}

[mol_app_docs_folder_row] {
	width: 100%;
	justify-content: flex-start;
	word-break: break-all;
	text-align: left;
}

[mol_app_docs_file] {
	flex: 1000 1 400px;
}

[mol_app_docs_file_data] {
	flex: 1 1 auto;
	align-self: stretch;
}

[mol_app_docs_file_body] {
	overflow: hidden;
}
