[mol_app_docs_placeholder] {
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: rgba(0,0,0,0.5);
}

[mol_app_docs_folder_row] {
	width: 100%;
	justify-content: flex-start;
	text-align: left;
}

[mol_app_docs_file] {
	flex: 1000 1 800px;
	align-self: stretch;
}

[mol_app_docs_file_embed] {
	align-self: stretch;
	flex: 1 1 auto;
}

[mol_app_docs_file_body] {
	overflow: hidden;
}

[mol_app_docs_icon_file],[mol_app_docs_icon_folder] {
	margin: .5em;
}

[mol_app_docs_folder_folder_rows] {
	height: 3rem;
}

[mol_app_docs_close] {
	color: inherit;
    align-items: center;
    padding: 1rem;
}

[mol_app_docs_folder] {
	flex: 1 1 400px;
}
