[mol_view] {
	transition-property: height, width, min-height, min-width, max-width, max-height, transform;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	-webkit-appearance: none;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	contain: style;
	scrollbar-color: var(--mol_theme_line) transparent;
	scrollbar-width: thin;
}	

[mol_view]::selection {
	background: var(--mol_theme_line);
}	

[mol_view]::-webkit-scrollbar {
	width: .25rem;
	height: .25rem;
}

[mol_view]::-webkit-scrollbar-corner {
	background-color: var(--mol_theme_line);
}

[mol_view]::-webkit-scrollbar-track {
	background-color: transparent;
}

[mol_view]::-webkit-scrollbar-thumb {
	background-color: var(--mol_theme_line);
	border-radius: var(--mol_gap_round);
}

[mol_view] > * {
	word-break: inherit;
}

[mol_view_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	contain: unset; /** Fixes bg ignoring when applied to body on Chrome */
	tab-size: 4;
}

[mol_view][mol_view_error]:not([mol_view_error="Promise"]) {
	background-image: repeating-linear-gradient(
		-45deg,
		#f92323,
		#f92323 .5rem,
		#ff3d3d .5rem,
		#ff3d3d 1.5rem
	);
	color: black;
	align-items: center;
    justify-content: center;
}

@keyframes mol_view_wait_move {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200vmax 0;
	}
}

@keyframes mol_view_wait_show {
	to {
		background-image: repeating-linear-gradient(
			45deg,
			hsla( 0 , 0% , 50% , .5 ) 0% ,
			hsla( 0 , 0% , 50% , 0 ) 5% ,
			hsla( 0 , 0% , 50% , 0 ) 45% ,
			hsla( 0 , 0% , 50% , .5 ) 50% ,
			hsla( 0 , 0% , 50% , 0 ) 55% ,
			hsla( 0 , 0% , 50% , 0 ) 95% ,
			hsla( 0 , 0% , 50% , .5 ) 100%
		);
		background-size: 200vmax 200vmax;
	}
}

[mol_view][mol_view_error="Promise"] {
	animation: mol_view_wait_show .5s .5s linear forwards , mol_view_wait_move 1s linear infinite;
	opacity: .75;
}
