[mol_view] {
	transition-property: height, width, min-height, min-width, max-width, max-height, transform;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	-webkit-appearance: none;
	word-break: break-word;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	max-width: 100%;
	contain: style;
	tab-size: 4;
}

[mol_view]::selection {
	background: var(--mol_theme_current);
}

[mol_view] > * {
	word-break: inherit;
}

[mol_view_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: var(--mol_skin_font);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	contain: unset; /** Fixes bg ignoring when applied to body on Chrome */
}

[mol_view][mol_view_error]:not([mol_view_error="Promise"]) {
	background-image: repeating-linear-gradient(
		-45deg,
		#f92323,
		#f92323 10px,
		#ff3d3d 10px,
		#ff3d3d 30px
	);
	color: black;
}

@keyframes mol_view_wait_move {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200vmax 0;
	}
}

@keyframes mol_view_wait_show {
	to {
		background-image: repeating-linear-gradient(
			45deg,
			hsla( 0 , 0% , 50% , .25 ) 0% ,
			hsla( 0 , 0% , 50% , 0 ) 5% ,
			hsla( 0 , 0% , 50% , 0 ) 45% ,
			hsla( 0 , 0% , 50% , .25 ) 50% ,
			hsla( 0 , 0% , 50% , 0 ) 55% ,
			hsla( 0 , 0% , 50% , 0 ) 95% ,
			hsla( 0 , 0% , 50% , .25 ) 100%
		);
		background-size: 200vmax 200vmax;
	}
}

[mol_view][mol_view_error="Promise"] {
	animation: mol_view_wait_show .5s .5s linear forwards , mol_view_wait_move 1s linear infinite;
	opacity: .75;
}
