[mol_link_iconed] {
	align-items: center;
	color: var(--mol_theme_control);
	display: inline;
	padding: .5rem;
}

[mol_link_iconed_icon] {
	box-shadow: none;
	height: 1em;
	width: 1em;
	display: inline-block;
	margin: -.25rem .25rem 0;
	vertical-align: middle;
}

[mol_theme="$mol_theme_dark"] [mol_link_iconed_icon] {
	filter: invert(1) hue-rotate(180deg);
}
