[mol_link_iconed] {
	align-items: baseline;
	color: var(--mol_theme_control);
	display: inline-flex;
	padding: var(--mol_gap_text);
}

[mol_link_iconed_icon] {
	box-shadow: none;
	height: 1em;
	width: 1em;
	flex: 0 0 auto;
	display: inline-block;
	margin: .25rem 0;
	align-self: normal;
	vertical-align: text-bottom;
	border-radius: 0;
	object-fit: scale-down;
}

[mol_theme="$mol_theme_dark"] [mol_link_iconed_icon] {
	filter: invert(1) hue-rotate(180deg);
}
