[mol_demo_all] {
	display: flex;
	flex-wrap: wrap;
	background: var( --mol_view_colorBack );
	padding: 2vmin;
	height: 100%;
}

[mol_demo_all_item] {
	flex: 0 1 600px;
	height: 400px;
	box-shadow: 0 0 1rem rgba( 0 , 0 , 0 , .5 );
	margin: 2vmin;
	background: var( --mol_view_colorLight );
	border-radius: var( --mol_view_round );
	overflow: auto;
	position: relative;
}
