[mol_check_expand] {
}

[mol_check_expand][disabled] [mol_check_expand_icon] {
	visibility: hidden;
}

[mol_check_expand_icon] {
	box-shadow: none;
	margin: .25rem 0;
}
[mol_check_expand_icon] {
	transform: rotateZ(0deg);
}

[mol_check_checked] > [mol_check_expand_icon] {
	transform: rotateZ(90deg);
}

[mol_check_expand_icon] {
	vertical-align: text-top;
}

[mol_check_expand_label] {
	margin-left: 0;
}
