[mol_check_expand] {
	min-width: 20px;
	gap: 0;
}

:where([mol_check_expand][disabled]) [mol_check_expand_icon] {
	visibility: hidden;
}

[mol_check_expand_icon] {
	box-shadow: none;
	margin-left: -0.375rem;
}
[mol_check_expand_icon] {
	transform: rotateZ(0deg);
}

:where([mol_check_checked]) [mol_check_expand_icon] {
	transform: rotateZ(90deg);
}

[mol_check_expand_icon] {
	vertical-align: text-top;
}

[mol_check_expand_label] {
	margin-left: 0;
}
