[mol_form_field] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
	width: 6em;
}

[mol_form_field_label] {
	flex: 1 1 100%;
	display: flex;
	flex-wrap: wrap;
}

[mol_form_field_label] > * {
	padding: .25rem .5rem;
}

[mol_form_field_errorer] {
	color: var( --mol_skin_warn_fore );
}

[mol_form_field_errorer]:not(:empty):before {
	content: '(';
}

[mol_form_field_errorer]:not(:empty):after {
	content: ')';
}
