[mol_form_field] {
	display: flex;
	flex-wrap: wrap;
}

[mol_form_field_label] {
	flex: 1 1 100%;
	display: flex;
	flex-wrap: wrap;
}

[mol_form_field_label] > * {
	padding: .25rem .5rem;
}

[mol_form_field_bider] {
	color: var(--mol_skin_accent);
}

[mol_form_field_bider]:not(:empty):before {
	content: '(';
}

[mol_form_field_bider]:not(:empty):after {
	content: ')';
}

[mol_form_field] > * {
	margin: 0;
	flex: 1 1 100%;
}
