[mol_form_field] {
	align-items: stretch;
	padding: var(--mol_gap_block);
}

[mol_form_field_bid] {
	color: var(--mol_theme_focus);
	display: inline-block;
}

[mol_form_field_content] {
	border-radius: var(--mol_gap_round);
}
