[mol_app_supplies_carder] {
	flex: 0 1 32rem;
	position: relative;
}

[mol_app_supplies_carder_linker] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

[mol_app_supplies_carder_linker][mol_linker_current] {
	box-shadow: 0 0 0 1px var( --mol_skin_focus_back );
}

[mol_app_supplies_carder_contenter] {
}

[mol_app_supplies_carder_grouper] {
	align-items: flex-start;
}

[mol_app_supplies_carder_codeItem] {
	flex: 1 1 5rem;
}

[mol_app_supplies_carder_costItem] {
	flex: 1 1 5rem;
	text-align: right;
}

[mol_app_supplies_carder_providerItem] {
	flex: 10 1 10rem;
}
