
[mol_row_demo_products_products] {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

[mol_row_demo_products_product] {
	padding: 0.5rem;
	min-height: 90px;
}
