[mol_chat] {
	box-shadow: var(--mol_skin_light_outline);
	min-height: 1rem;
}

[mol_chat_post] {
	margin: 1rem;
}

[mol_chat_add_status] {
	margin: 1rem;
	max-width: 58rem;
	box-sizing: border-box;
}

[mol_chat_add] {
	margin: 1rem;
	max-width: 58rem;
}
