[mol_chat] {
}

[mol_chat_post] {
	margin: var(--mol_gap_block);
}

[mol_chat_add_status] {
	margin: var(--mol_gap_block);
	max-width: 58rem;
	box-sizing: border-box;
}

[mol_chat_add] {
	margin: var(--mol_gap_block);
	align-items: flex-end;
	max-width: 58rem;
}

[mol_chat_add_link] {
	margin: var(--mol_gap_block);
}
