[mol_pop_demo] {
	align-items: center;
}

[mol_pop_demo_row] {
	justify-content: center;
	align-items: flex-end;
}

[mol_pop_demo_content] {
	white-space: nowrap;
	padding: .5em;
	display: flex;
	flex-direction: column;
}
