[mol_stacker] {
	width: 100%;
	height: 100%;
	flex: 1 1 100%;
	display: flex;
	flex-direction: row-reverse;
	align-self: stretch;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: flex-start;
	justify-content: flex-end;
	overflow: hidden;
}

[mol_stacker_mainer] {
	height: 100%;
	margin-left: .5rem;
	margin-bottom: -100vh;
	display: flex;
	position: relative;
	z-index: 1;
	background: var( --mol_skin_light_back );
	flex: 1000 1 66%;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
}

[mol_stacker_addoner] {
	height: 100%;
	margin-right: -.5rem;
	margin-bottom: -100vh;
	position: relative;
	background: var( --mol_skin_light_back );
	flex: 1 1 auto;
	display: flex;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	z-index: 0;
	max-width: 100%;
}

[mol_stacker_focused] {
	z-index: 1;
}
