[mol_stacker] {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	flex: 1 1 100%;
	display: flex;
	flex-direction: row-reverse;
	align-self: stretch;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: flex-start;
	overflow: hidden;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
}

[mol_stacker_mainer] {
	height: 100%;
	margin-left: -150%;
	margin-bottom: -100vh;
	transition: .25s ease margin;
	position: relative;
	display: flex;
	background: var( --mol_skin_light_back );
	flex: 1000 1 50%;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	max-width: 100%;
}

[mol_stacker_addoner] {
	height: 100%;
	margin-right: 150%;
	margin-bottom: -100vh;
	transition: .25s ease margin;
	position: relative;
	background: var( --mol_skin_light_back );
	flex: 1 1 auto;
	display: flex;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	z-index: 0;
	max-width: 100%;
}

[mol_stacker_side] > [mol_stacker_mainer] {
	margin-left: 0;
}

[mol_stacker_side] > [mol_stacker_addoner] {
	margin-right: 0;
}
