[mol_pop] {
	position: relative;
	display: inline-flex;
}

[mol_pop_bubble] {
	box-shadow: 0 0 1rem hsla(0,0%,0%,.5);
	border-radius: var(--mol_gap_round);
	position: absolute;
	z-index: var(--mol_layer_popup);
	background: var(--mol_theme_back);
	max-width: none;
	max-height: none;
	/* overflow: hidden;
	overflow-y: scroll;
	overflow-y: overlay; */
	word-break: normal;
	width: max-content;
	height: max-content;
	flex-direction: column;
	max-width: 80vw;
	max-height: 80vw;
	contain: paint;
	transition-property: opacity;
}

:where( [mol_pop_bubble] > * ) {
	background: var(--mol_theme_card);
}

[mol_pop_bubble][mol_scroll] {
	background: var(--mol_theme_back);
}

[mol_pop_bubble]:focus {
	outline: none;
}

[mol_pop_align="suspense_suspense"] {
	opacity: 0;
}

[mol_pop_align="left_top"] {
	transform: translate(-100%);
	left: 0;
	bottom: 0;
}

[mol_pop_align="left_center"] {
	transform: translate(-100%, -50%);
	left: 0;
	top: 50%;
}

[mol_pop_align="left_bottom"] {
	transform: translate(-100%);
	left: 0;
	top: 0;
}

[mol_pop_align="right_top"] {
	transform: translate(100%);
	right: 0;
	bottom: 0;
}

[mol_pop_align="right_center"] {
	transform: translate(100%, -50%);
	right: 0;
	top: 50%;
}

[mol_pop_align="right_bottom"] {
	transform: translate(100%);
	right: 0;
	top: 0;
}

[mol_pop_align="center"] {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

[mol_pop_align="top_left"] {
	right: 0;
	bottom: 100%;
}

[mol_pop_align="top_center"] {
	transform: translate(-50%);
	left: 50%;
	bottom: 100%;
}

[mol_pop_align="top_right"] {
	left: 0;
	bottom: 100%;
}

[mol_pop_align="bottom_left"] {
	right: 0;
	top: 100%;
}

[mol_pop_align="bottom_center"] {
	transform: translate(-50%);
	left: 50%;
	top: 100%;
}

[mol_pop_align="bottom_right"] {
	left: 0;
	top: 100%;
}
