[mol_pop] {
	position: relative;
	display: inline-flex;
}

[mol_pop_bubble] {
	box-shadow: 0 0 1rem hsla(0,0%,0%,.5);
	border-radius: var(--mol_gap_round);
	background: var(--mol_theme_back);
	word-break: normal;
	width: max-content;
	flex-direction: column;
	max-width: calc( 100vw - var(--mol_gap_page) );
	max-height: 80vh;
	contain: paint;
	border: none;
	padding: 0;
	margin: 0;
	inset: unset;
	position: fixed;
	top: 0;
	left: 0;
}

:where( [mol_pop_bubble] > * ) {
	background: var(--mol_theme_card);
}

[mol_pop_bubble][mol_scroll] {
	background: var(--mol_theme_back);
}

[mol_pop_bubble]:focus {
	outline: none;
}

[mol_pop_bubble]::backdrop {
	background: none;
}

[mol_pop_align="suspense_suspense"] {
	opacity: 0;
}

[mol_pop_align^="top"] {
	translate: 0 -100%;
}

[mol_pop_align^="bottom"] {
	translate: 0 0;
}

[mol_pop_align^="left"] {
	translate: -100% -50%;
}

[mol_pop_align^="right"] {
	translate: 0 -50%;
}

[mol_pop_align$="_left"] {
	translate: 50% var(--mol_pop_translate_y, 0);
}

[mol_pop_align$="_right"] {
	translate: -50% var(--mol_pop_translate_y, 0);
}

[mol_pop_align$="_center"]:not([mol_pop_align^="left"]):not([mol_pop_align^="right"]) {
	translate: -50% var(--mol_pop_translate_y, 0);
}

[mol_pop_align^="top"][mol_pop_align$="_left"],
[mol_pop_align^="top"][mol_pop_align$="_right"],
[mol_pop_align^="top"][mol_pop_align$="_center"] {
	--mol_pop_translate_y: -100%;
}

[mol_pop_align^="bottom"][mol_pop_align$="_left"],
[mol_pop_align^="bottom"][mol_pop_align$="_right"],
[mol_pop_align^="bottom"][mol_pop_align$="_center"] {
	--mol_pop_translate_y: 0;
}

[mol_pop_align="center"] {
	translate: -50% -50%;
}
