@keyframes mol_pop_show {
	from {
		opacity: 0;
	}
}

[mol_pop] {
	position: relative;
	display: inline-flex;
}

[mol_pop_bubble] {
	border: none;
	padding: 0;
	box-shadow: 0 0 1rem hsla(0,0%,0%,.5);
	border-radius: var(--mol_gap_round);
	position: fixed;
	z-index: var(--mol_layer_popup);
	background: var(--mol_theme_back);
	max-width: none;
	max-height: none;
	/* overflow: hidden;
	overflow-y: scroll;
	overflow-y: overlay; */
	word-break: normal;
	width: max-content;
	/* height: max-content; */
	flex-direction: column;
	max-width: calc( 100vw - var(--mol_gap_page) );
	max-height: 80vw;
	contain: paint;
	transition-property: opacity;
	/* Safari ios layer fix, https://t.me/mam_mol/170017 */
	transform: translateZ(0);
	animation: mol_pop_show .1s ease-in;
}

:where( [mol_pop_bubble] > * ) {
	background: var(--mol_theme_card);
}

[mol_pop_bubble][mol_scroll] {
	background: var(--mol_theme_back);
}

[mol_pop_bubble]:focus {
	outline: none;
}
