[mol_pop] {
	position: relative;
}
[mol_pop_bubble] {
	box-shadow: 0 0 0 1px var(--mol_skin_card_line);
	border-radius: var(--mol_skin_round);
	position: absolute;
	z-index: 5;
	background-color: var(--mol_skin_card);
}
[mol_pop_over_bubble] {
	padding: .5em;
	background-color: hsla(0, 0%, 0%, 0.3);
	box-shadow: none;
	white-space: nowrap;
}


[mol_pop_align="left_top"] {
	transform: translate(-100%);
    left: 0;
    bottom: 0;
}
[mol_pop_align="left_center"] {
	transform: translate(-100%, -50%);
	left: 0;
	top: 50%;
}
[mol_pop_align="left_bottom"] {
	transform: translate(-100%);
    left: 0;
    top: 0;
}
[mol_pop_align="right_top"] {
	transform: translate(100%);
    right: 0;
    bottom: 0;
}
[mol_pop_align="right_center"] {
	transform: translate(100%, -50%);
    right: 0;
    top: 50%;
}
[mol_pop_align="right_bottom"] {
	transform: translate(100%);
    right: 0;
    top: 0;
}
[mol_pop_align="center"] {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
[mol_pop_align="top_left"] {
	right: 0;
    bottom: 100%;
}
[mol_pop_align="top_center"] {
	transform: translate(-50%);
    left: 50%;
    bottom: 100%;
}
[mol_pop_align="top_right"] {
	left: 0;
    bottom: 100%;
}
[mol_pop_align="bottom_left"] {
	right: 0;
    top: 100%;
}
[mol_pop_align="bottom_center"] {
	transform: translate(-50%);
    left: 50%;
    top: 100%;
}
[mol_pop_align="bottom_right"] {
	left: 0;
    top: 100%;
}
