[mol_view] {
    -webkit-transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform, -webkit-transform;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-appearance: none
}
[mol_view_root] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 12pt/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
[mol_view_error] {
    background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-size: 28px 28px !important
}
[mol_view_error] * {
    background: none !important
}
@-webkit-keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@-webkit-keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
@keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
[mol_view_error="$mol_atom_wait"] ,
[mol_view_error="$mol_atom_wait"] * {
    background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(83, 172, 113, 0.025),
		rgba(83, 172, 113, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(83, 172, 113, 0.025),
		rgba(83, 172, 113, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important;
            animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important
}
[mol_scroll] {
    overflow: auto;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-sizing: border-box;
    will-change: scroll-position;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    max-height: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
}
@media print {
    [mol_scroll] {
        overflow: visible
    }
}
[mol_page] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_page_head] {
    background: hsl(140, 35%, 50%);
    color: rgb(252, 253, 252);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    /*overflow: hidden;*/
    position: relative;
    margin: 0
}
[mol_page_title] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 auto;
            flex: 1000 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    padding: 1rem
}
[mol_page_body] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100%;
    margin: 0;
    background: #fcfcfc;
    color: rgba(0, 0, 0, .9)
}
[mol_page_foot] {
    background: hsl(140, 35%, 50%);
    color: rgb(252, 253, 252);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0;
    overflow: hidden
}
[mol_stack] {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    margin: 0
}
[mol_stack_main] {
    height: 100%;
    margin: 0 0 -100vh -150%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fcfcfc;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 640px;
            flex: 1000 1 640px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    max-width: 100%
}
[mol_stack_addon] {
    min-height: 100%;
    max-height: 100%;
    margin: 0 150% -100vh 0;
    position: relative;
    background: #fcfcfc;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    z-index: 0;
    max-width: 100%
}
[mol_stack_side] > [mol_stack_main] {
    margin-left: 0
}
[mol_stack_side] > [mol_stack_addon] {
    margin-right: 0;
    z-index: 2
}
[mol_list] {
    will-change: contents
}
[mol_float] {
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in
}
[mol_float_scrolling] {
    opacity: 0;
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out
}
[mol_button] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    font: inherit;
    background: none;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    padding: .5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    position: relative;
    box-sizing: border-box;
    margin: auto
}
[mol_button][disabled] {
    color: gray
}
[mol_button_minor]:not([disabled]) {
    background: rgba(245, 245, 245, .9);
    color: rgba(0, 0, 0, .9)
}
[mol_button_major]:not([disabled]) {
    background: rgb(147, 70, 185);
    color: rgb(252, 254, 251);
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_button_danger]:not([disabled]) {
    background: rgba(255, 50, 50, .75);
    color: white
}
[mol_button]:not([disabled]):hover {
    z-index: 1;
    cursor: pointer;
    background: rgba(0, 0, 0, .05)
}
[mol_button_minor]:not([disabled]):hover {
    background: rgb(240, 240, 240);
    color: rgba(0, 0, 0, .9)
}
[mol_button]:focus {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_button_major]:not([disabled]):hover {
    background: rgb(132, 63, 166)
}
[mol_button_danger]:not([disabled]):hover {
    background: rgba(255, 26, 26, 0.75)
}
[mol_check] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    font-weight: normal;
    box-shadow: none;
    text-align: left
}
[mol_check]:not([mol_check_checked]) {
    /*background: transparent;*/
    color: inherit
}
[mol_check_icon] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*vertical-align: -10%;*/
    vertical-align: middle
}
[mol_check_label] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
[mol_icon] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    /*vertical-align: -10%;*/
    vertical-align: middle
}
[mol_check][disabled] > [mol_check_box_icon] {
    background-color: #eee
}
[mol_check_box_icon] {
    left: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_check_box_icon] + div:not(:empty) {
    margin-left: 8px;
    margin-left: .5rem
}
[mol_check]:not([mol_check_checked]) > [mol_check_box_icon] {
    fill: transparent
}
[mol_check]:not([disabled]) > [mol_check_box_icon] {
    background: white
}
[mol_check_expand] {}
[mol_check_expand][disabled] {
    background: transparent
}
[mol_check_expand][disabled] [mol_check_expand_icon] {
    visibility: hidden
}
[mol_check_expand_icon] {
    box-shadow: none
}
[mol_check_expand]:not([mol_check_checked]) > [mol_check_expand_icon] {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
}
[mol_check_expand][mol_check_checked] > [mol_check_expand_icon] {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg)
}
[mol_check_box_icon] + div:not(:empty) {}
[mol_dimmer_low] {
    opacity: 0.66
}
[mol_grid] {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: auto
}
[mol_grid_table] {
    border-spacing: 0;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    -webkit-transform: translateZ(0);
            transform: translateZ(0)
}
[mol_grid_table] > * {
    display: table-row !important;
    -webkit-transition: none;
    transition: none
}
[mol_grid_table] > * > * {
    display: table-cell !important
}
[mol_grid_table] > * > * {
    padding: 0 16px;
    padding: 0 1rem;
    white-space: nowrap;
    vertical-align: middle
}
[mol_grid_row]:not(:last-child) > * {
    border-bottom: 1px solid rgb(250, 250, 250)
}
[mol_grid_table] > * > *:not(:last-child) {
    border-right: 1px solid rgb(250, 250, 250)
}
[mol_grid_table] > [mol_grid_head] > * {
    background: #fcfcfc;
    border-bottom: 1px solid rgba(230, 230, 230, 1)
}
[mol_grid_number] {
    text-align: right
}
[mol_grid_cell_dimmer] {
    display: inline-block;
    vertical-align: inherit
}
[mol_text] {
    line-height: 1.5;
    max-width: 960px;
    max-width: 60rem;
    background: white;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    padding: 16px 32px;
    padding: 1rem 2rem;
    border-radius: 2px;
    white-space: pre-line;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
[mol_text_row] {
    margin: 8px 0;
    margin: .5rem 0;
    overflow: auto;
    max-width: 100%
}
[mol_text_type="block"] {}
[mol_text_header] {
    display: block;
    padding: 8px 0;
    padding: .5rem 0;
    font-weight: 500;
    margin: 0
}
[mol_text_header_level="1"] {
    font-size: 24px;
    font-size: 1.5rem
}
[mol_text_header_level="2"] {
    font-size: 20.8px;
    font-size: 1.3rem
}
[mol_text_header_level="3"] {
    font-size: 17.6px;
    font-size: 1.1rem
}
[mol_text_header_level="4"] {
    font-size: 17.6px;
    font-size: 1.1rem;
    font-style: italic
}
[mol_text_header_level="5"] {
    font-size: 17.6px;
    font-size: 1.1rem;
    font-weight: normal;
    font-style: italic
}
[mol_text_type="list-item"] {
    list-style: inside;
    display: list-item
}
[mol_text_table] {
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
    margin: 8px auto 8px 0;
    margin: .5rem auto .5rem 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0
}
[mol_text_type="code"] {
    font-family: monospace;
    white-space: pre;
    font-size: 14.4px;
    font-size: .9rem;
    background: #fcfcfc;
    color: rgba(0, 0, 0, .9);
    border-radius: 2px;
    padding: 1px
}
[mol_text_type="text-link"] {
    color: hsl(140, 35%, 50%);
    text-decoration: none
}
[mol_text_link]:hover ,
[mol_text_link]:focus {
    text-decoration: underline;
    outline: none
}
[mol_text_image] {
    max-width: 100%
}
[mol_text_type="strong"] {
    font-weight: bolder
}
[mol_text_type="emphasis"] {
    font-style: italic
}
[mol_text_type="strike"] {
    text-decoration: line-through;
    color: gray
}
[mol_portion] {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    height: 1.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 128px;
            flex: 0 1 128px;
    -ms-flex: 0 1 8rem;
        flex: 0 1 8rem;
    width: 128px;
    width: 8rem;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: #fcfcfc
}
[mol_portion_indicator] {
    background-color: hsl(140, 35%, 50%);
    color: rgb(252, 253, 252);
    border-radius: 2px
}
[mol_bench_col_head] {
    cursor: pointer
}
[mol_bench_cell_number] {
    white-space: nowrap;
    text-align: right
}
[mol_bench_result_portion] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: bottom;
    margin-left: 8px;
    margin-left: .5rem
}
[mol_bench_col_head] > * {
    margin: 0 8px;
    margin: 0 .5rem
}
[mol_bench_head] + [mol_bench_row] [mol_portion_indicator] {
    background: rgb(147, 70, 185)
}
[mol_app_bench] {
    margin: 0
}
[mol_app_bench_main_page] > [mol_page_body] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    z-index: 1
}
[mol_app_bench_menu] {
    padding: 8px;
    padding: .5rem
}
[mol_app_bench_menu] > * {
    margin: 0
}
[mol_app_bench_inform] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    overflow: auto
}
[mol_app_bench_sandbox] {
    border: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    position: relative;
    width: 50%;
    /*height: 100%;*/
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_app_bench_descr] {
    padding: 8px 16px;
    padding: .5rem 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 2 50%;
            flex: 0 2 50%;
    max-width: none
}
[mol_app_bench_result] {
    background: white
}
[mol_app_bench_menu] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_app_bench_result_head] {
    cursor: pointer
}
[mol_app_bench_result_cell_number] {
    white-space: nowrap;
    text-align: right
}
[mol_app_bench_result_portion] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: bottom;
    margin-left: 8px;
    margin-left: .5rem;
    width: 5vw
}
[mol_app_bench_list_mol] {
    padding: 8px;
    padding: .5rem
}
[mol_app_bench_list_mol_head] {
    padding: 8px;
    padding: .5rem;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal
}
[mol_app_bench_list_mol_row] {
    padding: 8px;
    padding: .5rem;
    cursor: pointer;
    display: block
}
[mol_app_bench_list_mol_row]:hover {
    box-shadow: none
}
[mol_app_bench_list_mol_row][mol_check_checked] {
    background: #eee
}
[mol_app_bench_list_mol_row_title] {
    font-weight: bold
}
[mol_string] {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    outline-offset: 0;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    padding: .5rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 8em;
    background: #eee;
    color: gray;
    margin: auto
}
[mol_string]:enabled {
    background: white;
    color: rgba(0, 0, 0, .9)
}
[mol_string]:enabled:hover ,
[mol_string]:focus {
    outline: none;
    z-index: 1
}
[mol_string]:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_string]::-ms-clear {
    display: none
}
[mol_row] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
    padding: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    box-sizing: border-box;
    margin: auto;
    max-width: 100%
}
[mol_row] > [mol_view] ,
[mol_row_sub] > [mol_view] {
    margin: 8px;
    margin: .5rem;
    max-width: 100%
}
[mol_row_sub] {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_status] {
    text-align: center;
    padding: 8px;
    padding: .5rem;
    border-radius: 2px;
    margin: auto
}
[mol_status]:not([mol_view_error="$mol_atom_wait"]) {
    background: rgba(255, 50, 50, .75);
    color: white
}
[mol_status]:not([mol_view_error="$mol_atom_wait"]):empty {
    display: none
}
[mol_link] {
    text-decoration: none;
    color: hsl(140, 35%, 50%);
    cursor: pointer;
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    padding: .5rem;
    box-sizing: border-box;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline
}
[mol_link]:not([mol_link_current]):hover {
    background-color: rgba(0, 0, 0, .05)
}
[mol_link]:not([mol_link_current]):focus {
    /*box-shadow: 0 0 0 1px var(--mol_skin_focus);*/
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 1px var(--mol_skin_hover_line)
}
[mol_link_current] {
    background-color: hsl(140, 35%, 50%);
    color: rgb(252, 253, 252)
}
[mol_link]:focus {
    outline: none
}
[mol_demo] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    max-width: 100%
}
[mol_demo_header] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    line-height: 1.5rem
}
[mol_demo_titler] {
    padding: 0 16px;
    padding: 0 1rem
}
[mol_demo_screener] {
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: white;
    color: rgba(0, 0, 0, .9);
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    box-sizing: border-box;
    height: 100%;
    margin: 0
}
[mol_demo_large] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch
}
[mol_demo_medium] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_demo_small] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto
}
[mol_demo_small_screener] {
    width: 500px;
    height: 280px
}
[mol_app_demo_nav] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0
}
[mol_app_demo_nav_head] {
    padding: 0
}
[mol_app_demo_nav_table] {
    width: 100%
}
[mol_app_demo_nav_option] {
    padding: 0 16px 0 0;
    padding: 0 1rem 0 0
}
[mol_app_demo_nav_expand] {
    padding: 0;
    height: 100%
}
[mol_app_demo_main] {
    background: #fcfcfc;
    overflow: auto
}
[mol_app_demo_list] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    padding: 8px;
    padding: .5rem;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
[mol_app_demo_screen] {
    max-height: 45%
}
[mol_app_demo_page_body] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px;
    padding: 1rem
}
[mol_app_demo_detail_row] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-shadow: none;
    margin: 0
}
[mol_app_demo_detail_row] > * {
    padding: 8px;
    padding: .5rem
}
[mol_app_demo_page_back] {
    color: rgb(252, 253, 252);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -16px;
    margin-right: -1rem
}
[mol_app_demo_page_back_icon] {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg)
}
[mol_app_demo_welcome] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_demo_option_link] {
    padding: 0
}
[mol_app_habhub] {
    margin: 0
}
[mol_app_habhub_title] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
[mol_app_habhub_gist_row] {
    margin: 16px auto;
    margin: 1rem auto
}
/* Styling BEM-block by autogenerated attribute */
[mol_app_hello] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: 24px/1 sans-serif;
    font: 1.5rem/1 sans-serif;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin: 0
}
/* Styling BEM-element by autogenerated attribute */
[mol_app_hello_name] {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 16px;
    margin: 1rem
}
[mol_app_inventory] {
    width: 100%;
    max-width: 960px;
    max-width: 60rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto
}
[mol_app_inventory_head] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0;
    background: hsl(140, 35%, 50%);
    color: rgb(252, 253, 252)
}
[mol_app_inventory_head] [mol_link] {
    margin: 0;
    color: inherit
}
[mol_app_inventory_head] [mol_link_current] {
    background: #fcfcfc;
    color: rgba(0, 0, 0, .9)
}
[mol_bar] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    margin: auto
}
[mol_bar] > * {
    border-radius: 0
}
[mol_bar] > *:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}
[mol_bar] > *:not(:first-child) {
    margin-left: 1px
}
[mol_bar] > *:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}
[mol_number] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    position: relative;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 100%
}
[mol_number]:hover {
    z-index: 2
}
[mol_number_string] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    text-align: right;
    position: relative
}
[mol_number_string]::-webkit-inner-spin-button {
    display: none
}
[mol_number_inc] ,
[mol_number_dec] {
    margin: 0
}
[mol_number_inc_icon] ,
[mol_number_dec_icon] {
    display: block;
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 1rem
}
[mol_switch] {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    border-radius: 2px;
    background: rgba(230, 230, 230, 1)
}
[mol_switch_option] {
    padding: 8px 16px;
    padding: .5rem 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: #eee
}
[mol_switch_option][mol_check_checked] {
    background: white;
    color: black;
    z-index: 1
}
[mol_switch_option][mol_check_checked]:not([disabled]):hover {
    background: rgb(240, 240, 240)
}
[mol_switch_option][disabled] {
    color: gray
}
[mol_app_inventory_position] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1px
}
[mol_app_inventory_position_product] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 160px;
            flex: 1000 1 160px;
    -ms-flex: 1000 1 10rem;
        flex: 1000 1 10rem
}
[mol_app_inventory_position_status] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_inventory_position_count] {
    width: 128px;
    width: 8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 64px;
            flex: 1 1 64px;
    -ms-flex: 1 1 4rem;
        flex: 1 1 4rem
}
[mol_app_inventory_position_comment] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_app_inventory_position_title] {}
[mol_app_inventory_position_description] {
    color: gray
}
[mol_code] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 128px;
            flex: 0 1 128px;
    -ms-flex: 0 1 8rem;
        flex: 0 1 8rem;
    margin: auto
}
[mol_code_manual] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_inventory_keeper] {
    margin: 0 auto;
    max-width: 960px;
    max-width: 60rem
}
[mol_app_inventory_keeper_code] {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1
}
[mol_app_inventory_controller] {
    margin: 0 auto;
    max-width: 960px;
    max-width: 60rem
}
[mol_form] {
    margin: auto
}
[mol_form_barFields] {
    padding: 0 8px;
    padding: 0 .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_form_barFields] > * {
    margin: 8px;
    margin: .5rem
}
[mol_form_barButtons] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-shadow: none
}
[mol_form_barButtons] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_form_field] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] > * {
    padding: 4px 8px;
    padding: .25rem .5rem
}
[mol_form_field_bider] {
    color: rgb(147, 70, 185)
}
[mol_form_field_bider]:not(:empty):before {
    content: '('
}
[mol_form_field_bider]:not(:empty):after {
    content: ')'
}
[mol_form_field] > * {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%
}
[mol_app_inventory_enter] {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1)
}
[mol_app_inventory_enter_form] {
    margin: 0
}
[mol_app_quine_texter] {
    margin: auto
}
[mol_app_report] {
    margin: 0
}
[mol_app_report_tabler] {
    margin: 16px auto;
    margin: 1rem auto;
    border-collapse: collapse
}
[mol_app_report_descriptor] {
    margin: 16px auto;
    margin: 1rem auto;
    white-space: pre-line;
    text-align: center;
    line-height: 32px;
    line-height: 2rem
}
[mol_app_report_tabler] {}
[mol_app_report_headRower] {}
[mol_app_report_cell] {
    border: 1px solid rgba(230, 230, 230, 1);
    padding: 0;
    vertical-align: top
}
[mol_app_report_cell]:not([colspan="1"]) {
    font-weight: 500
}
[mol_app_report_texter] {
    padding: 8px;
    padding: .5rem
}
[mol_app_report_stringer] {
    width: 100%;
    min-height: 100%
}
[mol_labeler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto
}
[mol_labeler_title] {
    color: gray;
    font-size: 12px;
    font-size: .75rem
}
[mol_cost] {
    white-space: nowrap;
    font-weight: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
[mol_cost_main] {
    display: inline
}
[mol_cost_prefix] {
    font-weight: lighter;
    display: inline
}
[mol_cost_postfix] {
    font-weight: lighter;
    display: inline
}
[mol_card] {
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background: white;
    color: rgba(0, 0, 0, .9);
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto
}
[mol_card_content] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    border-radius: 2px;
    margin: 0
}
[mol_card_status] {
    background: rgba(230, 230, 230, 1);
    text-transform: capitalize;
    padding: 0 16px;
    padding: 0 1rem;
    line-height: 2;
    opacity: .75;
    margin: 0
}
[mol_card_status_type="approved"] {
    box-shadow: 0 0 0 1px #96DAA9
}
[mol_card_status_type="approved"] [mol_card_status] {
    background: #96DAA9
}
[mol_app_supplies_card] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 448px;
            flex: 0 1 448px;
    -ms-flex: 0 1 28rem;
        flex: 0 1 28rem;
    position: relative;
    display: block;
    margin: auto
}
[mol_app_supplies_card_content] {}
[mol_app_supplies_card_group] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0
}
[mol_app_supplies_card_code_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem
}
[mol_app_supplies_card_cost_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80px;
            flex: 1 1 80px;
    -ms-flex: 1 1 5rem;
        flex: 1 1 5rem;
    text-align: right
}
[mol_app_supplies_card_provider_item] {
    -webkit-box-flex: 10;
        -ms-flex: 10 1 160px;
            flex: 10 1 160px;
    -ms-flex: 10 1 10rem;
        flex: 10 1 10rem
}
[mol_app_supplies_enter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_app_supplies_list_search_panel] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: hsl(140, 35%, 50%);
    position: relative;
    margin: 0
}
[mol_app_supplies_list_search] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_list_supply_rows] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
[mol_app_supplies_list_supply_rows] > * {
    margin: 8px;
    margin: .5rem
}
[mol_deck] {
    margin: auto
}
[mol_deck_option] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_tiler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 8px;
    padding: .5rem
}
[mol_tiler_group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch
}
[mol_tiler_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 8px;
    margin: .5rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
[mol_attach_content] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
[mol_attach_item] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    background: center no-repeat;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    -ms-flex: 1 0 5rem;
        flex: 1 0 5rem
}
[mol_attach_add] {
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 5rem;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    position: relative;
    margin: 0
    /*max-width: 15rem;*/
}
[mol_attach_add_icon] {
    width: 50%;
    height: 50%
}
[mol_attach_add_input] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0
}
[mol_section_head] {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 8px 0;
    margin: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_app_supplies_position] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_supplies_position_row] {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_app_supplies_position_row] > * {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0
}
[mol_app_supplies_position_main_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 192px;
            flex: 1 1 192px;
    -ms-flex: 1 1 12rem;
        flex: 1 1 12rem;
    background: hsla(137, 50%, 98%, 1)
}
[mol_app_supplies_position_addon_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 192px;
            flex: 1 1 192px;
    -ms-flex: 1 1 12rem;
        flex: 1 1 12rem;
    background: hsla(216, 50%, 98%, 1)
}
[mol_app_supplies_position_supply_group] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 352px;
            flex: 1 1 352px;
    -ms-flex: 1 1 22rem;
        flex: 1 1 22rem;
    background: hsla(0, 50%, 98%, 1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse
}
[mol_app_supplies_position_division_item] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 96px;
            flex: 1000 1 96px;
    -ms-flex: 1000 1 6rem;
        flex: 1000 1 6rem
}
[mol_app_supplies_position_product_item] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 96px;
            flex: 1000 1 96px;
    -ms-flex: 1000 1 6rem;
        flex: 1000 1 6rem
}
[mol_app_supplies_position_price_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48px;
            flex: 1 0 48px;
    -ms-flex: 1 0 3rem;
        flex: 1 0 3rem;
    text-align: right
}
[mol_app_supplies_position_quantity_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 32px;
            flex: 1 0 32px;
    -ms-flex: 1 0 2rem;
        flex: 1 0 2rem;
    text-align: right
}
[mol_app_supplies_position_cost_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48px;
            flex: 1 0 48px;
    -ms-flex: 1 0 3rem;
        flex: 1 0 3rem;
    text-align: right
}
[mol_app_supplies_position_supply_date_item] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96px;
            flex: 0 0 96px;
    -ms-flex: 0 0 6rem;
        flex: 0 0 6rem
}
[mol_app_supplies_position_store_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 128px;
            flex: 1 1 128px;
    -ms-flex: 1 1 8rem;
        flex: 1 1 8rem
}
[mol_app_supplies_detail_content] {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    padding: 0 16px;
    padding: 0 1rem
}
[mol_app_supplies_detail_content] > * {
    margin: 16px 0;
    margin: 1rem 0
    /*flex: 1 1 100%;*/
}
[mol_app_supplies_detail_positions] > * {
    margin: 16px 0;
    margin: 1rem 0
}
[mol_app_supplies_detail_back] {
    color: rgb(252, 253, 252);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -16px;
    margin-right: -1rem
}
[mol_app_supplies_detail_back_icon] {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg)
}
[mol_app_supplies_detail_descr_deck] {
    margin: 0
}
[mol_app_supplies_detail_cons_content] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detail_cons_content] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detail_org_content] {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background: white
}
[mol_app_supplies_detail_org_content] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    -ms-flex: 1 1 10rem;
        flex: 1 1 10rem
}
[mol_app_supplies_detail_cost] {
    text-align: right;
    margin: 0
}
[mol_app_supplies_detail_tools] {
    padding: 0
}
[mol_app_supplies_root] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    max-width: 100rem;
    margin: 0 auto
}
[mol_app_supplies_root_addon] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 384px;
            flex: 1 1 384px;
    -ms-flex: 1 1 24rem;
        flex: 1 1 24rem
}
[mol_app_taxon] {
    margin: 0
}
[mol_app_taxon_grid] {
    min-height: 16px;
    min-height: 1rem;
    min-width: 80px;
    min-width: 5rem;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_todomvc] {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
    background: #f5f5f5;
    margin: 0
}
[mol_app_todomvc] [mol_string] ,
[mol_app_todomvc] [mol_string]:focus ,
[mol_app_todomvc] [mol_string]:hover ,
[mol_app_todomvc] [mol_button] ,
[mol_app_todomvc] [mol_button]:focus ,
[mol_app_todomvc] [mol_button]:hover ,
[mol_app_todomvc] [mol_link] ,
[mol_app_todomvc] [mol_link]:focus ,
[mol_app_todomvc] [mol_link]:hover {
    box-shadow: none;
    background-color: transparent
}
[mol_app_todomvc] [mol_link_current] {
    color: black
}
[mol_app_todomvc] [mol_link]:not([mol_link_current]):hover ,
[mol_app_todomvc] [mol_link]:not([mol_link_current]):focus {
    text-decoration: underline
}
[mol_app_todomvc_head_complete] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    -ms-flex: 0 0 4rem;
        flex: 0 0 4rem;
    -webkit-transform: rotate( 90deg );
            transform: rotate( 90deg );
    opacity: .5;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
[mol_app_todomvc_head_complete]:disabled {
    visibility: hidden
}
[mol_app_todomvc_head_complete][mol_check_checked] {
    opacity: 1
}
[mol_app_todomvc_add] {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_todomvc_list] {
    font-size: 24px;
    font-size: 1.5rem
}
[mol_app_todomvc_panel] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 25px 50px 0 rgba(0, 0, 0, .1);
    max-width: 608px;
    max-width: 38rem;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 32px;
    margin: 0 auto 2rem;
    -webkit-transition: none;
    transition: none
}
[mol_app_todomvc_head] {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    height: 4rem
}
[mol_app_todomvc_title] {
    padding: 4px;
    padding: .25rem;
    font-size: 112px;
    font-size: 7rem;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, .15);
    text-rendering: optimizeLegibility
}
[mol_app_todomvc_task_row] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    box-shadow: 0 -1px 0 0 #ededed;
    height: 64px;
    height: 4rem
}
[mol_app_todomvc_task_row_complete] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    -ms-flex: 0 0 4rem;
        flex: 0 0 4rem;
    padding: 16px;
    padding: 1rem;
    background: no-repeat center center url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>')
}
[mol_app_todomvc_task_row_complete][mol_check_checked] {
    background: no-repeat center center url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>')
}
[mol_app_todomvc_task_row_title] {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_todomvc_task_row_completed] [mol_app_todomvc_task_row_title] {
    color: #d9d9d9;
    text-decoration: line-through
}
[mol_app_todomvc_task_row_drop] {
    font-size: 20px;
    font-size: 1.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 64px;
            flex: 0 64px;
    -ms-flex: 0 04rem;
        flex: 0 04rem
}
[mol_app_todomvc_task_row]:not(:hover) [mol_app_todomvc_task_row_drop]:not(:focus) {
    opacity: 0;
    color: #cc9a9a
}
[mol_app_todomvc_foot] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 8px 16px;
    padding: .5rem 1rem;
    color: #777;
    font-size: 13.6px;
    font-size: .85rem;
    border-top: 1px solid #ededed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, .2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, .2)
}
[mol_app_todomvc_pending] {
    padding: 4px;
    padding: .25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 96px;
            flex: 0 1 96px;
    -ms-flex: 0 1 6rem;
        flex: 0 1 6rem
}
[mol_app_todomvc_filter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 100 auto;
            flex: 1 100 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 4px;
    margin: .25rem;
    box-shadow: none
}
[mol_app_todomvc_sanitize] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 4px;
    padding: .25rem
}
[mol_app_todomvc_sanitize][disabled] {
    visibility: hidden
}
[mol_app_todomvc_sanitize]:hover ,
[mol_app_todomvc_sanitize]:focus {
    text-decoration: underline
}
[mol_app_users] {
    max-width: 448px;
    max-width: 28rem;
    max-height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    background: #fcfcfc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box
}
[mol_app_users_filter] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    box-sizing: border-box
}
[mol_app_users_body] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 640px;
            flex: 1 1 640px;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_app_users_list] {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background: #fcfcfc
}
[mol_app_users_row] {
    margin-bottom: 1px;
    background: #fcfcfc
}
[mol_app_users_row_title] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_app_users_message] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white
}
[mol_app_users_controller] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
[mol_app_users_controller] > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_demo_all] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start
}
[mol_expander] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_expander_header] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_filler] {
    text-align: left
}
[mol_icon_demo] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_icon_demo_icon]:hover {
    color: hsl(140, 35%, 50%)
}
[mol_link_demo] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_suggest] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    position: relative;
    margin: auto
}
[mol_suggest_stringer] {
    width: 100%;
    box-sizing: border-box
}
[mol_suggest_lister] {
    margin-top: 1px;
    border-radius: 2px;
    min-height: 0px;
    position: absolute;
    color: rgba(0, 0, 0, .9);
    background: #fcfcfc;
    min-width: 96px;
    min-width: 6rem;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_suggest_rower] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 2px;
    margin: 0
}
[mol_suggest_rower] + [mol_suggest_rower] {
    margin-top: 1px
}
[mol_suggest_rower]:hover ,
[mol_suggest_rower][mol_suggest_selected] {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    z-index: 1
}

/*# sourceMappingURL=web.css.map */