[mol_gallery_demo_scroll] {
	padding: var(--mol_gap_block);
}

[mol_gallery_demo_item] {
	margin: var(--mol_gap_block);
	flex: 1 1 auto;
	flex-direction: column;
	position: relative;
	aspect-ratio: 1;
	background-size: cover;
	border-radius: var(--mol_gap_round);
	overflow: hidden;
}

[mol_gallery_demo_item]:hover {
	opacity: .9;
}

[mol_gallery_demo_item_title] {
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: hsla( 0, 0%, 100%, .25 );
	backdrop-filter: blur(.25rem);
	color: black;
}
