[mol_gallery_demo_item] {
	margin: var(--mol_gap_block);
	flex: 1 1 auto;
	flex-direction: column;
	position: relative;
	aspect-ratio: 1;
	background-size: cover;
	border-radius: var(--mol_gap_round);
	overflow: hidden;
}

[mol_gallery_demo_item]:hover {
	opacity: .9;
}

[mol_gallery_demo_item_image] {
	align-self: stretch;
	justify-self: stretch;
	width: auto;
	height: auto;
}
