[mol_app_slides] {
	display: flex;
}

[mol_app_slides_loader] {
	border: none;
}

[mol_app_slides_role="listener"] {
	font-size: 3vmin;
}

[mol_app_slides_speaker] {
	flex: 1 1 40rem;
}

[mol_app_slides_listener] {
	flex: 1 1 66%;
}

[mol_app_slides_speaker_body] ,
[mol_app_slides_listener_body] {
	display: flex;
	flex-direction: column;
}

[mol_app_slides_speaker_content] {
	flex: 1 0 auto;
	justify-content: space-between;
	max-width: none;
}

[mol_app_slides_listener_content] {
	flex: 0 1 auto;
	margin: auto;
	max-width: none;
	flex-wrap: wrap;
	align-content: space-evenly;
	align-items: flex-start;
	box-shadow: none;
	background: none;
	flex-direction: row;
}

[mol_app_slides_slide_switcher] {
	margin-left: .5rem;
}

[mol_app_slides_slide_number] {
	margin: .5rem;
	word-break: normal;
}

[mol_app_slides_listener_content_row] {
	margin: 1rem;
}

[mol_app_slides_listener_content_quote] {
	margin: 1rem;
	box-shadow: none;
	background: transparent;
	color: inherit;
}

[mol_app_slides_listener_content] [mol_text_image] {
	width: 100vw;
	height: 100vh;
}

[mol_app_slides_progress] {
	flex: 0 0 auto;
	width: auto;
}

[mol_app_slides_speech_toggle] {
	align-items: center;
}
