[mol_app_inventory_position] {
	display: flex;
	margin-bottom: 1px;
}
[mol_app_inventory_position_producter] {
	flex: 1000 1 10rem;
}
[mol_app_inventory_position_statuser] {
	flex: 1 1 auto;
}
[mol_app_inventory_position_counter] {
	width: 4rem;
	flex: 1 1 4rem;
}
[mol_app_inventory_position_commenter] {
	flex: 0 1 auto;
}
[mol_app_inventory_position_descriptioner] {
}
