[mol_app_inventory_position] {
	display: flex;
	margin-bottom: 1px;
}
[mol_app_inventory_position_product] {
	flex: 1000 1 10rem;
}
[mol_app_inventory_position_status] {
	flex: 1 1 auto;
}
[mol_app_inventory_position_count] {
	width: 8rem;
	flex: 1 0 8rem;
}
[mol_app_inventory_position_comment] {
	flex: 0 1 auto;
}
[mol_app_inventory_position_title] {
	display: block;
}
[mol_app_inventory_position_description] {
	display: block;
	color: var(--mol_skin_passive_text);
}
