[mol_viewer_root] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 12pt/1.25 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
/*body[mol_viewer_root] {*/
/*position: fixed;*/
/*}*/
[mol_viewer_error] ,
[mol_viewer_error] * {
    background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
    background-size: 28px 28px !important
}
@-webkit-keyframes mol_viewer_wait_show {
    from {
        background-image: none
    }
}
@keyframes mol_viewer_wait_show {
    from {
        background-image: none
    }
}
@-webkit-keyframes mol_viewer_wait_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
@keyframes mol_viewer_wait_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
[mol_viewer_error="$mol_atom_wait"] ,
[mol_viewer_error="$mol_atom_wait"] * {
    background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(0,0,0,.02),
		rgba(0,0,0,.02) 9px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,0,.02),
		rgba(0,0,0,.02) 9px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_viewer_wait_show .5s linear , mol_viewer_wait_move .25s steps(6) infinite !important;
            animation: mol_viewer_wait_show .5s linear , mol_viewer_wait_move .25s steps(6) infinite !important
}
[mol_scroller] {
    overflow: auto;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-sizing: border-box;
    will-change: scroll-position;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 1px rgba( 220 , 220 , 220 , 1 );
    max-height: 100%;
    -webkit-overflow-scrolling: touch
}
@media print {
    [mol_scroller] {
        overflow: visible
    }
}
[mol_pager] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}
[mol_pager_header] {
    background: hsl( 215 , 50% , 57% );
    color: rgb(254, 253, 251);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow: hidden;
    position: relative
}
[mol_pager_titler] {
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 auto;
            flex: 1000 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    padding: 1rem
}
[mol_pager_bodier] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100%;
    background: #fcfcfc;
    color: rgba( 0 , 0 , 0 , .9 )
}
[mol_pager_footer] {
    background: hsl( 215 , 50% , 57% );
    color: rgb(254, 253, 251);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow: hidden
}
[mol_floater] {
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity ease-out .1s .1s;
    transition: opacity ease-out .1s .1s
}
[mol_floater_scrolling] {
    opacity: 0;
    -webkit-transition: none;
    transition: none
}
[mol_clicker] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    font: inherit;
    background: none;
    box-shadow: 0 0 0 1px rgba( 220 , 220 , 220 , 1 );
    border-radius: 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
    opacity: .9;
    position: relative
}
[mol_clicker_button][disabled] {
    background: #eee;
    color: gray
}
[mol_clicker_major]:not([disabled]) {
    background: rgb(255, 164, 36);
    color: rgb(250, 252, 255);
    box-shadow: 0 0 1px 0 rgba( 220 , 220 , 220 , 1 )
}
[mol_clicker_danger]:not([disabled]) {
    background: rgba(255, 0, 0, 0.51);
    color: white
}
[mol_clicker]:not([disabled]):hover ,
[mol_clicker]:focus {
    outline: none;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1px 1px rgba( 0 , 0 , 0 , .5 )
}
[mol_checker] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    font-weight: normal;
    box-shadow: none
}
[mol_checker_icon] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: -10%
}
[mol_checker_labeler] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
[mol_icon] {
    fill: currentColor;
    width: 1em;
    height: 1em
}
[mol_checker_expander][disabled] [mol_checker_expander_icon] {
    visibility: hidden
}
[mol_checker_expander_icon] {
    box-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
[mol_checker_expander]:not([mol_checker_checked]) > [mol_checker_expander_icon] {
    fill: rgba( 0 , 0 , 0 , .9 );
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
}
[mol_checker_expander][mol_checker_checked] > [mol_checker_expander_icon] {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg)
}
[mol_grider] {
    border-spacing: 0;
    box-shadow: 0 0 0 1px rgba( 220 , 220 , 220 , 1 );
    -webkit-transform: translateZ(0);
            transform: translateZ(0)
}
[mol_grider] > * {
    display: table-row
}
[mol_grider] > * > * {
    display: table-cell;
    padding: 0 16px;
    padding: 0 1rem;
    white-space: nowrap;
    vertical-align: middle
}
[mol_grider_rower]:not(:last-child) > * {
    border-bottom: 1px solid rgb(240, 240, 240)
}
[mol_grider] > * > *:not(:last-child) {
    border-right: 1px solid rgb(240, 240, 240)
}
[mol_grider] > [mol_grider_header] > * {
    background: #fcfcfc;
    border-bottom: 1px solid rgba( 220 , 220 , 220 , 1 )
}
[mol_grider_number] {
    text-align: right
}
[mol_grider_branch] {
    text-align: left
    /*width: 100%;*/
    /*height: 100%;*/
}
[mol_app_taxon_grider] {
    min-height: 16px;
    min-height: 1rem;
    min-width: 80px;
    min-width: 5rem
}

/*# sourceMappingURL=web.css.map */