[mol_suggester] {
	flex: 1000 1 auto;
	display: flex;
	position: relative;
}

[mol_suggester_lister] {
	top: 2.25rem;
	margin-top: 1px;
	overflow: hidden;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	min-height: 0px;
	position: absolute;
	background-color: var(--mol_skin_card);
	min-width: 6rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

[mol_suggester_rower] {
	justify-content: flex-start;
	border-radius: 0;
}

[mol_suggester_rower] + [mol_suggester_rower] {
	margin-top: 1px;
}

[mol_suggester_rower]:hover ,
[mol_suggester_rower][mol_suggester_selected] {
	background-color: var(--mol_skin_base);
	color: var(--mol_skin_base_text);
}
