[mol_suggester] {
	flex: 1000 1 auto;
	position: relative;
}

[mol_suggester_stringer] {
	width: 100%;
	box-sizing: border-box;
}

[mol_suggester_lister] {
	margin-top: 1px;
	border-radius: var(--mol_skin_round);
	min-height: 0px;
	position: absolute;
	color: var(--mol_skin_light_text);
	background: var(--mol_skin_light);
	min-width: 6rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

[mol_suggester_rower] {
	justify-content: flex-start;
	border-radius: var(--mol_skin_round);
	margin: 0;
}

[mol_suggester_rower] + [mol_suggester_rower] {
	margin-top: 1px;
}

[mol_suggester_rower]:hover ,
[mol_suggester_rower][mol_suggester_selected] {
	box-shadow: 0 0 0 1px var(--mol_skin_focus);
	z-index: 1;
}
