[mol_textarea] {
	flex: 1 0 auto;
	flex-direction: column;
	vertical-align: top;
	min-height: max-content;
	white-space: pre-wrap;
	border-radius: var(--mol_gap_round);
	font-family: monospace;
}

[mol_textarea_view] {
	position: relative;
	z-index: 1;
	pointer-events: none;
	white-space: inherit;
	font-family: inherit;
}
[mol_textarea_clickable] > [mol_textarea_view] {
	pointer-events: all;
}

[mol_textarea_edit] {
	font-family: inherit;
	padding: var(--mol_gap_text);
	color: transparent !important;
	caret-color: var(--mol_theme_text);
	resize: none;
	text-align: inherit;
	white-space: inherit;
	border-radius: inherit;
	tab-size: 4;
	overflow-anchor: none;
}

[mol_textarea_sidebar_showed] [mol_textarea_edit] {
	left: 1.5rem;
	width: calc( 100% - 1.5rem );
}
