[mol_textarea] {
	display: inline-block;
	box-sizing: border-box;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: var(--mol_skin_round);
	overflow: auto;
	padding: .5rem 1rem;
	text-align: left;
	position: relative;
	z-index: 0;
	flex: 1 1 auto;
	color: inherit;
	white-space: pre-wrap;
	min-height: calc( 1rem + 1.5em );
}

[mol_textarea][contentEditable="true"] {
	background: var(--mol_theme_field);
}

[mol_textarea]:focus {
	z-index: 1;
	outline: none;
	box-shadow: 0 0 0 1px var(--mol_theme_focus);
}

[mol_textarea]:empty:before {
	content: attr(mol_textarea_hint);
	color: var(--mol_theme_shade);
	pointer-events: none;
}
