[mol_textarea] {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	vertical-align: top;
	min-width: max-content;
	min-height: max-content;
}

[mol_textarea_view] {
	pointer-events: none;
	z-index: 1;
	white-space: pre;
}

[mol_textarea_edit] {
	font-family: monospace;
	z-index: -1 !important;
	padding: var(--mol_gap_text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	caret-color: var(--mol_theme_text);
	resize: none;
	white-space: pre;
	tab-size: 4;
	overflow-anchor: none;
}
