[mol_book2] {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	overflow: hidden;
	flex: 1 1 auto;
	align-self: stretch;
	margin: 0;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	transform: translateZ(0);
	transition: none;
	overflow: auto;
	scroll-snap-type: x proximity;
}

[mol_book2] > * {
	flex: none;
	scroll-snap-stop: always;
	scroll-snap-align: end;
	position: relative;
	z-index: 0;
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
}

[mol_book2_placeholder] {
	flex: 1 1 0;
	/* background: var(--mol_theme_back); */
}
