[mol_book2] {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	flex: 1 1 auto;
	align-self: stretch;
	margin: 0;
	/* box-shadow: 0 0 0 1px var(--mol_theme_line); */
	/* transform: translateZ(0); */
	transition: none;
	scroll-snap-type: x mandatory;
	/* padding: 0 1px;
	scroll-padding: 0 1px;
	gap: 1px; */
}

[mol_book2] > * {
/* 	flex: none; */
	scroll-snap-stop: always;
	scroll-snap-align: end;
	position: relative;
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px var(--mol_theme_field);
}

[mol_book2] > *:not(:first-child):not([mol_book2_placeholder])::before,
[mol_book2] > *:not(:last-child):not(:has(+ [mol_book2_placeholder]))::after {
	content: '';
	position: absolute;
	top: 1.5rem;
	width: 3px;
	height: 1rem;
	background: linear-gradient(
		to bottom,
		var(--mol_theme_focus) 0%,
		var(--mol_theme_focus) 14%,
		transparent 15%,
		transparent 42%,
		var(--mol_theme_focus) 43%,
		var(--mol_theme_focus) 57%,
		transparent 58%,
		transparent 85%,
		var(--mol_theme_focus) 86%,
		var(--mol_theme_focus) 100%
	);
	opacity: .5;
	z-index: var(--mol_layer_speck);
}

[mol_book2] > *:not(:first-child)::before {
	left: -1px;
}

[mol_book2] > *:not(:last-child)::after {
	right: -1px;
}

:where([mol_book2]) > *:not([mol_book]) {
	background-color: var(--mol_theme_card);
	/* box-shadow: 0 0 0 1px var(--mol_theme_back); */
}

[mol_book2] > [mol_book2] {
	display: contents;
}

[mol_book2] > *:first-child {
	scroll-snap-align: start;
}

[mol_book2] > [mol_view] {
	transform: none; /* prevent content clipping */
}

[mol_book2_placeholder] {
	flex: 1 1 0;
	background: none;
}

[mol_book2_gap] {
	background: none;
	flex-grow: 1;
	scroll-snap-align: none;
	margin-right: -1px;
	box-shadow: none;
}

[mol_book2_gap]::before,
[mol_book2_gap]::after {
	display: none;
}
