[mol_app_inventory_item] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
[mol_app_inventory_item_label] {
	flex-basis: 40%;
}
[mol_app_inventory_item_count] {
	flex-basis: 5%;
}
