[mol_speck] {
	font-size: .625rem;
	border-radius: 1rem;
	margin: -0.5rem -0.25rem;
	align-self: flex-start;
	min-height: 1em;
	min-width: .5em;
	vertical-align: sub;
	padding: .25em .5em;
	position: absolute;
	z-index: var(--mol_layer_speck);
	text-align: center;
	line-height: 1;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
}
