[mol_app_inventory_positioner] {
	display: flex;
	margin-bottom: 1px;
}
[mol_app_inventory_positioner_producter] {
	flex: 1000 1 10rem;
}
[mol_app_inventory_positioner_statuser] {
	flex: 1 1 auto;
}
[mol_app_inventory_positioner_counter] {
	width: 4rem;
	flex: 1 1 4rem;
}
[mol_app_inventory_positioner_commenter] {
	flex: 0 1 auto;
}
[mol_app_inventory_positioner_titler] {
}
[mol_app_inventory_positioner_descriptioner] {
	color: var(--mol_skin_passive_text);
}
