[mol_string] {
	box-sizing: border-box;
	outline-offset: 0;
	border: none;
	border-radius: var(--mol_skin_round);
	white-space: nowrap;
	overflow: hidden;
	padding: .5rem .75rem;
	text-align: left;
	position: relative;
	z-index: 0;
	font: inherit;
	flex: 0 1 auto;
	background: var(--mol_theme_field);
	color: var(--mol_theme_text);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
}

[mol_string]:disabled {
	background-color: transparent;
}

[mol_string]:focus {
	outline: none;
	z-index: 1;
	box-shadow: inset 0 0 0 .5px var(--mol_theme_focus);
}

[mol_string]::-ms-clear {
	display: none;
}
