[mol_string] {
	box-sizing: border-box;
	box-shadow: var(--mol_skin_light_outline);
	outline-offset: 0;
	border: none;
	border-radius: var(--mol_skin_round);
	white-space: nowrap;
	overflow: hidden;
	padding: .5rem 1rem;
	text-align: left;
	position: relative;
	z-index: 0;
	font: inherit;
	flex: 0 1 auto;
	width: 100%;
	background: var(--mol_skin_passive);
	color: var(--mol_skin_light_text);
	margin: 0;
}

[mol_string]:enabled {
	background: var(--mol_skin_card);
}

[mol_string]:enabled:hover ,
[mol_string]:focus {
	outline: none;
	z-index: 1;
}

[mol_string]:focus {
	box-shadow: var(--mol_skin_focus_outline);
}

[mol_string]::-ms-clear {
	display: none;
}
