[mol_form_barFields] {
	padding: 0 .5rem;
	display: flex;
	flex-direction: column;
}

[mol_form_barFields] > * {
	margin: .5rem;
}

[mol_form_barButtons] {
	justify-content: center;
	box-shadow: none;
}

[mol_form_barButtons] > * {
	flex: 1 1 auto;
}
