[mol_form_barFields] {
	padding: 0 1vmin;
	display: flex;
	flex-wrap: wrap;
}

[mol_form_barFields] > * {
	margin: 1vmin;
}

[mol_form_barButtons] {
	justify-content: center;
	padding: 0 1vmin;
}

[mol_form_barButtons] > * {
	margin: 1vmin;
}
