[mol_scroll] {
	overflow: auto;
	/*overflow-y: scroll;*/
	flex: 1 1 auto;
	box-sizing: border-box;
	will-change: scroll-position;
	transform: translateZ(0);
	@apply --mol_skin_outline;
	max-height: 100%;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

@media print {
	[mol_scroll] {
		overflow: visible;
	}
}
