[mol_scroll] {
	display: block;
	overflow: auto;
	flex: 1 1 auto;
	align-self: stretch;
	box-sizing: border-box;
	will-change: scroll-position;
	transform: translateZ(0); /* enforce gpu scroll in all agents */
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	max-height: 100%;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

[mol_scroll]::-webkit-scrollbar {
	width: .5rem; 
	height: .5rem;
}

[mol_scroll]::-webkit-scrollbar-corner ,
[mol_scroll]::-webkit-scrollbar-track {
	background: var(--mol_theme_line);
}

[mol_scroll]::-webkit-scrollbar-thumb {
	background: var(--mol_theme_control);
}

/* prevent large gpu layer */
[mol_scroll][mol_scroll] {
	background: none;
}

[mol_scroll] > * {
	transform: translateZ(0);
}

@media print {
	[mol_scroll] {
		overflow: visible;
	}
}

[mol_scroll_strut] {
	position: absolute;
	display: block;
	padding: 1px 1px 0 0;
	margin: -1px 0 0 0;
	z-index: 0; 
	transition: none;
}
