[mol_scroll] {
	overflow: auto;
	overflow-y: scroll;
	flex: 1 1 auto;
	box-sizing: border-box;
	will-change: scroll-position;
	transform: translateZ(0);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	max-height: 100%;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

@media print {
	[mol_scroll] {
		overflow: visible;
	}
}
