[mol_rower] {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: .5rem;
	flex: 1 1 auto;
	outline: 1px solid var( --mol_skin_light_fore );
}

[mol_rower] > * {
	margin: .5rem;
}
