[mol_rower] {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 1vmin;
	flex: 0 0 auto;
}

[mol_rower] > * {
	margin: .5rem;
}

[mol_rower]:nth-child(even) {
	background: rgba( 0 , 0 , 0 , .025 );
}
