[mol_app_calc_title_edit]:enabled {
	color: inherit;
	background: transparent;
	width: auto;
	flex: 1000 1 auto;
	box-shadow: none;
	padding: .5rem;
}

[mol_app_calc_current] {
	flex: none;
}

[mol_app_calc_pos] {
	flex: none;
	width: 2ch;
	box-sizing: content-box;
	font-family: var(--mol_skin_font_monospace);
}	

[mol_app_calc_hint] {
	max-width: none;
}

[mol_app_calc_hint_trigger] {
	align-items: center;
}

[mol_app_calc_body] {
	align-self: stretch;
	flex: auto;
}

[mol_app_calc_col_head] ,
[mol_app_calc_row_head] {
	font-family: var(--mol_skin_font_monospace);
	background: var(--mol_theme_back);
	color: var(--mol_theme_shade);
	user-select: none;
	font-weight: inherit;
}

[mol_app_calc_col_head] {
	text-align: left;
}

[mol_app_calc_row_head] {
	min-width: 2ch;
	text-align: right;
}

[mol_app_calc_cell] {
	user-select: text;
	background: var(--mol_theme_back);
}

[mol_app_calc_cell_selected] {
	box-shadow: 0 0 0 1px var(--mol_theme_focus);
	z-index: 1;
}

[mol_app_calc_cell_type="number"] {
	text-align: right;
}
