[mol_app_todomvc] {
}

[mol_app_todomvc_allCompleter] {
	width: 2rem;
	height: 2rem;
	transform: rotate( 90deg );
	opacity: .5;
	padding: 0;
}
[mol_app_todomvc_allCompleter]:before {
	display: none;
}

[mol_app_todomvc_allCompleter][mol_checker_checked] {
	opacity: 1;
}

[mol_app_todomvc_adder] {
	margin: 0;
	padding: 1rem;
	box-shadow: none;
}

[mol_app_todomvc_lister] {
	font-size: 1.5rem;
}

[mol_app_todomvc_taskRow] {
	padding: 0;
}

[mol_app_todo_task_view_row_completer] {
	border-radius: 10rem;
	outline: none;
	border: 1px solid #ddd;
	padding: 0;
	width: 2rem;
	height: 2rem;
	margin: .5rem;
}
[mol_app_todo_task_view_row_completer]:hover {
	border-color: #aaa;
}

[mol_app_todo_task_view_row_title] {
	padding: 1rem;
	box-shadow: none;
	flex: 1;
}

[mol_app_todomvc_taskRow_dropper] {
	box-shadow: none;
}

[mol_app_todomvc_paneler] {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	max-width: 34rem;
	background: white;
	display: flex;
	flex-direction: column;
	margin: 0 auto 2rem;
}

[mol_app_todomvc_header] {
	font-size: 1.5rem;
	padding: 0;
}

[mol_app_todomvc_titler] {
	padding: 1rem;
	font-size: 6rem;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	text-rendering: optimizeLegibility;
}

[mol_app_todomvc_taskRow_titler] {
	box-shadow: none;
	background: none;
}

[mol_app_todomvc_taskRow_completed] [mol_app_todomvc_taskRow_titler] {
	color: #a9a9a9;
	text-decoration: line-through;
}

[mol_app_todomvc_taskRow]:not(:hover) [mol_app_todomvc_taskRow_dropper]:not(:focus) {
	opacity: 0;
}

[mol_app_todomvc_footer] {
	color: #777;
	font-size: .85rem;
	border-top: 1px solid #ededed;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

[mol_app_todo_pendinger] {
	padding: .5rem;
}

[mol_app_todomvc_pendingCounter] {
	margin: 0 .2rem;
	font-weight: bold;
	display: inline;
}

[mol_app_todomvc_filter] {
	padding: 0;
	flex: 0 1 auto;
}

[mol_app_todo_actioner] {
	padding: .5rem;	
}

[mol_app_todomvc_sanitizer] {
	flex: 0 1 auto;
}

[mol_app_todomvc_ghost]:not([mol_app_todomvc_ghost_visible]) {
	visibility: hidden;
}

[mol_app_todo_footer]:not([mol_app_todomvc_ghost_visible]) {
	display: none;
}
