[mol_grider] {
	border-spacing: 0;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
}

[mol_grider] > * {
	display: table-row;
}

[mol_grider] > * > * {
	display: table-cell;
	padding: 0 1rem;
	white-space: nowrap;
	vertical-align: middle;
}

[mol_grider_rower]:not(:last-child) > * {
	border-bottom: 1px solid color( var(--mol_skin_light_line) lightness(+8%) );
}

[mol_grider] > * > *:not(:last-child)  {
	border-right: 1px solid color( var(--mol_skin_light_line) lightness(+8%) );
}

[mol_grider] > [mol_grider_header] > * {
	background: var(--mol_skin_light);
	border-bottom: 1px solid var(--mol_skin_light_line);
}

[mol_grider_number] {
	text-align: right;
}

[mol_app_grider_branch] {
	text-align: left;
	width: 100%;
	height: 100%;
}
