[mol_example_large] {
	flex: 1 1 auto;
	flex-direction: column;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: var(--mol_gap_round);
	margin: var(--mol_gap_block);
	max-width: calc( 100% - 1.5rem );
	max-height: calc( 100% - 1.5rem );
	overflow: hidden;
}
