[mol_float] {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	transition: opacity .25s ease-in;
	display: block;
	background: var(--mol_theme_back);
	box-shadow: 0 0 .5rem hsla(0,0%,0%,.25);
}

