[mol_demo_large] {
	flex: 1 1 auto;
	flex-direction: column;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: var(--mol_gap_round);
	/* height: 100%;
	width: 100%;
	overflow: hidden;
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	position: relative;
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
	align-self: stretch; */
}
