[mol_labeler] {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
	cursor: inherit;
}

[mol_labeler_title] {
	color: var(--mol_skin_passive_text);
	font-size: .75rem;
}
