[mol_labeler] {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	cursor: inherit;
}

[mol_labeler_label] {
	color: var(--mol_theme_shade);
	z-index: 1;
	padding: 0 var(--mol_gap_block);
	gap: 0 var(--mol_gap_block);
	flex-wrap: wrap;
}

[mol_labeler_content] {
	display: flex;
}
