[mol_labeler] {
	/*display: inline-flex;*/
	/*align-items: baseline;*/
	/*flex-wrap: wrap;*/
}

[mol_labeler_titler] {
	color: #888;
	font-size: .85rem;
}

[mol_labeler_contenter] {
	font-weight: bolder;
	/*flex: 0 1 auto;*/
	/*display: flex;*/
}
