[mol_labeler] {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	cursor: inherit;
}

[mol_labeler_title] {
	color: var(--mol_skin_passive_text);
	font-size: .875rem;
}

[mol_labeler_content] {
	display: flex;
}
