[mol_app_files_folder] {
	flex: 1 1 auto;
	width: 400px;
}

[mol_app_files_folder_body] {
	padding: .5rem;
}

[mol_app_files_folder_description] {
	padding: 0;
}

[mol_app_files_folder_folder_rows] {
	padding: .5rem;
}

[mol_app_files_folder_row] {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	word-break: break-word;
	box-shadow: var(--mol_skin_light_outline);
	padding: .25rem;
}

[mol_app_files_folder_row]:not([mol_link_current]) {
	background: var(--mol_skin_card);
	color: var(--mol_skin_card_text);
}

[mol_app_files_folder_row_info] {
	display: block;
	flex: 1 1 auto;
}

[mol_app_files_folder_row_title] {
	margin: .25rem;
	display: block;
}

[mol_app_files_folder_row_descr] {
	opacity: .66;
	white-space: nowrap;
	margin: .5rem;
	font-size: .8rem;
	float: right;
}

[mol_app_files_file] {
	flex: 1000 1 auto;
	width: 800px;
	align-self: stretch;
}

[mol_app_files_file_embed] {
	align-self: stretch;
	flex: 1 1 auto;
	box-shadow: var(--mol_skin_light_outline);
	border-radius: var(--mol_skin_round);
}

[mol_app_files_file_body] {
	overflow: hidden;
}

[mol_app_files_icon_file] ,
[mol_app_files_icon_folder] {
	margin: .25rem;
	zoom: 1.5;
	opacity: .66;
}
