[mol_app_files_folder] {
	flex: 1 1 auto;
	width: 400px;
}

[mol_app_files_folder_body] {
	padding: .5rem;
}

[mol_app_files_folder_row] {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	word-break: break-word;
	@apply --mol_skin_outline;
	padding: .25rem;
}

[mol_app_files_folder_row]:not([mol_link_current]) {
	background: var(--mol_skin_card);
	color: var(--mol_skin_card_text);
}

[mol_app_files_folder_row_info] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: baseline;
}

[mol_app_files_folder_row_title] {
	margin: .25rem;
}

[mol_app_files_folder_row_descr] {
	color: var(--mol_skin_passive_text);
	white-space: nowrap;
	margin: .25rem;
	font-size: .8rem;
	flex: 1 1 auto;
	text-align: right;
}

[mol_app_files_file] {
	flex: 1000 1 auto;
	width: 800px;
	align-self: stretch;
}

[mol_app_files_file_embed] {
	align-self: stretch;
	flex: 1 1 auto;
	@apply --mol_skin_outline;
	border-radius: var(--mol_skin_round);
}

[mol_app_files_file_body] {
	overflow: hidden;
}

[mol_app_files_icon_file] ,
[mol_app_files_icon_folder] {
	margin: .25rem;
	zoom: 1.5;
	color: var(--mol_skin_passive_text);
}

[mol_app_files_close] {
	color: inherit;
    align-items: center;
    padding: 1rem;
}
