[mol_statuser] {
	text-align: center;
	padding: .5rem;
	border-radius: var(--mol_skin_round);
	margin: auto;
}

[mol_statuser]:not([mol_viewer_error="$mol_atom_wait"]) {
	background: var(--mol_skin_warn);
	color: var(--mol_skin_warn_text);
}

[mol_statuser]:not([mol_viewer_error="$mol_atom_wait"]):empty {
	display: none;
}
