:root {
	--mol_skin_base_fore: black;
	--mol_skin_base_back: #DAE5F2;

	--mol_skin_focus_back: #6694CC;
	--mol_skin_focus_fore: white;
	
	--mol_skin_light_back: #F7FAFC;
	--mol_skin_light_fore: rgba( 0 , 0 , 0 , .15 );

	--mol_skin_accent_back: #FFE2B3;
	--mol_skin_accent_fore: #EFB678;

	--mol_skin_warn_back: #FFD6D6;
	--mol_skin_warn_fore: red;
	
	--mol_skin_round: 4px;
}
