:root {
	--mol_skin_base_back: #5988C8;
	--mol_skin_base_fore: white;

	--mol_skin_focus_back: #6694CC;
	--mol_skin_focus_fore: white;
	
	--mol_skin_light_back: #fcfcfc;
	--mol_skin_light_fore: rgba( 0 , 0 , 0 , .1 );
	--mol_skin_light_text: rgba( 0 , 0 , 0 , .85 );

	--mol_skin_accent_back: #5988C8;
	--mol_skin_accent_fore: white;

	--mol_skin_warn_back: #FFD6D6;
	--mol_skin_warn_fore: red;

	--mol_skin_good_back: #96DAA9;
	--mol_skin_good_fore: white;

	--mol_skin_bad_back: #CC5252;
	--mol_skin_bad_fore: white;

	--mol_skin_round: 4px;
}
