[mol_switch] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	box-shadow: var(--mol_skin_light_outline);
	border-radius: var(--mol_skin_round);
	background: var(--mol_skin_light_line);
}

[mol_switch_option] {
	flex: 1 1 auto;
	box-shadow: var(--mol_skin_light_outline);
	background: var(--mol_skin_passive);
	padding: .25rem .75rem;
}

[mol_switch_option][mol_check_checked] {
	background: var(--mol_skin_card);
	color: black;
	z-index: 1;
}

[mol_switch_option][mol_check_checked]:not([disabled]):hover {
	background: var(--mol_skin_light_hover);
}

[mol_switch_option][disabled] {
	color: var(--mol_skin_passive_text);
}
