[mol_switch] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
}

[mol_switch_option] {
	flex: 0 1 auto;
	padding: .5rem 1rem;
}

[mol_switch_option][mol_check_checked] {
	background: var(--mol_theme_current);
	color: var(--mol_theme_text);
	color: inherit;
	z-index: 1;
}
