[mol_switch] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	border-radius: var(--mol_gap_round);
}

[mol_switch_option] {
	flex: 0 1 auto;
}

[mol_switch_option][mol_check_checked="true"] {
	color: var(--mol_theme_focus);
	text-shadow: 0 0;
}
