[mol_grid] {
	display: block;
	flex: 0 1 auto;
	position: relative;
	overflow-x: auto;
}

[mol_grid_gap] {
	position: absolute;
	padding: .1px;
	top: 0;
	transform: translateZ(0);
}

[mol_grid_table] {
	border-spacing: 0;
	display: table-row-group;
	position: relative;
}

[mol_grid_table] > * {
	display: table-row;
	transition: none;
}

[mol_grid_head] > *,
[mol_grid_table] > * > * {
	display: table-cell;
	padding: var(--mol_gap_text);
	white-space: nowrap;
	vertical-align: middle;
	box-shadow: inset 2px 2px 0 -1px var(--mol_theme_line);
}

[mol_grid_row]:where(:first-child) > * {
	box-shadow: inset 2px 0 0 -1px var(--mol_theme_line);
}

[mol_grid_table] > * > *:where(:first-child) {
	box-shadow: inset 0px 2px 0 -1px var(--mol_theme_line);
}

[mol_grid_head] > * {
	box-shadow: inset 2px -2px 0 -1px var(--mol_theme_line);
}

[mol_grid_head] > *:where(:first-child) {
	box-shadow: inset 0px -2px 0 -1px var(--mol_theme_line);
}

[mol_grid_table] > [mol_grid_row]:where(:first-child) > *:where(:first-child) {
	box-shadow: none;
}	

[mol_grid_head] {
	display: table-row;
	transform: none !important;
}

/* [mol_grid_cell_number] {
	text-align: right;
} */

[mol_grid_col_head] {
	font-weight: inherit;
	text-align: inherit;
	display: table-cell;
	color: var(--mol_theme_shade);
}

[mol_grid_cell_dimmer] {
	display: inline-block;
	vertical-align: inherit;
}
