[mol_doc] {
	flex: 1 1 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

[mol_doc_header] {
	margin: .5rem;
	flex: 0 1 60rem;
	font-weight: bolder;
}

[mol_doc_text] {
	margin: .5rem;
	flex: 0 1 60rem;
}
