[mol_stack] {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	flex: 1 1 100%;
	display: flex;
	flex-direction: row-reverse;
	align-self: stretch;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: flex-start;
	overflow: hidden;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	margin: 0;
}

[mol_stack_main] {
	height: 100%;
	margin: 0 0 -100vh -150%;
	position: relative;
	z-index: 1;
	display: flex;
	background: var(--mol_skin_light);
	flex: 1000 1 640px;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	max-width: 100%;
}

[mol_stack_addon] {
	/*height: 100%;*/
	margin: 0 150% -100vh 0;
	position: relative;
	background: var(--mol_skin_light);
	flex: 1 1 auto;
	display: flex;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	z-index: 0;
	max-width: 100%;
}

[mol_stack_side] > [mol_stack_main] {
	margin-left: 0;
}

[mol_stack_side] > [mol_stack_addon] {
	margin-right: 0;
	z-index: 2;
}
