[mol_embed_service] {
	padding: 0;
	max-width: 100%;
}

[mol_embed_service_image] {
	flex: auto 1 1;
	width: 100vw;
}

[mol_embed_service_frame] {
	width: 100vw;
}

[mol_embed_service_hint] {
	position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
}

[mol_embed_service]:hover [mol_embed_service_hint] {
	opacity: .6;
}
