[mol_attach] {
	flex-wrap: wrap;
}

[mol_attach_item] {
	aspect-ratio: 1;
	height: 5rem;
	border-radius: var(--mol_gap_round);
	padding: 0;
}
[mol_attach_item]:hover {
	opacity: .5;
}

[mol_attach_image] {
	background: var(--mol_theme_card);
	width: 100%;
	height: 100%;
}

[mol_attach_add] {
	background: var(--mol_theme_card);
	aspect-ratio: 1;
	height: 5rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
