[mol_plot_mark_hor_curve] {
	color: var(--mol_theme_line);
	stroke-width: .1%;
	stroke: currentColor;
	pointer-events: none;
}

[mol_plot_mark_hor_label] {
	color: var(--mol_theme_text);
	transform: translateY( -4px );
}

[mol_plot_mark_hor_title] {
	color: var(--mol_theme_shade);
	transform: translateY( -4px );
}
