[mol_view] {
    -webkit-transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, -webkit-transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
    transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform, -webkit-transform;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-appearance: none
}
[mol_view_root] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 12pt/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
[mol_view_error] {
    background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255, 220, 220, 1),
		rgba(255, 220, 220, 1) 11px,
		rgba(255, 255, 220, 1) 10px,
		rgba(255, 255, 220, 1) 20px
	) !important;
    background-size: 28px 28px !important
}
[mol_view_error] * {
    background: none !important
}
@-webkit-keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@keyframes mol_view_wait_show {
    from {
        background: none
    }
}
@-webkit-keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
@keyframes mol_view_wait_move {
    from {
        background-position: 0 0
    }
    to {
        background-position: 28px 0
    }
}
[mol_view_error="$mol_atom_wait"] ,
[mol_view_error="$mol_atom_wait"] * {
    background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(91, 136, 200, 0.025),
		rgba(91, 136, 200, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(91, 136, 200, 0.025),
		rgba(91, 136, 200, 0.025) 9px,
		rgba(255, 255, 255, .015) 10px,
		rgba(255, 255, 255, .015) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important;
            animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite !important
}
[mol_string] {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    outline-offset: 0;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    padding: .5rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 8em;
    background: #eee;
    color: gray;
    margin: auto
}
[mol_string]:enabled {
    background: white;
    color: rgba(0, 0, 0, .9)
}
[mol_string]:enabled:hover ,
[mol_string]:focus {
    outline: none;
    z-index: 1
}
[mol_string]:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}
[mol_string]::-ms-clear {
    display: none
}
/* Styling BEM-block by autogenerated attribute */
[mol_app_hello] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: 24px/1 sans-serif;
    font: 1.5rem/1 sans-serif;
    box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin: 0
}
/* Styling BEM-element by autogenerated attribute */
[mol_app_hello_name] {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 16px;
    margin: 1rem
}

/*# sourceMappingURL=web.css.map */