@-webkit-keyframes mol_viewer_show {
    from {
        opacity: 0
    }
}
@keyframes mol_viewer_show {
    from {
        opacity: 0
    }
}
[mol_viewer] {
    -webkit-animation: mol_viewer_show .1s ease;
            animation: mol_viewer_show .1s ease
}
[mol_viewer_error] {
    background-image: -webkit-repeating-linear-gradient(315deg, rgba(255,220,220,1), rgba(255,220,220,1) 11px, rgba(255,255,220,1) 10px, rgba(255,255,220,1) 20px) !important;
    background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
    background-size: 28px 28px !important
}
@-webkit-keyframes mol_viewer_error_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
@keyframes mol_viewer_error_move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 28px 0
    }
}
[mol_viewer_error="$mol_atom_wait"] {
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(0,0,255,.05), rgba(0,0,255,.05) 11px, rgba(255,255,255,.02) 10px, rgba(255,255,255,.02) 20px) !important;
    background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
    background-size: 28px 28px !important;
    -webkit-animation: mol_viewer_show 1s linear , mol_viewer_error_move .25s linear infinite !important;
            animation: mol_viewer_show 1s linear , mol_viewer_error_move .25s linear infinite !important;
    pointer-events: none
}
[mol_stacker] {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden
}
[mol_stacker_mainer] {
    height: 100%;
    margin-left: 8px;
    margin-left: .5rem;
    margin-bottom: -100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    background:  ;
    background: #F7FAFC;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 66%;
            flex: 1000 1 66%;
    box-shadow: 0 0 0 1px  ;
    box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .15 )
}
[mol_stacker_addoner] {
    height: 100%;
    margin-right: -8px;
    margin-right: -.5rem;
    margin-bottom: -100vh;
    position: relative;
    background:  ;
    background: #DAE5F2;
    color:  ;
    color: black;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 0 1px  ;
    box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .15 );
    z-index: 0;
    max-width: calc( 100% - 1rem )
}
[mol_stacker_focused] {
    z-index: 1
}
[mol_scroller] {
    overflow: auto;
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    box-sizing: border-box;
    /*will-change: scroll-position;*/
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    outline: 1px solid  ;
    outline: 1px solid rgba( 0 , 0 , 0 , .15 )
}
@media print {
    [mol_scroller] {
        overflow: visible
    }
}
[mol_scroller]::-webkit-scrollbar {
    width: 8px;
    width: .5rem;
    height: 8px;
    height: .5rem
}
[mol_scroller]::-webkit-scrollbar-track {
    background: rgba( 0 , 0 , 0 , .1 )
}
[mol_scroller]::-webkit-scrollbar-thumb {
    background: rgba( 0 , 0 , 0 , .2 )
}
[mol_demo] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 90vh;
    margin: 16px;
    margin: 1rem
}
[mol_demo_titler] {
    font-size: 12px;
    font-size: .8rem;
    font-weight: bold
}
[mol_demo_screener] {
    overflow: hidden;
    outline: 1px solid  ;
    outline: 1px solid rgba( 0 , 0 , 0 , .15 );
    background:  ;
    background: #F7FAFC;
    border-radius:  ;
    border-radius: 4px;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_demo_large] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%
}
[mol_demo_medium] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_demo_small] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
            flex: 0 1 320px;
    max-height: 480px
}
[mol_linker] {
    font-weight: bold;
    text-decoration: none;
    color:  ;
    color: #6694CC;
    cursor: pointer
}
[mol_linker_current] {
    color: inherit;
    cursor: default
}
[mol_linker]:focus ,
[mol_linker]:not([mol_linker_current]):hover {
    outline: none;
    text-decoration: underline
}
[mol_demo_all] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start
}
[mol_app_demo] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}
[mol_app_demo_optioner] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8px;
    padding: .5rem
}
[mol_app_demo_optioner] > * {
    margin: 8px;
    margin: .5rem
}
[mol_app_demo_mainer] {
    background: white
}
[mol_app_demo_lister] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    padding: 8px;
    padding: .5rem;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
[mol_app_demo_screen] {
    max-height: 45%
}
[mol_form_barFields] {
    padding: 0 8px;
    padding: 0 .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_barFields] > * {
    margin: 8px;
    margin: .5rem
}
[mol_form_barButtons] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px;
    padding: .5rem
}
[mol_form_barButtons] > * {
    margin: 8px;
    margin: .5rem
}
[mol_form_field] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 6em
}
[mol_form_field_label] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}
[mol_form_field_label] > * {
    padding: 4px 8px;
    padding: .25rem .5rem
}
[mol_form_field_errorer] {
    color:  ;
    color: red
}
[mol_form_field_errorer]:not(:empty):before {
    content: '('
}
[mol_form_field_errorer]:not(:empty):after {
    content: ')'
}
[mol_stringer] {
    box-shadow: 0 0 0 1px  ;
    box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .15 );
    outline-offset: 0;
    border: none;
    border-radius:  ;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    padding: .5rem;
    text-align: left;
    position: relative;
    z-index: 0;
    font: inherit;
    -webkit-box-flex: 1000;
        -ms-flex: 1000 1 auto;
            flex: 1000 1 auto;
    width: 4em;
    background: #eee;
    color: gray
}
[mol_stringer]:enabled {
    background: white;
    color: inherit
}
[mol_stringer]:enabled:hover ,
[mol_stringer]:focus {
    outline: none;
    box-shadow: 0 0 0 2px  ;
    box-shadow: 0 0 0 2px #6694CC;
    z-index: 1
}
[mol_clicker] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    font: inherit;
    background: none;
    box-shadow: 0 0 0 1px  ;
    box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .15 );
    border-radius:  ;
    border-radius: 4px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
    opacity: .9
}
[mol_clicker]:disabled {
    background: #eee;
    color: gray
}
[mol_clicker]:enabled:hover ,
[mol_clicker]:focus {
    outline: none;
    box-shadow: 0 0 0 2px  ;
    box-shadow: 0 0 0 2px #6694CC;
    position: relative;
    z-index: 1;
    cursor: pointer;
    opacity: 1
}
[mol_clicker_major]:enabled {
    background:  ;
    background: #FFE2B3
}
[mol_clicker_warn]:enabled {
    background:  ;
    background: #FFD6D6
}
[mol_clicker_minor]:enabled {}
[mol_checker] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    box-shadow: none;
    /*padding: .5rem 0;*/
    font-weight: normal
}
[mol_checker]:before {
    content: '✔';
    color: transparent;
    border-radius:  ;
    border-radius: 4px;
    font-size: 16px;
    font-size: 1rem;
    width: 19px;
    width: 1.2rem;
    height: 19px;
    height: 1.2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19px;
            flex: 0 0 19px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.2rem;
            flex: 0 0 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: .75;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    background: white;
    box-shadow: 0 0 0 1px  ;
    box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .15 )
}
[mol_checker_checked]:before {
    background:  ;
    background: #6694CC;
    color:  ;
    color: white;
    box-shadow: none
}
[mol_checker]:not(:empty):before {
    margin-right: 8px;
    margin-right: .5rem
}
[mol_rower] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
    padding: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    outline: 1px solid  ;
    outline: 1px solid rgba( 0 , 0 , 0 , .15 )
}
[mol_rower] > * {
    margin: 8px;
    margin: .5rem
}
[mol_app_todomvc] {}
[mol_app_todomvc_allCompleter] {
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;
    -webkit-transform: rotate( 90deg );
            transform: rotate( 90deg );
    opacity: .5;
    padding: 0
}
[mol_app_todomvc_allCompleter]:before {
    display: none
}
[mol_app_todomvc_allCompleter][mol_checker_checked] {
    opacity: 1
}
[mol_app_todomvc_adder] {
    margin: 0;
    padding: 16px;
    padding: 1rem;
    box-shadow: none
}
[mol_app_todomvc_lister] {
    font-size: 24px;
    font-size: 1.5rem
}
[mol_app_todomvc_taskRow] {
    padding: 0
}
[mol_app_todo_task_view_row_completer] {
    border-radius: 10rem;
    outline: none;
    border: 1px solid #ddd;
    padding: 0;
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;
    margin: 8px;
    margin: .5rem
}
[mol_app_todo_task_view_row_completer]:hover {
    border-color: #aaa
}
[mol_app_todo_task_view_row_title] {
    padding: 16px;
    padding: 1rem;
    box-shadow: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1
}
[mol_app_todomvc_taskRow_dropper] {
    box-shadow: none
}
[mol_app_todomvc_paneler] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    max-width: 544px;
    max-width: 34rem;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 32px;
    margin: 0 auto 2rem
}
[mol_app_todomvc_header] {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0
}
[mol_app_todomvc_titler] {
    padding: 16px;
    padding: 1rem;
    font-size: 96px;
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility
}
[mol_app_todomvc_taskRow_titler] {
    box-shadow: none;
    background: none
}
[mol_app_todomvc_taskRow_completed] [mol_app_todomvc_taskRow_titler] {
    color: #a9a9a9;
    text-decoration: line-through
}
[mol_app_todomvc_taskRow]:not(:hover) [mol_app_todomvc_taskRow_dropper]:not(:focus) {
    opacity: 0
}
[mol_app_todomvc_footer] {
    color: #777;
    font-size: 13px;
    font-size: .85rem;
    border-top: 1px solid #ededed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2)
}
[mol_app_todo_pendinger] {
    padding: 8px;
    padding: .5rem
}
[mol_app_todomvc_pendingCounter] {
    margin: 0 3px;
    margin: 0 .2rem;
    font-weight: bold;
    display: inline
}
[mol_app_todomvc_filter] {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_app_todo_actioner] {
    padding: 8px;
    padding: .5rem
}
[mol_app_todomvc_sanitizer] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto
}
[mol_app_todomvc_ghost]:not([mol_app_todomvc_ghost_visible]) {
    visibility: hidden
}
[mol_app_todo_footer]:not([mol_app_todomvc_ghost_visible]) {
    display: none
}
[mol_app_users] {
    max-width: 480px;
    max-width: 30rem;
    max-height: 100%;
    width: 100%;
    /*height: 100%;*/
    margin: auto;
    background:  ;
    background: #F7FAFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
[mol_app_users_filter] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box
}
[mol_app_users_bodier] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 640px;
            flex: 1 1 640px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
[mol_app_users_lister] {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background:  ;
    background: #F7FAFC
}
[mol_app_users_controller] {
    background:  ;
    background: #F7FAFC
}
[mol_app_users_messager] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color:  ;
    color: red
}
[mol_filler] {
    text-align: left
}
[mol_tiler] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline
}
[mol_tiler_group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}
[mol_tiler_item] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto
}

/*# sourceMappingURL=index.env=web.stage=test.css.map */