@-webkit-keyframes mol_viewer_show {
	from {
		opacity: 0;
	}
}

@keyframes mol_viewer_show {
	from {
		opacity: 0;
	}
}

[mol_viewer] {
	-webkit-animation: mol_viewer_show .1s ease;
	        animation: mol_viewer_show .1s ease;
}

[mol_viewer_error] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,220,220,1), rgba(255,220,220,1) 11px, rgba(255,255,220,1) 10px, rgba(255,255,220,1) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}
[mol_viewer_error]:after {
	content: attr( mol_viewer_error );
	border: 1px solid red;
	background: pink;
	display: inline-table;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: .25em .5em;
	-webkit-transform: translate( -50% , -50% );
	        transform: translate( -50% , -50% );
}

@-webkit-keyframes mol_viewer_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

@keyframes mol_viewer_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

[mol_viewer_error="Wait..."] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(0,0,255,.05), rgba(0,0,255,.05) 11px, rgba(255,255,255,.02) 10px, rgba(255,255,255,.02) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	-webkit-animation: mol_viewer_show 1s linear , mol_viewer_error_move .25s linear infinite !important;
	        animation: mol_viewer_show 1s linear , mol_viewer_error_move .25s linear infinite !important;
	pointer-events: none;
}
[mol_viewer_error="Wait..."]:after {
	border: 1px solid steelblue;
	background: lightsteelblue;
}
[mol_clicker] {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	border-radius:  ;
	border-radius: 2px;
	-webkit-box-flex: .001;
	    -ms-flex: .001 1 auto;
	        flex: .001 1 auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: 8px;
	padding: .5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: inherit;
	color: inherit;
	cursor: default;
	opacity: .9;
}
[mol_clicker_enabled="false"] {
	background: #eee;
	color: gray;
}
[mol_clicker_enabled="true"]:hover ,
[mol_clicker]:focus {
	outline: none;
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px #6694CC;
	position: relative;
	z-index: 1;
	cursor: pointer;
	opacity: 1;
}
[mol_clicker_major][mol_clicker_enabled="true"] {
	background:  ;
	background: #FFE2B3;
}
[mol_clicker_warn][mol_clicker_enabled="true"] {
	background:  ;
	background: #FFD6D6;
}
[mol_clicker_minor][mol_clicker_enabled="true"] {}
[mol_checker] {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	border: none;
	box-shadow: none;
	/*padding: .5rem 0;*/
	font-weight: normal;
}
[mol_checker][mol_clicker_enabled="true"]:hover:before ,
[mol_checker_checked="true"]:before {
	background:  ;
	background: #6694CC;
	box-shadow: none;
}
[mol_checker]:before {
	content: '✔';
	color: transparent;
	border-radius:  ;
	border-radius: 2px;
	width: 19px;
	width: 1.2rem;
	height: 19px;
	height: 1.2rem;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 19px;
	        flex: 0 0 19px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 1.2rem;
	        flex: 0 0 1.2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: .75;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}
[mol_checker]:not(:empty):before {
	margin-right: 8px;
	margin-right: .5rem;
}
[mol_checker_checked="false"]:before {
	background: white;
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
}
[mol_checker_checked="true"]:before {
	color:  ;
	color: white;
}
[mol_rower] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1vmin;
}
[mol_rower] > * {
	margin: 8px;
	margin: .5rem;
}
[mol_rower]:nth-child(even) {
	background: rgba( 0 , 0 , 0 , .025 );
}
[mol_stacker] {
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	overflow: hidden;
}
[mol_stacker_mainer] {
	height: 100%;
	margin-left: 8px;
	margin-left: .5rem;
	margin-bottom: -100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 1;
	background:  ;
	background: #F7FAFC;
	-webkit-box-flex: 1000;
	    -ms-flex: 1000 1 50%;
	        flex: 1000 1 50%;
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
}
[mol_stacker_addoner] {
	height: 100%;
	margin-right: -8px;
	margin-right: -.5rem;
	margin-bottom: -100vh;
	position: relative;
	background:  ;
	background: #DAE5F2;
	color:  ;
	color: black;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
}
[mol_stacker_focused="true"] {
	z-index: 1;
}
[mol_scroller] {
	overflow: auto;
	overflow-y: scroll;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	box-sizing: border-box;
	/*will-change: scroll-position;*/
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}
@media print {
	[mol_scroller] {
		overflow: visible;
	}
}
[mol_scroller]::-webkit-scrollbar {
	width: 8px;
	width: .5rem;
	height: 8px;
	height: .5rem;
}
[mol_scroller]::-webkit-scrollbar-track {
	background: rgba( 0 , 0 , 0 , .1 );
}
[mol_scroller]::-webkit-scrollbar-thumb {
	background: rgba( 0 , 0 , 0 , .25 );
	/*background: var( --mol_skin_accent_fore );*/
	border-radius:  ;
	border-radius: 2px;
	/*border: 1px solid var( --mol_skin_light_fore );*/
}
[mol_linker] {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
[mol_linker_current="false"] {
	color:  ;
	color: #6694CC;
	cursor: pointer;
}
[mol_linker]:focus ,
[mol_linker_current="false"]:hover {
	outline: none;
	text-decoration: underline;
}
[mol_demo_all] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}
[mol_demo_all_optioner] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 1vmin;
}
[mol_demo_all_optioner] > * {
	margin: 8px;
	margin: .5rem;
}
[mol_demo_all_lister] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	height: 100%;
	padding: 1vmin;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	background: white;
}
[mol_demo_all_item] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-height: 45%;
	/*height: 400px;*/
	/*box-shadow: 0 0 .5rem rgba( 0 , 0 , 0 , .5 );*/
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	margin: 8px;
	margin: .5rem;
	background:  ;
	background: #F7FAFC;
	border-radius:  ;
	border-radius: 2px;
	overflow: auto;
	position: relative;
}
[mol_demo_all_itemLarge] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
}
[mol_demo_all_itemMedium] {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
}
[mol_demo_all_itemSmall] {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 320px;
	        flex: 0 1 320px;
}
[mol_form_barFields] {
	padding: 0 1vmin;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
[mol_form_barFields] > * {
	margin: 1vmin;
}
[mol_form_barButtons] {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 1vmin;
}
[mol_form_barButtons] > * {
	margin: 1vmin;
}
[mol_form_field] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	width: 6em;
}
[mol_form_field_label] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
[mol_form_field_label] > * {
	padding: 4px 8px;
	padding: .25rem .5rem;
}
[mol_form_field_errorer] {
	color:  ;
	color: red;
}
[mol_form_field_errorer]:not(:empty):before {
	content: '(';
}
[mol_form_field_errorer]:not(:empty):after {
	content: ')';
}
[mol_stringer] {
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	border-radius:  ;
	border-radius: 2px;
	white-space: nowrap;
	overflow: hidden;
	padding: 8px;
	padding: .5rem;
	text-align: left;
	position: relative;
	z-index: 0;
	font: inherit;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	min-width: 4em;
	background: #eee;
	color: gray;
}
[mol_stringer][contentEditable="true"] {
	background: white;
	color: inherit;
}
[mol_stringer][contentEditable="true"]:hover ,
[mol_stringer]:focus {
	box-shadow: 0 0 0 1px  ;
	box-shadow: 0 0 0 1px #6694CC;
	outline: none;
	z-index: 1;
}
[mol_stringer]:empty:before {
	content: attr( mol_stringer_hint );
	display: inline;
	color:  ;
	color: rgba( 0 , 0 , 0 , .2 );
	position: relative;
	z-index: -1;
}
[mol_switcher]:before {
	content: '⚫';
	border-radius: 50%;
}
[mol_stacker_demo] {
	height: 200px;
}
[mol_tiler] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}
[mol_tiler_group] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
[mol_tiler_item] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

/*# sourceMappingURL=index.env=web.stage=test.css.map */