[mol_chart_demo_styles] {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	flex: 1 1 auto;
	align-self: stretch;
}

[mol_chart_demo_styles_chart] {
	flex: 1 1 auto;
}

[mol_chart_demo_styles_count] {
	flex: 0 0 auto;
}
