@keyframes mol_icon_settings_hover {
	from {
		transform: rotateZ( 0 );
	}
	to {
		transform: rotateZ( 360deg );
	}
}

[mol_icon_settings]:hover {
	animation: mol_icon_settings_hover 1s infinite linear;
}