[mol_icon_demo] {
	display: flex;
	flex-direction: column;
}

[mol_icon_demo_icons_filter] {
	align-self: stretch;
	flex: none;
}

[mol_icon_demo] [mol_icon]:hover {
	color: var(--mol_skin_accent);
	transform: scale(2);
}
