[mol_card] {
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	background: var(--mol_theme_card);
	color: var(--mol_theme_text);
	border-radius: var(--mol_gap_round);
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	position: relative;
}

[mol_card_content] {
	flex: 1 1 auto;
	border-radius: var(--mol_gap_round);
	margin: 0;
	padding: var(--mol_gap_block);
}

[mol_card_status] {
	background: var(--mol_theme_line);
	text-transform: capitalize;
	padding: var(--mol_gap_text);
	margin: 0;
}

[mol_card_status] {
	background: var(--mol_theme_line);
}
