[mol_card] {
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	border-radius: var(--mol_skin_round);
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
}

[mol_card_content] {
	flex: 1 1 auto;
	border-radius: var(--mol_skin_round);
	margin: 0;
}

[mol_card_status] {
	background: var(--mol_theme_line);
	text-transform: capitalize;
	padding: .25rem .75rem;
	line-height: 2;
	margin: 0;
}

[mol_card_status] {
	background: var(--mol_theme_line);
}
