[mol_dimmer] {
	display: block;
	max-width: 100%;
}

[mol_dimmer_low] {
	display: inline;
	opacity: 0.8;
}

[mol_dimmer_high] {
	display: inline;
	color: var(--mol_theme_focus);
	text-shadow: 0 0;
}

[mol_dimmer]:empty::after {
	content: "\00A0";
}
