[mol_app_supplies_detail_content] {
	padding: 0 .75rem;
	background: var(--mol_theme_field);
}

[mol_app_supplies_detail_content] > * {
	margin: .75rem 0;
}

[mol_app_supplies_detail_positions] {
	gap: .75rem;
}

[mol_app_supplies_detail_descr_deck] {
	margin: 0;
}

[mol_app_supplies_detail_cons_content] {
	align-items: baseline;
}

[mol_app_supplies_detail_cons_content] > * {
	flex: 1 1 10rem;
}

[mol_app_supplies_detail_org_content] {
	align-items: baseline;
}

[mol_app_supplies_detail_org_content] > * {
	flex: 1 1 10rem;
}

[mol_app_supplies_detail_cost] {
	text-align: right;
	margin: 0;
}
