[mol_bench_col_head] {
	cursor: pointer;
}

[mol_bench_cell_number] {
	white-space: nowrap;
	text-align: right;
}

[mol_bench_result_portion] {
	margin-left: .75rem;
}

[mol_bench_row]:nth-child(1) [mol_portion_indicator] {
	background: var(--mol_theme_current);
}
