[mol_attacher_contenter] {
	justify-content: flex-start;
}

[mol_attacher_item] {
	width: 5rem;
	height: 5rem;
	background: center no-repeat;
	border-radius: var( --mol_skin_round );
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	background-size: cover;
	flex: 1 0 5rem;
}

[mol_attacher_adder] {
	width: 5rem;
	height: 5rem;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
	max-width: 10rem;
}

[mol_attacher_adder_icon] {
	width: 50%;
	height: 50%;
}

[mol_attacher_adder_input] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-indent: 11rem;
	cursor: pointer;
	opacity: 0;
}
