[mol_linker] {
	text-decoration: none;
	color: var(--mol_skin_base);
	cursor: pointer;
	border-radius: var(--mol_skin_round);
	display: inline-block;
	padding: .5rem;
	box-sizing: border-box;
}

[mol_linker_current] {
	color: inherit;
	cursor: default;
}

[mol_linker]:focus ,
[mol_linker]:not([mol_linker_current]):hover {
	outline: none;
	box-shadow: 0 0 1px 1px var(--mol_skin_focus);
}
