[mol_linker] {
	text-decoration: none;
	color: var(--mol_skin_focus_back);
	cursor: pointer;
	border-radius: var(--mol_skin_round);
}

[mol_linker_current] {
	color: inherit;
	cursor: default;
}

[mol_linker]:focus ,
[mol_linker]:not([mol_linker_current]):hover {
	outline: none;
	box-shadow: 0 0 0 2px var(--mol_skin_focus_back)
}
