[mol_app_report_tabler] {
	margin: 1rem auto;
	border-collapse: collapse;
}

[mol_app_report_descriptor] {
	margin: 1rem auto;
	white-space: pre-line;
	text-align: center;
	line-height: 2rem;
}

[mol_app_report_tabler] {
}

[mol_app_report_headRower] {
	text-align: center;
}

[mol_app_report_celler] {
	border: 1px solid var(--mol_skin_light_line);
	padding: 0;
	vertical-align: baseline;
}

[mol_app_report_celler]:not( [colspan="1"] ) {
	font-weight: 500;
}

[mol_app_report_texter] {
	padding: .5rem;
}
