[mol_app_issues_body] {
	display: flex;
	flex-direction: column;
}

[mol_app_issues_projects] {
	flex: 0 0 auto;
}

[mol_app_issues_project] {
	flex: 1 1 14rem;
}

[mol_app_issues_project_input] {
	display: flex;
}

[mol_app_issues_project_id] {
	font-weight: bold;
}

[mol_app_issues_project_capacity] {
	display: block;
	padding: 1rem;
	font-size: 2rem;
	line-height: 1;
}

[mol_app_issues_chart] {
	flex: 1 0 10rem;
}

[mol_app_issues_description] {
	padding: 1rem;
}
