/*@keyframes mol_viewer_show {*/
	/*from {*/
		/*opacity: 0;*/
	/*}*/
/*}*/

/*[mol_viewer] {*/
	/*animation: mol_viewer_show .1s ease;*/
/*}*/

[mol_viewer_error] {
	background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@keyframes mol_viewer_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

[mol_viewer_error="$mol_atom_wait"] {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	animation: /*mol_viewer_show 1s linear ,*/ mol_viewer_error_move .25s linear infinite !important;
	pointer-events: none;
}
