[mol_viewer] {
	transition: all .1s ease-in;
}

[mol_viewer_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: var(--mol_skin_font);
}

[mol_viewer_error] {
	background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}
[mol_viewer_error] * {
	background: none !important;
}

@keyframes mol_viewer_wait_show {
	from {
		background: none;
	}
}

@keyframes mol_viewer_wait_move {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 28px 0;
	}
}

[mol_viewer_error="$mol_atom_wait"] ,
[mol_viewer_error="$mol_atom_wait"] * {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,0,.01),
		rgba(0,0,0,.01) 9px,
		rgba(255,255,255,.01) 10px,
		rgba(255,255,255,.01) 20px
	) !important;
	background-size: 28px 28px !important;
	animation: mol_viewer_wait_show .5s ease-in , mol_viewer_wait_move .25s steps(6) infinite !important;
}
