[mol_date]
{
	border: none;
	font: inherit;
	background-color: none;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
	flex: 0 1 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	display: inline-flex;
	text-decoration: inherit;
	color: inherit;
	cursor: inherit;
	position: relative;
	box-sizing: border-box;
	margin: auto;
}
[mol_date_demo], [mol_date_demo_simple]
{
	margin: 0px auto;
	margin-top: 47%;
}
[mol_date_demo_str]
{
	text-align: center;
	margin-top: 1rem;
}
