/* [mol_date_bubble] {
	padding: .5rem;
} */

[mol_date_input] {
	flex-shrink: 0;
}

[mol_date_prev] ,
[mol_date_next] {
	flex-grow: 1;
}
[mol_date_prev] {
	justify-content: flex-end;
}

[mol_date_calendar_title] {
	padding: var(--mol_gap_text);
}

[mol_date_calendar_day] {
	padding: 0;
}

[mol_date_calendar_day_button] {
	width: 100%;
	/* padding: .25rem .5rem; */
	justify-content: center;
	cursor: pointer;
	color: inherit;
}
