[mol_app_inventory] {
	width: 100%;
	max-width: 60rem;
	display: flex;
	margin: 0 auto;
	flex: 1 1 auto;
	align-self: stretch;
}

[mol_app_inventory_head] {
	flex: 0 0 auto;
	margin: 0;
	background: var(--mol_skin_base);
	color: var(--mol_skin_base_text);
}

[mol_app_inventory_head] [mol_link] {
	margin: 0;
	color: inherit;
}

[mol_app_inventory_head] [mol_link_current] {
	background: var(--mol_skin_light);
	color: var(--mol_skin_light_text);
}
