[mol_select] {
	display: flex;
	word-break: normal;
}

[mol_select_trigger] {
	box-shadow: var(--mol_skin_light_outline);
	padding: 0;
	margin: 0;
	flex: 1 1 auto;
	justify-content: space-between;
	flex-direction: row-reverse;
}

[mol_select_option_row] {
	min-width: 100%;
	padding: 0;
	justify-content: flex-start;
}

[mol_select_sub] > [mol_pop_bubble] {
	min-width: 100%;
}

[mol_select_filter_string] {
	z-index: 2;
	opacity: 1 !important;
	width: 100%;
	align-self: stretch;
}

[mol_select_option_label] {
	padding: .5em 1rem;
	text-align: left;
	/*min-height: 1.25em;*/
}

[mol_select_clear_option_content] {
	padding: .5em 1rem .5rem 0;
	text-align: left;
	/*min-height: 1.25em;*/
	box-shadow: var(--mol_skin_light_outline);
	border-radius: var(--mol_skin_round);
	flex: 1 0 auto;
}

[mol_select_no_options] {
	padding: .5em 1rem;
	text-align: left;
	/*min-height: 1.25em;*/
	display: block;
	color: var(--mol_skin_passive_text);
}

[mol_select_trigger_icon] {
	margin: .75rem;
	transform: rotateZ(90deg);
}
[mol_select_trigger_icon]:not(:last-child) {
	margin-left: -.5rem;
}
:hover > [mol_select_trigger_icon] {
	transform: rotateZ(90deg) scale(1.25);
}

[mol_select_pop] {
	flex: 1 1 auto;
	display: flex;
}

[mol_select_pop] > [mol_pop_bubble] {
	min-width: 100%;
}

[mol_select_bubble_content] {
	display: flex;
	flex-direction: column;
}

[mol_select_hint] {
	padding: .5rem;
	color: var(--mol_skin_passive_text);
}
