[mol_select] {
	margin: auto;
}

[mol_select_trigger] {
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	padding: 0;
	margin: 0;
}

[mol_select_option_row] {
	min-width: 100%;
	padding: 0;
	justify-content: flex-start;
	background: var(--mol_skin_card);
	
	&:focus {
		background: var(--mol_skin_light_hover);
	}
}

[mol_select_sub] > [mol_pop_bubble] {
	min-width: 100%;
}

[mol_select_filter] {
	z-index: 2;
	opacity: 1 !important;
	width: 100%;
}

[mol_select_filter_string] {
	width: 100%;
}

[mol_select_option_label], [mol_select_Ñlear_option_content], [mol_select_no_options] {
	padding: .5em;
	text-align: start;
	min-height: 1.5em;
}

[mol_select_trigger_icon] {
	margin: .5em;
	transform: rotateZ(90deg);
}

[mol_select_option_no_value] {
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
    color: var(--mol_skin_disabled);
}

[mol_select_pop] > [mol_pop_bubble] {
	min-width: 100%;
}
