[mol_select] {
	display: flex;
	word-break: normal;
	align-self: flex-start;
}

[mol_select_option_row] {
	min-width: 100%;
	padding: 0;
	justify-content: flex-start;
}

[mol_select_filter] {
	flex: 1 0 auto;
	align-self: stretch;
}

[mol_select_option_label] {
	padding: var(--mol_gap_text);
	text-align: left;
	min-height: 1.5em;
	display: block;
	white-space: nowrap;
}

[mol_select_clear_option_content] {
	padding: .5em 1rem .5rem 0;
	text-align: left;
	box-shadow: var(--mol_theme_line);
	flex: 1 0 auto;
}

[mol_select_no_options] {
	padding: var(--mol_gap_text);
	text-align: left;
	display: block;
	color: var(--mol_theme_shade);
}

[mol_select_trigger] {
	padding: 0;
	flex: 1 1 auto;
	display: flex;
}

[mol_select_trigger] > * {
	margin-right: -1rem;
}

[mol_select_trigger] > *:last-child {
	margin-right: 0;
}

[mol_select_menu] {
	display: flex;
	flex-direction: column;
}

