[mol_select_trigger] {
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	padding: 0;
	margin: 0;
}

[mol_select_option_row] {
	min-width: 100%;
	padding: 0;
	justify-content: flex-start;
}

[mol_select_sub] > [mol_pop_bubble] {
	min-width: 100%;
}

[mol_select_option_label] {
	padding: .5em;
	text-align: start;
}

[mol_select_trigger_icon] {
	margin: .5em;
	transform: rotateZ(90deg);
}

[mol_select_option_no_value] {
	padding: .5em;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
    color: var(--mol_skin_disabled);
}

[mol_select_options] {
	max-height: 150px;
	overflow: auto;
}

[mol_select_pop] > [mol_pop_bubble] {
	min-width: 100%;
}
