[mol_app_studio_field] {
	flex: 1 1 100%;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
}

[mol_app_studio_field_label] {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}


[mol_app_studio_field_label_icon] {
	margin: .75rem 0;
}

[mol_app_studio_field_content] {
	display: flex;
	flex-wrap: wrap;
}

[mol_app_studio_field_title] {
	flex: 1000000 0 auto;
}

[mol_app_studio_field_title_type="null"] ,
[mol_app_studio_field_title_type="bool"]  ,
[mol_app_studio_field_title_type="number"] ,
[mol_app_studio_field_title_type="locale"] ,
[mol_app_studio_field_title_type="string"] {
	color: hsl( 140 , 60% , 50% );
}

[mol_app_studio_field_title_type="object"] {
	font-weight: bolder;
}

[mol_app_studio_field_title_type="list"] ,
[mol_app_studio_field_title_type="dict"] {
	color: hsl( 260 , 60% , 50% );
}

[mol_app_studio_field_title_type="get"] ,
[mol_app_studio_field_title_type="bind"] {
	color: hsl( 320 , 60% , 50% );
}

[mol_app_studio_field_number] {
	flex: 1 1 100%;
	width: auto;
}

[mol_app_studio_field_string] {
	flex: 1 1 100%;
	width: auto;
}

[mol_app_studio_field_object] {
	width: auto;
}

[mol_app_studio_field_bool] {
	flex: 1 1 100%;
	width: auto;
}

[mol_app_studio_field_bind] {
	flex: 1 1 auto;
	width: auto;
}

[mol_app_studio_field_list] {
	flex: 1 1 100%;
}

[mol_app_studio_field_list] > * {
	margin: 1rem;
}

[mol_app_studio_field_list_trigger_icon] ,
[mol_app_studio_field_overs_trigger_icon] {
	margin: .5rem;
}

[mol_app_studio_field_dict] ,
[mol_app_studio_field_overs] {
	flex: 1 1 100%;
}

[mol_app_studio_field_dict] > * ,
[mol_app_studio_field_overs] > * {
	margin: 1rem;
}

[mol_app_studio_field_item] {
}

[mol_app_studio_field_add] {
	margin: 0;
}
