[mol_clicker] {
	user-select: none;
	border: none;
	font: inherit;
	background: none;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
	flex: 1 1 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	display: flex;
	text-decoration: inherit;
	color: inherit;
	cursor: default;
	opacity: .9;
}

[mol_clicker]:disabled {
	background: var(--mol_skin_passive);
	color: var(--mol_skin_passive_text);
}

[mol_clicker]:not(:disabled):hover ,
[mol_clicker]:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--mol_skin_focus);
	position: relative;
	z-index: 1;
	cursor: pointer;
	opacity: 1;
}

[mol_clicker_major]:not(:disabled) {
	background: var(--mol_skin_accent);
	color: var(--mol_skin_accent_text);
}

[mol_clicker_warn]:not(:disabled) {
	background: var(--mol_skin_warn);
}

[mol_clicker_minor]:not(:disabled) {
}

