[mol_clicker] {
	user-select: none;
	border: none;
	font: inherit;
	background: none;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
	flex: 1 1 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	display: flex;
	text-decoration: inherit;
	color: inherit;
	cursor: default;
	opacity: .9;
	position: relative;
	transition: box-shadow .25s, background .25s;
}

[mol_clicker_button][disabled] {
	background: var(--mol_skin_passive);
	color: var(--mol_skin_passive_text);
}

[mol_clicker_major]:not([disabled]) {
	background: var(--mol_skin_accent);
	color: var(--mol_skin_accent_text);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
}

[mol_clicker_danger]:not([disabled]) {
	background: var(--mol_skin_warn);
	color: var(--mol_skin_warn_text);
}

[mol_clicker]:not([disabled]):hover ,
[mol_clicker]:focus {
	outline: none;
	z-index: 2;
	cursor: pointer;
	opacity: 1;
	box-shadow: 0 0 0 1px var(--mol_skin_focus);
}
