[mol_clicker] {
	user-select: none;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	border-radius: var( --mol_skin_round );
	flex: .001 1 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	display: flex;
	text-decoration: inherit;
	color: inherit;
	cursor: default;
	opacity: .9;
}

[mol_clicker_enabled="false"] {
	background: #eee;
	color: gray;
}

[mol_clicker_enabled="true"]:hover ,
[mol_clicker]:focus {
	outline: none;
	box-shadow: 0 0 0 1px var( --mol_skin_focus_back );
	position: relative;
	z-index: 1;
	cursor: pointer;
	opacity: 1;
}

[mol_clicker_major][mol_clicker_enabled="true"] {
	background: var( --mol_skin_accent_back );
}

[mol_clicker_warn][mol_clicker_enabled="true"] {
	background: var( --mol_skin_warn_back );
}

[mol_clicker_minor][mol_clicker_enabled="true"] {
}

