[mol_func_sandbox_demo] {
	max-width: 60rem;
	margin: auto;
}

[mol_func_sandbox_demo_body] {
	box-shadow: none;
	display: flex;
    flex-direction: column;
}

[mol_func_sandbox_demo_input] {
	margin: 1rem;
}

[mol_func_sandbox_demo_result] {
	padding: 0rem 2rem;
	display: block;
	flex: 1 0 auto;
}

[mol_func_sandbox_demo_snippets] {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

[mol_func_sandbox_demo_snippet] {
	display: block;
	padding: 0;
}

[mol_func_sandbox_demo_snippet_text] {
	box-shadow: none;
}
