[mol_func_sandbox_demo] {
	max-width: 60rem;
	margin: auto;
}

[mol_func_sandbox_demo_body] {
	box-shadow: none;
	display: flex;
    flex-direction: column;
}

[mol_func_sandbox_demo_code] {
	flex: 1000 1 auto;
}

[mol_func_sandbox_demo_input] {
	margin: .75rem;
	flex-wrap: wrap;
}

[mol_func_sandbox_demo_run] {
	flex: auto;
}

[mol_func_sandbox_demo_result] {
	padding: 0rem 1.5rem;
	display: block;
	flex: 1 0 auto;
}

[mol_func_sandbox_demo_snippets] {
	display: flex;
	flex-direction: column;
}

[mol_func_sandbox_demo_snippet] {
	display: block;
	padding: 0;
}

[mol_func_sandbox_demo_snippet_text] {
	box-shadow: none;
}
