[mol_app_supplies_lister_searchPanel] {
	flex: 0 0 auto;
	background: var(--mol_skin_base);
	position: relative;
	margin: 0;
}

[mol_app_supplies_lister_lister] {
	align-items: flex-start;
}

[mol_app_supplies_lister_lister] > * {
	margin: 1rem;
}
