:root {
	--mol_theme_hue: 240deg;
}

:where([mol_theme]) {
	color: var(--mol_theme_text);
	fill: var(--mol_theme_text);
	background-color: var(--mol_theme_back);
}
	
:root, [mol_theme="$mol_theme_dark"], :where([mol_theme="$mol_theme_dark"]) [mol_theme]  {

	--mol_theme_luma: -1;
	--mol_theme_image: invert(1) hue-rotate( 180deg );

	--mol_theme_back: oklch( 20% .03 var(--mol_theme_hue) );
	--mol_theme_card: oklch( 30% .05 var(--mol_theme_hue) / .25 );
	--mol_theme_field: oklch( 0% 0 var(--mol_theme_hue) / .25 );
	--mol_theme_hover: oklch( 50% 0 var(--mol_theme_hue) / .1 );
	
	--mol_theme_text: oklch( 80% 0 var(--mol_theme_hue) );
	--mol_theme_shade: oklch( 60% 0 var(--mol_theme_hue) );
	--mol_theme_line: oklch( 50% 0 var(--mol_theme_hue) / .2 );
	--mol_theme_focus: oklch( 80% .2 calc( var(--mol_theme_hue) + 120deg ) );
	
	--mol_theme_control: oklch( 60% .1 var(--mol_theme_hue) );
	--mol_theme_current: oklch( 70% .12 calc( var(--mol_theme_hue) - 60deg ) );
	--mol_theme_special: oklch( 70% .12 calc( var(--mol_theme_hue) + 60deg ) );

}

[mol_theme="$mol_theme_light"], :where([mol_theme="$mol_theme_light"]) [mol_theme] {
	
	--mol_theme_luma: 1;
	--mol_theme_image: none;
	
	--mol_theme_back: oklch( 93% .01 var(--mol_theme_hue) );
	--mol_theme_card: oklch( 100% .02 var(--mol_theme_hue) / .25 );
	--mol_theme_field: oklch( 100% 0 var(--mol_theme_hue) / .5 );
	--mol_theme_hover: oklch( 70% 0 var(--mol_theme_hue) / .1 );
	
	--mol_theme_text: oklch( 20% 0 var(--mol_theme_hue) );
	--mol_theme_shade: oklch( 60% 0 var(--mol_theme_hue) );
	--mol_theme_line: oklch( 70% 0 var(--mol_theme_hue) / .2 );
	--mol_theme_focus: oklch( 20% .8 calc( var(--mol_theme_hue) + 120deg ) );
	
	--mol_theme_control: oklch( 45% .2 var(--mol_theme_hue) );
	--mol_theme_current: oklch( 45% .5 calc( var(--mol_theme_hue) - 60deg ) );
	--mol_theme_special: oklch( 45% .5 calc( var(--mol_theme_hue) + 60deg ) );

}

:where( :root, [mol_theme="$mol_theme_dark"] ) [mol_theme="$mol_theme_base"] {
	--mol_theme_back: oklch( 25% .04 var(--mol_theme_hue) );
	--mol_theme_card: oklch( 35% .04 var(--mol_theme_hue) / .25 );
}
:where( [mol_theme="$mol_theme_light"] ) [mol_theme="$mol_theme_base"] {
	--mol_theme_back: oklch( 95% .02 var(--mol_theme_hue) );
	--mol_theme_card: oklch( 80% .1 var(--mol_theme_hue) / .25 );
}

:where( :root, [mol_theme="$mol_theme_dark"] ) [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: oklch( 35% .06 calc( var(--mol_theme_hue) + 120deg ) );
	--mol_theme_card: oklch( 45% .06 calc( var(--mol_theme_hue) + 120deg ) / .25 );
}
:where( [mol_theme="$mol_theme_light"] ) [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: oklch( 90% .05 calc( var(--mol_theme_hue) + 120deg ) );
	--mol_theme_card: oklch( 80% .05 calc( var(--mol_theme_hue) + 120deg ) / .25 );
}

:where( :root, [mol_theme="$mol_theme_dark"] ) [mol_theme="$mol_theme_current"] {
	--mol_theme_back: oklch( 25% .04 calc( var(--mol_theme_hue) - 60deg ) );
	--mol_theme_card: oklch( 35% .04 calc( var(--mol_theme_hue) - 60deg ) / .25 );
}
:where( [mol_theme="$mol_theme_light"] ) [mol_theme="$mol_theme_current"] {
	--mol_theme_back: oklch( 95% .02 calc( var(--mol_theme_hue) - 60deg ) );
	--mol_theme_card: oklch( 80% .1 calc( var(--mol_theme_hue) - 60deg ) / .25 );
}

:where( :root, [mol_theme="$mol_theme_dark"] ) [mol_theme="$mol_theme_special"] {
	--mol_theme_back: oklch( 25% .04 calc( var(--mol_theme_hue) + 60deg ) );
	--mol_theme_card: oklch( 35% .04 calc( var(--mol_theme_hue) + 60deg ) / .25 );
}
:where( [mol_theme="$mol_theme_light"] ) [mol_theme="$mol_theme_special"] {
	--mol_theme_back: oklch( 95% .02 calc( var(--mol_theme_hue) + 60deg ) );
	--mol_theme_card: oklch( 80% .1 calc( var(--mol_theme_hue) + 60deg ) / .25 );
}
