[mol_theme] {
	background-color: var(--mol_theme_back);
	color: var(--mol_theme_text);
	fill: var(--mol_theme_text);
}

[mol_theme="$mol_theme_light"] , :root {
	--mol_theme_back: hsl( 210 , 50% , 99% );
	--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 80% );
	--mol_theme_text: hsl( 0 , 0% , 0% );
	--mol_theme_control: hsla( 210 , 60% , 35% , 1 );
	--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
	--mol_theme_line: rgba( 220 , 220 , 220 , 1 );
	--mol_theme_focus: hsl( 290 , 100% , 40% );
	--mol_theme_field: white;
	--mol_theme_image: none;
}

[mol_theme="$mol_theme_dark"] {
	--mol_theme_back: hsl( 210 , 50% , 10% );
	--mol_theme_hover: #333;
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: hsl( 0 , 0% , 80% );
	--mol_theme_control: hsla( 210 , 60% , 70% , 1 );
	--mol_theme_shade: rgba( 255 , 255 , 255 , .5 );
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_focus: hsl( 60 , 100% , 70% );
	--mol_theme_field: black;
	--mol_theme_image: invert(1) hue-rotate(180deg);
}

[mol_theme="$mol_theme_base"] {
	--mol_theme_back: hsla( 210 , 60% , 35% , 1 );
	--mol_theme_hover: hsla( 210 , 60% , 20% , 1 );
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: white;
	--mol_theme_line: white;
	--mol_theme_control: white;
}

[mol_theme="$mol_theme_accent"] {
	--mol_theme_back: hsl( 15 , 60% , 50% );
	--mol_theme_hover: hsl( 15 , 60% , 40% );
	--mol_theme_text: white;
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_control: white;
	--mol_theme_focus: black;
}

[mol_theme="$mol_theme_accent"] [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: black;
	--mol_theme_text: white;
}
