[mol_app_supplies_root] {
	flex: 1 1 auto;
	display: flex;
	max-width: 100rem;
	margin: 0 auto;
}

[mol_app_supplies_root_lister] {
	flex: 1 1 400px;
}

[mol_app_supplies_root_detailer] {
	flex: 1000 1 400px;
}
