[mol_app_agreement_carder] {
	flex: 0 1 32rem;
}

[mol_app_agreement_carder_contenter] {
	padding: .5rem;
}

[mol_app_agreement_carder_mainer] {
	display: flex;
}

[mol_app_agreement_carder_addoner] {
	display: flex;
}

[mol_app_agreement_carder_providerItem] {
	font-weight: bolder;
	margin: .5rem;
	flex: 1 1 auto;
}

[mol_app_agreement_carder_costItem] {
	margin: .5rem;
}

[mol_app_agreement_carder_consumerItem] {
	font-weight: bolder;
	margin: .5rem;
	flex: 1 1 auto;
}
