[mol_skin_root] {
	font: 12pt/1.25 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

[mol_viewer_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: 12pt/1.25 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/*body[mol_viewer_root] {*/

/*position: fixed;*/

/*}*/

[mol_viewer_error] ,
[mol_viewer_error] * {
	background-image: -webkit-repeating-linear-gradient(
		315deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@-webkit-keyframes mol_viewer_wait_show {

	from {
		background-image: none;
	}
}

@keyframes mol_viewer_wait_show {

	from {
		background-image: none;
	}
}

@-webkit-keyframes mol_viewer_wait_move {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 28px 0;
	}
}

@keyframes mol_viewer_wait_move {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 28px 0;
	}
}

[mol_viewer_error="$mol_atom_wait"] ,
[mol_viewer_error="$mol_atom_wait"] * {
	background-image: -webkit-repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.025),
		rgba(0,0,255,.025) 11px,
		rgba(255,255,255,.025) 10px,
		rgba(255,255,255,.025) 20px
	) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.025),
		rgba(0,0,255,.025) 11px,
		rgba(255,255,255,.025) 10px,
		rgba(255,255,255,.025) 20px
	) !important;
	background-size: 28px 28px !important;
	-webkit-animation: mol_viewer_wait_show .5s linear , mol_viewer_wait_move .25s steps(6) infinite !important;
	        animation: mol_viewer_wait_show .5s linear , mol_viewer_wait_move .25s steps(6) infinite !important;
}

[mol_scroller] {
	overflow: auto;
	overflow-y: scroll;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	box-sizing: border-box;
	will-change: scroll-position;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	outline: 1px solid #ddd;
	max-height: 100%;
	-webkit-overflow-scrolling: touch;
}

@media print {

	[mol_scroller] {
		overflow: visible;
	}
}

[mol_pager] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

[mol_pager_header] {
	background: #5988C8;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	overflow: hidden;
	position: relative;
}

[mol_pager_titler] {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 16px;
	padding: 1rem;
}

[mol_pager_bodier] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	height: 100%;
	background: #fcfcfc;
	color: rgba( 0 , 0 , 0 , .9 );
}

[mol_pager_footer] {
	background: #5988C8;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	overflow: hidden;
}

[mol_statuser] {
	color: red;
	text-align: center;
	padding: 8px;
	padding: .5rem;
}

[mol_statuser]:not([mol_viewer_error="$mol_atom_wait"]):empty {
	display: none;
}

[mol_lister] {
	will-change: contents;
}

[mol_texter] {
	line-height: 1.5;
	max-width: 960px;
	max-width: 60rem;
	background: white;
	box-shadow: 0 0 0 1px #ddd;
	padding: 16px;
	padding: 1rem;
	border-radius: 2px;
	white-space: pre-line;
}

[mol_texter_rower] {
	margin: 16px;
	margin: 1rem;
}

[mol_texter_type="block"] {}

[mol_texter_type="header"] {
	font-size: 24px;
	font-size: 1.5rem;
}

[mol_texter_type="list-item"] {
	list-style: inside;
	display: list-item;
}

[mol_texter_type="table"] {
	display: table;
	border-collapse: collapse;
}

[mol_texter_type="table-row"] {
	display: table-row;
}

[mol_texter_type="table-cell"] {
	display: table-cell;
	padding: 8px;
	padding: .5rem;
	border: 1px solid #ddd;
}

[mol_texter_type="code"] {
	font-family: monospace;
	white-space: pre;
	overflow: auto;
	font-size: 14.4px;
	font-size: .9rem;
	background: #fcfcfc;
	color: rgba( 0 , 0 , 0 , .9 );
	border-radius: 2px;
	padding: 1px;
}

[mol_texter_type="text-link"] {
	color: #5988C8;
	text-decoration: none;
}

[mol_texter_linker]:hover ,
[mol_texter_linker]:focus {
	text-decoration: underline;
	outline: none;
}

[mol_texter_imager] {
	max-width: 100%;
}

[mol_texter_type="strong"] {
	font-weight: bolder;
}

[mol_texter_type="emphasis"] {
	font-style: italic;
}

[mol_app_habhub_titler] {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

[mol_app_habhub_gister] {
	margin: 16px auto;
	margin: 1rem auto;
}

/*# sourceMappingURL=web.css.map */