[mol_selecter_lister] {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	background-color: white;
}

[mol_selecter_trigger] {
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	padding: 0;
	margin: 0;
}

[mol_selecter_trigger] > svg {
	margin: .5em;
}

[mol_selecter_optioner] {
	width: 100%;
	padding: 0;
	justify-content: flex-start;
}

[mol_selecter_dimmer], [mol_selecter_emptyoptioner] {
	padding: .5em;
}

[mol_selecter_chevron] {
	transform: rotateZ(90deg);
}
