[mol_selecter] {
	flex: 1000 1 auto;
	position: relative;
}

[mol_selecter_stringer] {
	width: 100%;
	box-sizing: border-box;
}

[mol_selecter_lister] {
	margin-top: 1px;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	min-height: 0px;
	position: absolute;
	color: var(--mol_skin_light_text);
	background: var(--mol_skin_light);
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

[mol_selecter_optioner] {
	justify-content: flex-start;
	border-radius: var(--mol_skin_round);
}

[mol_selecter_optioner] + [mol_selecter_optioner] {
	margin-top: 1px;
}

[mol_selecter_optioner]:hover ,
[mol_selecter_optioner][mol_selecter_selected] {
	z-index: 1;
	box-shadow: 0 0 0 1px var(--mol_skin_focus);
}
