<!DOCTYPE html>

<html>
    <head>
        <title>Performance Comparison for Knockout, Angular, Angular Light, React, Raw HTML, $mol</title>
		<!--<link rel="stylesheet" href="-/web.css" />-->
        <style type="text/css">
			body {
			}
			
			h1 {
				width: 100%;
			}
			
			section {
				margin: .25rem;
				display: inline-block;
			}
			
			[mol_perf_render_content],
			ul {
				padding : 0;
				margin: 0;
				display: block;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				width: 20rem;
				height: 20rem;
				transform: translateZ(0);
				background:#EEE;
				border: 1px solid #999;
			}
			
			[mol_perf_render_row],
            li {
				padding:3px 10px;
				cursor:pointer;
				list-style: none;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			[mol_perf_render_row_bar],
			li span {
				padding:3px 10px;
				display: inline;
			}
			
			[mol_perf_render_row]:hover,
            li:hover {
				background:#DDD;
			}

			[mol_perf_render_row_selected] [mol_perf_render_row_bar],
            li.selected span {
				font-weight : bold ;
				background:#3F7AD9;
				color: white;
			}
			
			.sapMDLI {
				height: 24px!important;
			}
			.sapMBtn {
				height: 21px!important;
				padding: 0!important;
			}
			.sapMBtnInner {
				height: 100%!important;
			}
			.sapMTitle {
				margin-top: 19px!important;
				margin-bottom: 16px!important;
				font-weight: bold!important;
				font-family: inherit!important;
			}
			.sapMBtnContent {
				line-height: 21px!important;
			}
			.sapMFT {
				font-family: inherit!important;
			}

		</style>
		<!--<link rel="stylesheet" href="-mix/index.env=web.stage=release.css" />-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
		<script type="text/javascript" src="-/web.js"></script>
        <script type="text/javascript" src="//angularlight.org/bin/alight_0.12.last.min.js"></script>
		<script id='sap-ui-bootstrap'
				src='https://openui5.hana.ondemand.com/resources/sap-ui-core.js'
				data-sap-ui-libs='sap.m, sap.ui.commons'
				data-sap-ui-preload="async">
		</script>
        <script type="text/javascript">
            console.timeEnd("build");

            document.addEventListener("DOMContentLoaded", function() {
                _knockout();
                _react();
                _raw();
            });

			sap.ui.getCore().attachInit(_sap);

            _angular();

            function _buildData(count) {
                count = count || 2000;

                var adjectives = ["pretty", "large", "big", "small", "tall", "short", "long", "handsome", "plain", "quaint", "clean", "elegant", "easy", "angry", "crazy", "helpful", "mushy", "odd", "unsightly", "adorable", "important", "inexpensive", "cheap", "expensive", "fancy"];
                var colours = ["red", "yellow", "blue", "green", "pink", "brown", "purple", "brown", "white", "black", "orange"];
                var nouns = ["table", "chair", "house", "bbq", "desk", "car", "pony", "cookie", "sandwich", "burger", "pizza", "mouse", "keyboard"];
                var data = [];
                for (var i = 0; i < count; i++)
                    data.push({id: i+1, label: adjectives[_random(adjectives.length)] + " " + colours[_random(colours.length)] + " " + nouns[_random(nouns.length)] });
                return data;
            }

            function _random(max) {
                return Math.round(Math.random()*1000)%max;
            }
			
            function _knockout() {
                ko.applyBindings({
                    selected: ko.observable(),
                    data: ko.observableArray(),

                    select: function(item) {
                        this.selected(item.id);
                    },

                    run: function() {
                    	requestAnimationFrame( function() {
							var data = _buildData(),
								date = Date.now();
	
							this.selected(null);
							this.data(data);
							setTimeout( function() { document.getElementById("run-knockout").innerHTML = (Date.now() - date) + " ms"; })
						}.bind( this ) )
                    }
                }, document.getElementById("knockout"));

            }
            
            function _sap() {
            	var isRendered = false;
				var oModel = new sap.ui.model.json.JSONModel();

				var labelContent = new sap.m.FormattedText({
					htmlText: '<h2>SAPUI5</h2>'
				})
				
				var listItem = new sap.m.DisplayListItem({
					key: "{id}", label: "{label}", selected: true
				});
				
				var listContent = new sap.m.List({
					growing: true,
					growingThreshold: 2000,
					showNoData: false,
					mode: sap.m.ListMode.SingleSelectMaster
				});
				
				listContent.setModel(oModel);
				
				var btnContent = new sap.m.Button({
					text:'Run',
					press: function() {
						requestAnimationFrame( function() {
							var data = _buildData(),
								date = Date.now();
							
							oModel.setData({ 'data': data });
							
							if(!isRendered) {
								listContent.bindItems('/data', listItem);
								isRendered = true;
							}
							
							setTimeout(function() {
								document.querySelector(".sapMBtnContent").innerHTML = (Date.now() - date) + " ms";	
							})
						})
					}
				});

				var oScrollContainerContent = new sap.m.ScrollContainer({
					content: [
						labelContent,
						btnContent,
						listContent
					]
				});

				oScrollContainerContent.placeAt('sap');
			}

            function _angular(data) {
                angular.module("test", []).controller("controller", function($scope) {
                    $scope.run = function() {
						requestAnimationFrame( function() {
							var data = _buildData(),
								date = Date.now();

							$scope.selected = null;
							$scope.data = data;

							$scope.$digest()
							
							setTimeout(function () {
								document.getElementById("run-angular").innerHTML = (Date.now() - date) + " ms";
							})
						} )
                    };

                    $scope.select = function(item) {
                        $scope.selected = item.id;
                    };
                });
            }

            function _react() {
                var Class = React.createClass({
					getInitialState: function() {
						return {data: [], selected: null, runnerLabel: "Run"}
		    		},

                    select: function(data) {
						this.setState({selected: data.id})
                    },

		    		onRunClick: function() {
                        var self = this;
						requestAnimationFrame( function() {
							var data = _buildData(),
							date = Date.now();
							self.setState({data: data, selected: null})
							setTimeout(function () {
								self.setState({runnerLabel: (Date.now() - date) + " ms"})
							})
						} )
		    		},

                    render: function() {
                        var items = [];
                        for (var i = 0; i < this.state.data.length; i++) {
                            items.push(React.createElement("li", { key: i,className: this.state.selected === this.state.data[i].id ? "selected" : "", onClick: this.select.bind(this, this.state.data[i]) },
								React.createElement("span", null, this.state.data[i].label)
                            ));
                        }
						var self = this

                        return React.createElement("section", null,
							React.createElement("header", null,
								React.createElement("h2", null, "React"),
								React.createElement("button", {onClick : this.onRunClick}, this.state.runnerLabel )
							),
							React.createElement("ul", null, items)
						);
                    }
                });

				ReactDOM.render(React.createElement(Class), document.getElementById("react"));
            }

            function _raw() {
				var container = document.getElementById("raw"),
					template = document.getElementById("raw-template").innerHTML;
				document.getElementById("run-raw").addEventListener("click", function() {
					requestAnimationFrame( function() {
						var data = _buildData(),
							date = Date.now(),
							html = "";

						for (var i = 0; i < data.length; i++) {
							var render = template;
							render = render.replace("{{className}}", "");
							render = render.replace("{{label}}", data[i].label);
							html += render;
						}

						container.innerHTML = html;

						var spans = container.querySelectorAll("li");
						for (var i = 0; i < spans.length; i++)
							spans[i].addEventListener("click", function () {
								var selected = container.querySelector(".selected");
								if (selected)
									selected.className = "";
								this.className = "selected";
							});

						setTimeout(function () {
							document.getElementById("run-raw").innerHTML = (Date.now() - date) + " ms";
						})
					} )
                });
            }

            function alight0(scope) {
                scope.run = function() {
                    requestAnimationFrame( function() {
                        var data = _buildData(),
                            date = Date.now();

                        scope.selected = null;
                        scope.data = data;

                        scope.$scan();

                        setTimeout(function () {
                            document.getElementById("run-alight").innerHTML = (Date.now() - date) + " ms";
                        })
                    } )
                };
            }

        </script>
    </head>
    <body>
		
		<h1 perf-header>
			Performance comparison of some popular frameworks
		</h1>

		<section id="react"></section>
		
		<section ng-app="test" ng-controller="controller">
			<header>
				<h2>
					Angular
				</h2>
				<button id="run-angular" ng-click="run()">Run</button>
			</header>
			<ul>
				<li ng-repeat="item in data track by $index" ng-class="{ selected: item.id === $parent.selected }" ng-click="select(item)">
					<span>
						{{item.label}}
					</span>
				</li>
			</ul>
		</section>

        <section al-app="alight0">
            <header>
                <h2>
                    Alight
                </h2>
                <button id="run-alight" @click="run()">Run</button>
            </header>
            <ul>
                <li al-repeat="item in data track by $index" @click="selected=item" class="{{(selected === item)?'selected':''}}">
                    <span>
                        {{item.label}}
                    </span>
                </li>
            </ul>
        </section>

		<section id="knockout">
			<header>
				<h2 class="col-md-7">
					Knockout
				</h2>
				<button id="run-knockout" data-bind="click: run">Run</button>
			</header>
			<ul data-bind="foreach: data">
				<li data-bind="click: $root.select.bind($root, $data), css: { selected: $data.id === $root.selected() }">
					<span data-bind="text: $data.label"></span>
				</li>
			</ul>
		</section>

		<section>
			<header>
				<h2>
					Raw HTML
				</h2>
				<button id="run-raw">Run</button>
			</header>
			<ul id="raw"></ul>
		</section>

		<section mol_view_root="$mol_perf_render"></section>

		<section id="sap"></section>

        <script type="text/html" id="raw-template">
            <li>
				<span class="{{className}}">{{label}}</span>
            </li>
        </script>
    </body>
</html>
