[mol_app_supplies_detailer_contenter] {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	padding: 0 1rem;
}

[mol_app_supplies_detailer_contenter] > * {
	margin: 1rem 0;
	/*flex: 1 1 100%;*/
}

[mol_app_supplies_detailer_posLister] > * {
	margin: 1rem 0;
}

[mol_app_supplies_detailer_backer] {
	color: var(--mol_skin_base_fore);
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
}

[mol_app_supplies_detailer_consContent] {
	align-items: baseline;
	background: white;
}

[mol_app_supplies_detailer_consContent] > * {
	flex: 1 1 10rem;
}

[mol_app_supplies_detailer_orgContent] {
	align-items: baseline;
	background: white;
}

[mol_app_supplies_detailer_orgContent] > * {
	flex: 1 1 10rem;
}

[mol_app_supplies_detailer_costItem] {
	text-align: right;
}
