[mol_stringer] {
	box-sizing: border-box;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	outline-offset: 0;
	border: none;
	border-radius: var(--mol_skin_round);
	white-space: nowrap;
	overflow: hidden;
	padding: .5rem;
	text-align: left;
	position: relative;
	z-index: 0;
	font: inherit;
	flex: 1000 1 auto;
	width: 8em;
	background: var(--mol_skin_passive);
	color: var(--mol_skin_passive_text);
	transition: box-shadow .25s;
}

[mol_stringer]:enabled {
	background: var(--mol_skin_card);
	color: var(--mol_skin_light_text);
}

[mol_stringer]:enabled:hover {
	outline: none;
	box-shadow: 0 0 0 1px var(--mol_skin_focus);
}

[mol_stringer]:enabled:focus {
	outline: none;
	box-shadow: 0 0 0 1px var(--mol_skin_focus);
}

[mol_stringer]:focus {
	z-index: 1;
}

[mol_stringer]::-ms-clear {
	display: none;
}
