[mol_stringer] {
	display: flex;
	vertical-align: middle;
	border: 1px solid var( --mol_view_colorLine );
	border-radius: var( --mol_view_round );
	white-space: nowrap;
	overflow: hidden;
	padding: .5rem;
	text-align: left;
	position: relative;
	z-index: 0;
	background: white;
	margin: 0 1px 1px 0;
	font: inherit;
	align-self: auto;
	flex: 1 1 10rem;
}

[mol_stringer]:hover ,
[mol_stringer]:focus {
	border-color: var( --mol_view_colorBase );
	outline: none;
	background: white;
	z-index: 1;
}

[mol_stringer]:empty:before {
	content: attr( mol_stringer_hint );
	display: inline;
	color: rgba( 0 , 0 , 0 , .25 );
	position: relative;
	z-index: -1;
}
