[mol_barer] {
	display: flex;
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	border-radius: var(--mol_skin_round);
}

[mol_barer] > * {
	border-radius: 0;
}

[mol_barer] > *:first-child {
	border-top-left-radius: var(--mol_skin_round);
	border-bottom-left-radius: var(--mol_skin_round);
}

[mol_barer] > *:not(:first-child) {
	margin-left: 1px;
}

[mol_barer] > *:last-child {
	border-top-right-radius: var(--mol_skin_round);
	border-bottom-right-radius: var(--mol_skin_round);
}
