[mol_scroller] {
	overflow: auto;
	overflow-y: scroll;
	flex: 1 1 auto;
	box-sizing: border-box;
	/*will-change: scroll-position;*/
	transform: translateZ(0);
}

@media print {
	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: rgba( 0 , 0 , 0 , .1 );
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: rgba( 0 , 0 , 0 , .25 );
	/*background: var( --mol_skin_accent_fore );*/
	border-radius: var( --mol_skin_round );
	/*border: 1px solid var( --mol_skin_light_fore );*/
}
