[mol_scroller] {
	overflow: scroll;
	/*overflow: overlay;*/
	overflow-x: auto;
	flex: 1 1 auto;
	box-sizing: border-box;
	/*will-change: scroll-position;*/
	transform: translateZ(0);
}

@media print {
	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: 2vmin;
	height: 2vmin;
	max-width: 10px;
	max-height: 10px;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: rgba( 0 , 0 , 0 , .1 );
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: rgba( 0 , 0 , 0 , .4 );
	/*background: var( --mol_skin_accent_fore );*/
	border-radius: var( --mol_skin_round );
	/*border: 1px solid var( --mol_skin_light_fore );*/
}
