[mol_coster] {
	white-space: nowrap;
	font-weight: normal;
}

[mol_coster_mainer] {
	display: inline;
}

[mol_coster_prefixer] {
	font-weight: lighter;
	display: inline;
}

[mol_coster_postfixer] {
	font-weight: lighter;
	display: inline;
}
