[mol_book_demo_page1], 
[mol_book_demo_page2], 
[mol_book_demo_page3] {
	align-items: center;
    justify-content: center;
    font-size: 2rem;
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex: 1 1 auto;
}

[mol_book_demo_page1] {
	background-color: hsl(132, 56%, 96%);
	order: 1;
}

[mol_book_demo_page2] {
	background-color: hsl(216, 56%, 96%);
}

[mol_book_demo_page3] {
	background-color: hsl(0, 56%, 96%);
}
