[mol_button] {
	border: none;
	font: inherit;
	background-color: none;
	display: inline-flex;
	flex-shrink: 0;
	text-decoration: inherit;
	color: inherit;
	cursor: inherit;
	position: relative;
	box-sizing: border-box;
	word-break: normal;
	cursor: default;
}
[mol_button]:focus {
	outline: none;
}

[mol_button_typed] {
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem 1rem;
	border-radius: var(--mol_skin_round);
}

[mol_button_typed][disabled] {
	color: var(--mol_skin_passive_text);
	background: none;
	pointer-events: none;
}

[mol_button_minor] {
	box-shadow: var(--mol_skin_light_outline);
	background-color: var(--mol_skin_light);
	color: var(--mol_skin_light_text);
}

[mol_button_major] {
	background-color: var(--mol_skin_accent);
	color: var(--mol_skin_accent_text);
	box-shadow: var(--mol_skin_light_outline);
}

[mol_button_danger] {
	background-color: var(--mol_skin_warn);
	color: var(--mol_skin_warn_text);
}

[mol_button_typed]:hover ,
[mol_button_typed]:focus {
	cursor: pointer;
	background-color: var(--mol_skin_hover);
}

[mol_button_minor]:hover ,
[mol_button_minor]:focus {
	background-color: var(--mol_skin_light_hover);
	color: var(--mol_skin_light_text);
}

[mol_button_major]:hover ,
[mol_button_major]:focus {
	background-color: var(--mol_skin_accent_hover);
}

[mol_button_danger]:hover ,
[mol_button_danger]:focus {
	background-color: var(--mol_skin_warn_hover);
}
