[mol_button] {
	user-select: none;
	border: 1px solid var( --mol_view_colorLine );
	border-radius: var( --mol_view_round );
	flex: 1 1 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	display: flex;
	text-decoration: inherit;
	color: inherit;
	cursor: default;
	opacity: .9;
	font-weight: bolder;
}

[mol_button_enabled="false"] {
	background: #eee;
	color: gray;
}

[mol_button_enabled="true"]:hover ,
[mol_button]:focus {
	outline: none;
	border-color: var( --mol_view_colorBase );
	position: relative;
	z-index: 1;
	cursor: pointer;
	opacity: 1;
}

[mol_button_major][mol_button_enabled="true"] {
	background: var( --mol_view_colorAccent );
}

[mol_button_warn][mol_button_enabled="true"] {
	background: var( --mol_view_colorWarn );
}

[mol_button_minor][mol_button_enabled="true"] {
}

