[mol_button] {
	border: none;
	font: inherit;
	display: inline-flex;
	flex-shrink: 0;
	text-decoration: inherit;
	cursor: inherit;
	position: relative;
	box-sizing: border-box;
	word-break: normal;
	cursor: default;
	user-select: none;
}
[mol_button]:focus {
	outline: none;
}
