[mol_button] {
	border: none;
	font: inherit;
	display: inline-flex;
	flex-shrink: 0;
	text-decoration: inherit;
	cursor: inherit;
	position: relative;
	box-sizing: border-box;
	word-break: normal;
	cursor: default;
	user-select: none;
	border-radius: var(--mol_gap_round);
}

[mol_button]:where(:not(:disabled)):hover {
	z-index: var(--mol_layer_hover);
}

[mol_button]:focus-visible {
	outline: none;
	z-index: var(--mol_layer_focus);
}
