[mol_plot_ruler_curve] {
	color: var(--mol_theme_line);
	stroke-width: 1px;
	stroke: currentColor;
}

[mol_plot_ruler_label] {
	color: var(--mol_theme_text);
	text-shadow: 0 -1px var(--mol_theme_back), 0px 1px var(--mol_theme_back);
}

[mol_plot_ruler_title] {
	color: var(--mol_theme_shade);
	background-color: var(--mol_theme_back);
	text-shadow: 0 -1px var(--mol_theme_back), 0px 1px var(--mol_theme_back);
}

[mol_plot_ruler_background] {
	stroke: none;
	fill: var(--mol_theme_back);
	opacity: 0.8;
}
