[mol_perf_sierp] {
	position: absolute;
	display: block;
	transform-origin: 0 0;
	left: 50%;
	top: 50%;
	zoom: .75;
	transition: none;
	width: 0px;
	height: 0px;
}

[mol_perf_sierp_dot] {
	width: 10px;
	height: 10px;
	position: absolute;
	display: block;
	background: #61dafb;
	color: black;
	font: normal 15px sans-serif;
	text-align: center;
	cursor: pointer;
}
