[mol_plot_line] {
	color: var(--mol_skin_base);
	fill: none;
	stroke-linejoin: round;
}

[mol_plot_line_sample] {
	height: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-width: 2px 0 0;
	position: absolute;
	top: .75em;
	transform: translateY(-50%);
}
