[mol_carder] {
	border: 2px solid var( --mol_skin_light_fore );
	background: var( --mol_skin_light_back );
	border-radius: var( --mol_skin_round );
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow: hidden;
}

[mol_carder_contenter] {
	flex: 1 1 auto;
}

[mol_carder_statuser] {
	background: var( --mol_skin_light_fore );
	padding: 0 1rem;
}
