[mol_carder] {
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
	background: white;
	border-radius: var( --mol_skin_round );
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	/*overflow: hidden;*/
}

[mol_carder_contenter] {
	flex: 1 1 auto;
	border-radius: var( --mol_skin_round );
	overflow: hidden;
}

[mol_carder_statuser] {
	background: var( --mol_skin_light_fore );
	text-transform: capitalize;
	padding: 0 1rem;
	line-height: 2;
	opacity: .75;
}

[mol_carder_status="approved"] {
	box-shadow: 0 0 0 1px var( --mol_skin_good_back );
}
[mol_carder_status="approved"] [mol_carder_statuser] {
	background: #D6F1DD;
}

[mol_carder_status="selected"] {
	box-shadow: 0 0 0 2px var( --mol_skin_focus_back );
}
[mol_carder_status="selected"] [mol_carder_statuser] {
	background: var( --mol_skin_focus_back );
	color: var( --mol_skin_focus_fore );
}
