[mol_theme] , :root {
	background-color: var(--mol_theme_back);
	background-color: var(--mol_theme_back);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
	fill: var(--mol_theme_text);
	fill: var(--mol_theme_text);
}

[mol_theme="$mol_theme_light"] , :root {
	--mol_theme_back: hsl( 210 , 50% , 99% );
	--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 80% );
	--mol_theme_text: rgba( 0 , 0 , 0 , .9 );
	--mol_theme_control: hsla( 210 , 60% , 35% , 1 );
	--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
	--mol_theme_line: rgba( 220 , 220 , 220 , 1 );
	--mol_theme_focus: hsla( 0 , 60% , 50% , 0.75 );
	--mol_theme_field: white;
}

[mol_theme="$mol_theme_dark"] {
	--mol_theme_back: hsl( 210 , 50% , 10% );
	--mol_theme_hover: #333;
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: rgba( 255 , 255 , 255 , .8 );
	--mol_theme_control: hsla( 210 , 60% , 70% , 1 );
	--mol_theme_shade: rgba( 255 , 255 , 255 , .5 );
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_focus: rgba( 204 , 68 , 50 , .75 );
	--mol_theme_field: black;
}

[mol_theme="$mol_theme_base"] {
	--mol_theme_back: hsla( 210 , 60% , 35% , 1 );
	--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: white;
	--mol_theme_line: white;
	--mol_theme_control: white;
}

[mol_theme="$mol_theme_accent"] {
	--mol_theme_back: rgb(204, 68, 50);
	--mol_theme_hover: rgb(165, 56, 42);
	--mol_theme_text: white;
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_control: white;
}

:root {
	--mol_skin_font: 1rem/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--mol_skin_font_monospace: Monaco, monospace;
}

/* Deprecated, use mol_theme instead */

:root {
	--mol_skin_outline: 0 0 0 1px var(--mol_theme_line);
	--mol_skin_outline: 0 0 0 1px var(--mol_theme_line);
	--mol_skin_base: #3a8ccb;
	--mol_skin_base_text: white;
	--mol_skin_current: #3a8ccb;
	--mol_skin_current: var(--mol_skin_base);
	--mol_skin_current_text: white;
	--mol_skin_current_line: #1471b8;
	--mol_skin_button: var(--mol_theme_back);
	--mol_skin_button: var(--mol_skin_card);
	--mol_skin_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_skin_round: 0px;
	--mol_skin_focus_line: rgba( 0 , 0 , 0 , .2 );
	--mol_skin_focus_outline: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	--mol_skin_focus_outline: 0 0 0 1px var(--mol_skin_focus_line);
	--mol_skin_float: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	--mol_skin_float: var(--mol_skin_focus_outline);
	--mol_skin_passive: #eee;
	--mol_skin_passive_text: rgba( 0 , 0 , 0 , .5 );
	--mol_skin_light: #fcfcfc;
	--mol_skin_light_line: rgba( 230 , 230 , 230 , .75 );
	--mol_skin_light_text: rgba( 0 , 0 , 0 , .9 );
	--mol_skin_light_hover: #f7f7f7;
	--mol_skin_light_outline: 0 0 0 1px var(--mol_theme_line);
	--mol_skin_light_outline: 0 0 0 1px var(--mol_theme_line);
	--mol_skin_card: var(--mol_theme_back);
	--mol_skin_card: var(--mol_theme_back);
	--mol_skin_card_text: var(--mol_theme_text);
	--mol_skin_card_text: var(--mol_theme_text);
	--mol_skin_accent: #dd0e3e;
	--mol_skin_accent_text: white;
	--mol_skin_accent_hover: #c50d37;
	--mol_skin_warn: rgba( 255 , 50 , 50 , 0.75 );
	--mol_skin_warn_text: white;
	--mol_skin_warn_hover: rgba(255, 26, 26, 0.75);
	--mol_skin_warn_hover: color( var(--mol_skin_warn) lightness(-5%) );
	--mol_skin_good: #96DAA9;
	--mol_skin_good_text: black;
	--mol_skin_bad: #CC5252;
	--mol_skin_bad_text: white;
}

[mol_view] {
	transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	-webkit-appearance: none;
	word-break: break-word;
}

[mol_view] > * {
	word-break: inherit;
}

[mol_view_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: 1rem/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font: var(--mol_skin_font);
	background: var(--mol_theme_back);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
}

[mol_view][mol_view_error]:not([mol_view_error="$mol_atom_wait"]) {
	background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	);
	background-size: 28px 28px;
	color: black;
}

[mol_view][mol_view_error] * {
	background: none;
}

@keyframes mol_view_wait_move {

	from {
		background-position: 0 0;
	}

	to {
		background-position: 200vmax 0;
	}
}

[mol_view][mol_view_error="$mol_atom_wait"] {
	background-image: repeating-linear-gradient(
		45deg,
		hsla( 0 , 0% , 50% , .1 ) 0% ,
		hsla( 0 , 0% , 50% , 0 ) 5% ,
		hsla( 0 , 0% , 50% , 0 ) 45% ,
		hsla( 0 , 0% , 50% , .1 ) 50% ,
		hsla( 0 , 0% , 50% , 0 ) 55% ,
		hsla( 0 , 0% , 50% , 0 ) 95% ,
		hsla( 0 , 0% , 50% , .1 ) 100%
	);
	background-size: 200vmax 200vmax;
	animation: mol_view_wait_move 1s linear infinite;
}

[mol_view][mol_view_error="$mol_atom_wait"] * {
	background: none;
}

[mol_book] {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: flex-start;
	overflow: hidden;
	flex: 1 1 auto;
	align-self: stretch;
	margin: 0;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	transform: translateZ( 0 );
}

[mol_book] > *:not([mol_book_page_visible]) {
	position: absolute;
	left: 0;
	top: 0;
}

[mol_book] > [mol_book_page_focused]:not([mol_book_page_visible]) ~ * {
	opacity: .25;
	pointer-events: none;
	z-index: -1;
}

[mol_book] > *:not([mol_book_page_visible]):not([mol_book_page_focused]) {
	transform: translate3d( -100% , 0 , 0 );
}

[mol_book] > *:not([mol_book_page_visible]):not([mol_book_page_focused]) + *:before {
	content: '•••';
	position: absolute;
	top: 1rem;
	left: 0;
	z-index: 1;
	pointer-events: none;
	color: white;
	color: var(--mol_skin_base_text);
	transform: rotate(90deg);
}

[mol_book] > * {
	position: relative;

	/* animation: mol_book_page_show linear .2s; */
	transition-timing-function: linear;
	z-index: 0;
	min-height: 100%;
	max-height: 100%;
}

[mol_book_placeholder] {
	flex: 1000 1 400px;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	background: var(--mol_theme_field);
	background: var(--mol_theme_field);
	z-index: -1;
}

[mol_book_placeholder]:hover {
	outline: none;
}

@keyframes mol_book_page_show {

	from {
		transform: translateX( 100% );
		opacity: 0;
		z-index: -1;
	}
}

[mol_book_page]:not(:first-child) {
	animation: mol_book_page_show .25s ease-out;
}

[mol_link] {
	text-decoration: none;
	color: var(--mol_theme_control);
	color: var(--mol_theme_control);
	stroke: currentColor;
	cursor: pointer;
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
	padding: .5rem;
	box-sizing: border-box;
	position: relative;
}

[mol_link]:not([mol_link_current]):hover {
	background-color: var(--mol_theme_hover);
	background-color: var(--mol_theme_hover);
}

[mol_link]:not([mol_link_current]):focus {
	background-color: var(--mol_theme_hover);
	background-color: var(--mol_theme_hover);
}

[mol_link_current] {
	background-color: var(--mol_theme_current);
	background-color: var(--mol_theme_current);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
}

[mol_link]:focus {
	outline: none;
}

[mol_svg_root] {
	overflow: hidden;
}

[mol_icon] {
	fill: currentColor;
	stroke: none;
	width: 1em;
	height: 1em;
	flex: 0 0 auto;
	vertical-align: -.1em;
	will-change: transform;
}

[mol_button] {
	border: none;
	font: inherit;
	background-color: none;
	display: inline-flex;
	flex-shrink: 0;
	text-decoration: inherit;
	cursor: inherit;
	position: relative;
	box-sizing: border-box;
	word-break: normal;
	cursor: default;
}

[mol_button]:focus {
	outline: none;
}

[mol_button_typed] {
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	padding: .5rem 1rem;
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
}

[mol_button_typed][disabled] {
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
	pointer-events: none;
}

[mol_button_major] {
	box-shadow: 0 0 0 1px var(--mol_theme_back);
	box-shadow: 0 0 0 1px var(--mol_theme_back);
}

[mol_button_minor] {
	color: var(--mol_theme_control);
	color: var(--mol_theme_control);
}

[mol_button_major][disabled] {
	opacity: .5;
}

[mol_button_typed]:hover ,
[mol_button_typed]:focus {
	cursor: pointer;
	background-color: var(--mol_theme_hover);
	background-color: var(--mol_theme_hover);
}

[mol_scroll] {
	display: block;
	overflow: auto;
	flex: 1 1 auto;
	align-self: stretch;
	box-sizing: border-box;
	will-change: scroll-position;
	transform: translateZ(0);

	/* enforce gpu scroll in all agents */
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	max-height: 100%;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

[mol_scroll]::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

[mol_scroll]::-webkit-scrollbar-corner ,
[mol_scroll]::-webkit-scrollbar-track {
	background: var(--mol_theme_line);
	background: var(--mol_theme_line);
}

[mol_scroll]::-webkit-scrollbar-thumb {
	background: var(--mol_theme_control);
	background: var(--mol_theme_control);
}

/* prevent large gpu layer */

[mol_scroll][mol_scroll] {
	background: none;
}

[mol_scroll] > * {
	transform: translateZ(0);
}

@media print {

	[mol_scroll] {
		overflow: visible;
	}
}

[mol_scroll_strut] {
	position: absolute;
	display: block;
	padding: 1px 1px 0 0;
	margin: -1px 0 0 0;
	z-index: 0;
	transition: none;
}

[mol_page] {
	display: flex;
	margin: 0;
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
	align-self: stretch;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	background: var(--mol_theme_back);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
	z-index: 0;
	overflow: hidden;
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
}

[mol_page]:focus {
	outline: none;
}

[mol_page_head] {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 0 0 auto;
	position: relative;
	margin: 0;
	min-height: calc( 1.5em + 1rem );
	padding: .5rem;
}

[mol_page_title] {
	flex: 1000 1 50%;
	padding: .5rem;
	word-break: normal;
	cursor: default;
}

[mol_page_title]:empty {
	display: none;
}

[mol_page_tools] {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}

[mol_page_tools]:empty {
	display: none;
}

[mol_page_body] {
	flex: 1000 1 100%;
	margin: 0;
}

[mol_page_foot] {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	margin: 0;
	overflow: hidden;
}

[mol_list] {
	will-change: contents;
	display: block;
}

[mol_float] {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	transition: opacity .25s ease-in;
	display: block;
}

[mol_float_scrolling] {
	opacity: 0;
	transition-duration: 0;
}

[mol_check] {
	flex: 0 0 auto;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	border: none;
	font-weight: inherit;
	box-shadow: none;
	text-align: left;
	padding: .5rem;
	display: inline-flex;
	flex-wrap: nowrap;
}

[mol_check_box_icon] {
	margin: .25rem;
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
}

[mol_check]:not([mol_check_checked]) > [mol_check_box_icon] {
	fill: transparent;
}

[mol_check]:not([disabled]) > [mol_check_box_icon] {
	background: var(--mol_theme_field);
	background: var(--mol_theme_field);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
}

[mol_check_expand] {}

[mol_check_expand][disabled] [mol_check_expand_icon] {
	visibility: hidden;
}

[mol_check_expand_icon] {
	box-shadow: none;
	margin: .25rem 0;
}

[mol_check_expand]:not([mol_check_checked]) > [mol_check_expand_icon] {
	transform: rotateZ(0deg);
}

[mol_check_expand][mol_check_checked] > [mol_check_expand_icon] {
	transform: rotateZ(90deg);
}

[mol_check_expand]:hover > [mol_check_expand_icon] {
	transform: scale(1.25);
}

[mol_check_expand][mol_check_checked]:hover > [mol_check_expand_icon] {
	transform: rotateZ(90deg) scale(1.25);
}

[mol_check_box_icon] + div:not(:empty) {}

[mol_check_expand_icon] {
	vertical-align: text-top;
}

[mol_check_expand_label] {
	margin-left: 0;
}

[mol_dimmer_low] {
	opacity: 0.66;
}

[mol_grid] {
	display: block;
	flex: 1 1 auto;
	position: relative;
	background: var(--mol_theme_back);
	background: var(--mol_theme_back);
}

[mol_grid_gap] {
	position: absolute;
	padding: .1px;
	top: 0;
	transform: translateZ(0);
}

[mol_grid_table] {
	border-spacing: 0;
	transform: translateZ(0);
	position: relative;
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
}

[mol_grid_table] > * {
	display: table-row;
	transition: none;
}

[mol_grid_table] > * > * {
	display: table-cell;
	padding: 0 1rem;
	white-space: nowrap;
	vertical-align: middle;
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
}

[mol_grid_head] > * {
	background: var(--mol_theme_back);
	background: var(--mol_theme_back);
}

[mol_grid_cell_number] {
	text-align: right;
}

[mol_grid_col_head] {
	font-weight: inherit;
	text-align: inherit;
}

[mol_grid_cell_dimmer] {
	display: inline-block;
	vertical-align: inherit;
}

[mol_image] {
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
	overflow: hidden;
	flex: 0 1 auto;
	max-width: 100%;
}

[mol_link_iconed] {
	align-items: center;
	color: #3a8ccb;
	color: var(--mol_skin_base);
}

[mol_link_iconed_icon] {
	box-shadow: none;
	margin-right: 1px;
	height: 1em;
	vertical-align: -10%;
}

[mol_text] {
	line-height: 1.5;
	box-sizing: border-box;
	max-width: 60rem;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	padding: .5rem;
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
	white-space: pre-line;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	tab-size: 4;
}

[mol_text_row] {
	margin: .5rem;
	overflow: auto;
	max-width: 100%;
}

[mol_text_type="block"] {}

[mol_text_header] {
	display: block;
	padding: .5rem;
	font-weight: 500;
	margin: 0;
}

[mol_text_header_level="1"] {
	font-size: 1.5em;
}

[mol_text_header_level="2"] {
	font-size: 1.3em;
}

[mol_text_header_level="3"] {
	font-size: 1.1em;
}

[mol_text_header_level="4"] {
	font-size: 1.1em;
	font-style: italic;
}

[mol_text_header_level="5"] {
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
}

[mol_text_type="list-item"] {
	display: list-item;
}

[mol_text_type="list-item"]:before {
	content: '•';
	margin-right: 1ch;
}

[mol_text_table] {
	max-width: 100%;
	max-height: 75vh;
	overflow: auto;
	margin: .5rem;
	flex-grow: 0;
}

[mol_text_type="code-indent"] ,
[mol_text_type="code"] {
	font-family: Monaco, monospace;
	font-family: var(--mol_skin_font_monospace);
	white-space: pre-wrap;
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
}

[mol_text_type="text-link"] {
	color: var(--mol_theme_control);
	color: var(--mol_theme_control);
	text-decoration: none;
	padding: 0;
}

[mol_text_link]:hover ,
[mol_text_link]:focus {
	text-decoration: underline;
	outline: none;
}

[mol_text_image] {
	max-width: 100%;
	max-height: 75vh;
	object-fit: scale-down;
}

[mol_text_type="strong"] {
	font-weight: bolder;
}

[mol_text_type="emphasis"] {
	font-style: italic;
}

[mol_text_type="strike"] {
	text-decoration: line-through;
	color: var(--mol_theme_shade);
	color: var(--mol_theme_shade);
}

[mol_text_type="code-keyword"] {
	color: hsl(0, 70%, 60%);
}

[mol_text_type="code-field"] {
	color: hsl(300, 70%, 60%);
}

[mol_text_type="code-tag"] {
	color: hsl(330, 70%, 60%);
}

[mol_text_type="code-global"] {
	color: hsl(210, 80%, 60%);
}

[mol_text_type="code-decorator"] {
	color: hsl(180, 40%, 60%);
}

[mol_text_type="code-punctuation"] {
	opacity: .5;
}

[mol_text_type="code-string"] {
	color: hsl(90, 40%, 50%);
}

[mol_text_type="code-number"] {
	color: hsl(60, 70%, 30%);
}

[mol_text_type="code-call"] {
	color: hsl(270, 60%, 60%);
}

[mol_text_type="code-link"] {
	color: hsl(240, 60%, 60%);
}

[mol_text_type="code-comment-inline"] ,
[mol_text_type="code-comment-block"] {
	opacity: .5;
}

[mol_text_type="code-docs"] {
	opacity: .75;
}

[mol_embed_pdf] {
	width: 100%;
	height: 100%;
}

[mol_embed_pdf_pages] {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

[mol_embed_pdf_page] {
	display: block;
	margin: .5rem auto;
	image-rendering: auto;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: var(--mol_skin_light_outline);
}

[mol_embed_native] {
	min-width: 100%;
	min-height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	object-fit: scale-down;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

[mol_embed] {
	min-width: 100%;
	min-height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

[mol_app_files_folder] {
	flex: 1 1 auto;
	width: 400px;
}

[mol_app_files_folder_body] {
	padding: .5rem;
}

[mol_app_files_folder_description] {
	padding: 0;
}

[mol_app_files_folder_folder_rows] {
	min-height: 100%;
}

[mol_app_files_folder_row] {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	word-break: break-word;
	padding: .25rem;
}

[mol_app_files_folder_row_info] {
	display: block;
	flex: 1 1 auto;
}

[mol_app_files_folder_row_title] {
	margin: .25rem;
	display: block;
}

[mol_app_files_folder_row_descr] {
	opacity: .66;
	white-space: nowrap;
	margin: .5rem;
	font-size: .8rem;
	float: right;
}

[mol_app_files_file] {
	flex: 1000 1 auto;
	width: 800px;
	align-self: stretch;
}

[mol_app_files_file_embed] {
	align-self: stretch;
	flex: 1 1 auto;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: 0px;
	border-radius: var(--mol_skin_round);
}

[mol_app_files_file_body] {
	overflow: hidden;
}

[mol_app_files_icon_file] ,
[mol_app_files_icon_folder] {
	margin: .25rem;
	zoom: 1.5;
	opacity: .66;
}

[mol_demo_large] {
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	box-shadow: inset 0 0 0 .5px var(--mol_theme_line);
	background: var(--mol_theme_back);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
	color: var(--mol_theme_text);
	position: relative;
	flex: 1 0 auto;
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
	align-self: stretch;
}

/*# sourceMappingURL=web.css.map */