[mol_plot_group_sample] {
	position: relative;
	height: 2rem;
	min-width: 1.5rem;
	margin-top: 2rem;
	box-sizing: border-box;
}

[mol_plot_group_sample] > * {
	position: absolute;
}

[mol_plot_dot_sample] {
	margin-top: -.2rem;
}
