[mol_app_demo_menu] {
	flex: 0 0 18rem;
}

[mol_app_demo_menu_selector] {
	display: flex;
	flex-wrap: nowrap;
	gap: 0;
}

[mol_app_demo_menu_tools] {
	padding: 0;
}

[mol_app_demo_menu_themes] {
	flex: none;
}

[mol_app_demo_menu_filter] {
	align-self: stretch;
	flex-grow: 0;
	flex-shrink: 0;
}
