[mol_app_agreement_detailer_contenter] {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	padding: 0 1rem;
}

[mol_app_agreement_detailer_contenter] > * {
	margin: 1rem 0;
	/*flex: 1 1 100%;*/
}

[mol_app_agreement_detailer_posLister] > * {
	margin: 1rem 0;
}

[mol_app_agreement_detailer_backer] {
	color: var(--mol_skin_base_fore);
	padding: 0 .5rem;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1.5em;
}

[mol_app_agreement_detailer_consContent] > * {
	flex: 1 1 10rem;
	align-items: baseline;
}

[mol_app_agreement_detailer_orgContent] > * {
	flex: 1 1 10rem;
	align-items: baseline;
}
