[mol_check_box_icon] {
	border-radius: var(--mol_skin_round);
	box-shadow: inset 0 0 0 1px var(--mol_theme_line);
}

[mol_check]:not([mol_check_checked]) > [mol_check_box_icon] {
	fill: transparent;
}

[mol_check]:not([disabled]) > [mol_check_box_icon] {
	background: var(--mol_theme_field);
	color: var(--mol_theme_text);
}

[mol_check_box_title] {
	margin-left: .25rem;
}
