[mol_check][disabled] > [mol_check_box_icon] {
	background-color: var(--mol_skin_passive);
}

[mol_check_box_icon] {
	margin: .25rem;
	border-radius: var(--mol_skin_round);
	box-shadow: var(--mol_skin_light_outline);
	color: var(--mol_skin_light_text);
}

[mol_check]:not([mol_check_checked]) > [mol_check_box_icon] {
	fill: transparent;
}

[mol_check]:not([disabled]) > [mol_check_box_icon] {
	background: white;
}
