[mol_link_iconed_demo] {
	padding: .5rem;
	flex: auto;
	display: flex;
	flex-direction: column;
}

[mol_link_iconed_demo_input] {
	display: block;
	margin: .5rem;
}

[mol_link_iconed_demo_output] {
	display: block;
}
