[mol_checker] {
	justify-content: center;
	align-items: center;
	align-content: center;
	border: none;
	box-shadow: none;
	/*padding: .5rem 0;*/
	font-weight: normal;
}

[mol_checker][mol_clicker_enabled="true"]:hover:before ,
[mol_checker_checked="true"]:before {
	background: var( --mol_skin_base_back );
	box-shadow: none;
}

[mol_checker]:before {
	content: '✔';
	color: transparent;
	border-radius: var( --mol_skin_round );
	width: 1.2rem;
	height: 1.2rem;
	flex: 0 0 1.2rem;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	opacity: .75;
	transform: translateZ(0);
}

[mol_checker]:not(:empty):before {
	margin-right: .5rem;
}

[mol_checker_checked="false"]:before {
	background: white;
	box-shadow: 0 0 0 1px var( --mol_skin_light_fore );
}

[mol_checker_checked="true"]:before {
	color: var( --mol_skin_base_fore );
}
