[mol_checker] {
	flex: 0 1 auto;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	border: none;
	font-weight: normal;
	box-shadow: none;
	text-align: left;
}

[mol_checker_icon] {
	display: inline-flex;
	vertical-align: -10%;
}

[mol_checker_labeler] {
	display: inline-flex;
}
