[mol_image2] {
	flex: 0 1 auto;
	max-width: 100%;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	border-radius: var(--mol_skin_round);
	overflow: hidden;
}

[mol_image2_content] {
	display: block;
	background-size: cover;
	background-position: top center;
	flex: auto;
}
