[mol_texter] {
	line-height: 1.5;
	max-width: 60rem;
	background: var(--mol_skin_card);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
	padding: 1rem;
	border-radius: var(--mol_skin_round);
	white-space: pre-line;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

[mol_texter_rower] {
	margin: .5rem;
	overflow: auto;
	max-width: 100%;
}

[mol_texter_type="block"] {
}

[mol_texter_type="header"] {
	font-size: 1.5rem;
}

[mol_texter_type="list-item"] {
	list-style: inside;
	display: list-item;
}

[mol_texter_tabler] {
	max-width: 100%;
	max-height: 50vh;
	overflow: auto;
	margin: .5rem;
	flex-grow: 0;
}

[mol_texter_type="code"] {
	font-family: monospace;
	white-space: pre;
	font-size: .9rem;
	background: var(--mol_skin_light);
	color: var(--mol_skin_light_text);
	border-radius: var(--mol_skin_round);
	padding: 1px;
}

[mol_texter_type="text-link"] {
	color: var(--mol_skin_base);
	text-decoration: none;
}

[mol_texter_linker]:hover ,
[mol_texter_linker]:focus {
	text-decoration: underline;
	outline: none;
}

[mol_texter_imager] {
	max-width: 100%;
}

[mol_texter_type="strong"] {
	font-weight: bolder;
}

[mol_texter_type="emphasis"] {
	font-style: italic;
}
