[mol_portioner] {
	display: flex;
	height: 1.25rem;
	flex: 1 1 8rem;
	width: 8rem;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_skin_light_line);
}

[mol_portioner_indicator] {
	background-color: var(--mol_skin_base);
	color: var(--mol_skin_base_text);
	border-radius: var(--mol_skin_round);
}
