[mol_portioner] {
	display: flex;
	background-color: var(--mol_skin_light);
	height: 1.25rem;
	flex: 1 1 10rem;
	border-radius: var(--mol_skin_round);
	box-shadow: 0 0 0 1px var(--mol_skin_base);
}

[mol_portioner_indicator] {
	background-color: var(--mol_skin_base);
	color: var(--mol_skin_base_text);
	border-radius: var(--mol_skin_round);
}