name: Deploy

on:
  push:
    branches: 
    - master
  pull_request:
  schedule:
  - cron: "0 7 * * *"

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    
    - name: Environment Printer
      uses: managedkaos/print-env@v1.0
    
    - name: Build apps
      uses: hyoo-ru/mam_build@master2
      with:
        package: mol
        modules: app/demo app/hello app/supplies perf/sierp perf/uibench perf/dbmon perf/dopes app/quine app/questions time/all plot/all fiber/demo app/report syntax2 func/sandbox/demo
        
    - name: Consolidate apps
      run: |
        rm -rf mol/.git
        rm -rf mol/.github
        rm -rf mol/.gitignore
        
    - name: Deploy on GitHub Pages
      if: github.ref == 'refs/heads/master'
      uses: alex-page/blazing-fast-gh-pages-deploy@v1.1.0
      with:
        repo-token: ${{ secrets.GH_PAT }}
        site-directory: mol

