name: $mol

on:
  workflow_dispatch:
  push:
    branches: 
    - master
  pull_request:
  schedule:
  - cron: "0 7 * * *"

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    
    - name: Environment Printer
      uses: managedkaos/print-env@v1.0
    
    - name: Build apps
      uses: hyoo-ru/mam_build@master2
      with:
        token: ${{ secrets.GH_PAT }}
        package: mol
        modules: app/docs app/hello app/supplies perf/jsfb perf/sierp perf/uibench perf/dbmon perf/dopes app/quine app/questions time/all plot/all app/report syntax2 func/sandbox/demo
        
    - name: Consolidate apps
      run: |
        rm -rf mol/.git
        rm -rf mol/.github
        rm -rf mol/.gitignore
        rm -rf mol/icon
        
    - uses: hyoo-ru/gh-deploy@v4.4.1
      if: github.ref == 'refs/heads/master'
      with:
        folder: 'mol'
  
  notify:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - uses: peter-evans/repository-dispatch@v3
      with:
        # token: ${{ secrets.PAT }}
        repository: ${{ matrix.repo }}
        event-type: dependency_changed
        # client-payload: '{"repository":${{ toJson(github.event.repository.name) }}}'
    strategy:
      matrix:
        repo:
          - hyoo-ru/mol.hyoo.ru
