[mol_tiler] {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding: .5rem;
}

[mol_tiler_group] {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 50%;
	align-items: stretch;
}

[mol_tiler_item] {
	flex: 1 1 10%;
	margin: .5rem;
	align-items: stretch;
	display: flex;
}
