[mol_embed_native] {
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	max-height: 100vh;
	object-fit: cover;
	display: flex;
	flex: 1 1 auto;
	object-position: top left;
	border-radius: var(--mol_gap_round);
	aspect-ratio: 4/3;
	border: none;
}
