[mol_app_bench_mainer_bodier] {
	display: flex;
	height: auto;
	flex: 0 1 auto;
	overflow: hidden;
}

[mol_app_bench_menu] {
	padding: .5rem;
}

[mol_app_bench_tester] {
	border: none;
	flex: 1 0 50%;
	position: relative;
	width: 100%;
	height: 100%;
}

[mol_app_bench_descriptioner] {
	padding: .5rem 1rem;
	flex: 0 2 50%;
	max-width: none;
}

[mol_app_bench_resulter] {
	background: var(--mol_skin_card);
	flex: 0 1 50%;
}

[mol_app_bench_menu] {
	display: flex;
	flex-direction: column;
}

[mol_app_bench_resulterHeader] {
	cursor: pointer;
}

[mol_app_bench_resulterCellerNumber] {
	white-space: nowrap;
	text-align: right;
}

[mol_app_bench_resultPortioner] {
	display: inline-flex;
	vertical-align: bottom;
	margin-left: .5rem;
	width: 5vw;
}
