[mol_app_bench_mainer_bodier] {
	display: flex;
	height: auto;
	flex: 0 1 auto;
	padding: .5rem;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

[mol_app_bench_menu] {
	padding: .5rem;
}

[mol_app_bench_tester] {
	border: none;
	flex: 1 0 50%;
	position: relative;
}

[mol_app_bench_resulter] {
	margin: .5rem;
	flex: 0 0 auto;
	background: var(--mol_skin_card);
}

[mol_app_bench_menu] {
	display: flex;
	flex-direction: column;
}

[mol_app_bench_resulterHeader] {
	cursor: pointer;
}

[mol_app_bench_resulterCellerNumber] {
	white-space: nowrap;
	text-align: right;
}

[mol_app_bench_resultPortioner] {
	display: inline-flex;
	vertical-align: bottom;
	margin-left: .5rem;
	width: 5vw;
}

[mol_app_bench_descriptioner] {
	margin: .5rem;
	padding: .5rem 1rem;
	flex: 0 1 30em;
}
