namespace $ {
	export class $mol_view_tree2_compile_test_sample_regular extends $mol_view {

		/**
		 * ```tree
		 * str \some
		 * ```
		 */
		str() {
			return "some"
		}

		/**
		 * ```tree
		 * num 123
		 * ```
		 */
		num() {
			return 123
		}

		/**
		 * ```tree
		 * bool true
		 * ```
		 */
		bool() {
			return true
		}

		/**
		 * ```tree
		 * nul null
		 * ```
		 */
		nul() {
			return null as any
		}
	}

}
